#ad-analysis {
    background: rgba(250, 250, 250, .75);
    margin-bottom: 50px;
    padding-top: 0px;
    /*测试用的边框*/
    .border-test {
        border: 1px solid red
    }  // bata 标志
    .ads-label-beta {
        display: inline-block;
        font-weight: 200;
        background: #4fc3a0;
        font-size: 12px;
        padding: 0 6px;
        border-radius: 8px;
        color: #fff;
        margin: 0 5px;
    } 
    .analysis-title {
        margin-top: 50px;
        padding: 15px;
        border-bottom: 1px solid rgba(51, 122, 183, 0.38);
        color: #337ab7;
    }
    .analy-down-icon{
        margin-right: 4px;
    }
    .analy-trend-up{
        color: #4fc3a0;
        margin: 0 5px;
    }
    .analy-trend-down{
        color: #ed6b75;
        margin: 0 5px;
    }
    // facebook objective 原生图标
    .fb-oj-icon {
        background: url('/images/analysis/object_icon.png') no-repeat;
        box-sizing: content-box;
        height: 24px;
        width: 24px;
        overflow: hidden;
        display: inline-block;
    }
    .oj-APP_INSTALLS {
        background-position: 0 -77px;
    }

    .oj-BRAND_AWARENESS {
        background-position: 0 -102px;
    }

    .oj-CANVAS_APP_INSTALLS {
        background-position: 0 -51px;
    }

    .oj-EVENT_RESPONSES {
        background-position: 0 -126px;

    }

    .oj-LEAD_GENERATION {
        background-position: 0 -152px;
    }

    .oj-LINK_CLICKS {
        background-position: 0 -352px;
    }

    .oj-LOCAL_AWARENESS {
        background-position: 0 -177px;
    }

    .oj-PAGE_LIKES {
        background-position: 0 -227px;
    }

    .oj-POST_ENGAGEMENT {
        background-position: 0 -251px;
    }

    .oj-PRODUCT_CATALOG_SALES {
        background-position: 0 -2px;    
    }

    .oj-REACH {
        background-position: 0 -277px;
    }

    .oj-STORE_VISITS {
        background-position: 0 -302px;
    }

    .oj-VIDEO_VIEWS {
        background-position: 0 -327px;
    }

    .oj-WEBSITE_CONVERSIONS {
        background-position: 0 -377px;
    }
    
    // 背景高斯模糊
    .ads-filder-blur{
        width: 100%;
        height: 100%;
        -webkit-filter: blur(30px);
        -moz-filter: blur(30px);
        -o-filter: blur(30px);
        -ms-filter: blur(30px); // IE 貌似不支持
        filter: blur(30px);
        overflow: hidden;
    }
    
    // 提示升级
    .analy-upgrade {
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        background: rgba(0, 0, 0, .35);
        display: flex;
        justify-content: center;
        align-items:center;
        color: #fff;
        &:hover{
            text-decoration: underline;
        }
    }
    // 概述
    .analy-overview {
        /*广告卡主体*/
        position: relative;
        margin-top: 0px;
        background: #fff;
        padding-bottom: 15px;
        .back-img{
            position: absolute;
            height: 100%;
            width: auto;
            right: 0;
            -webkit-filter: opacity(29%);
            filter: opacity(29%);
            z-index: -1;
        }
        .overview-body{
            padding: 15px;
            height: 230px;
            background: #eee;
            overflow: visible;
        }
        .overview-body-bottom{
            .info-rate{
                display: flex;
                .rate-wrapper{
                    flex:1;
                }

            }
            .info-device{
                display: flex;
                .device-chart{
                    display: flex;
                    .charts-wrapper{
                        .charts-dev{
                        width: 160px;
                        height: 160px;  
                        }
                    }
                }
                .device-data{
                    flex:1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .data-wrapper{
                        display: flex;
                        align-items: center;
                        .device-icon{
                            width: 32px;
                            text-align: center;
                            margin-right: 8px; 
                        }
                    }
                    .device-pc-wrapper{
                        .device-icon{
                            color:#337ab7
                        }

                    }
                    .device-mobile-wrapper{
                        margin-top: 25px;
                        .device-icon{
                            color:#7cb5ec
                        }
                    }

                }
                
            }
        }
        .analy-adscard {
            display: flex;
            justify-content: center;
            .adscard-body {
                background: #fff;
                min-height: 300px;
                transition: min-height ease-out 0.2s;
                padding: 12px;
                border: 1px solid #e5e5e5;
                border-radius: 3px;
                box-shadow: 0px 0 10px -2px rgba(0,0,0,.35);
            }
            .adscard-footer {
                padding: 5px;
                margin-top: 10px;
                min-height: 20px;
                display: flex;
                align-items: center;
                .icon-love {
                    margin-left: -6px;
                }
                .icon-surp {
                    margin-left: -6px;
                }
                .adscard-likedata {
                    color: #365899;
                    margin-left: 4px;
                }
                .adscard-comments {
                    flex: 1;
                    .comments-text {
                        margin-left: 5px;
                        font-weight: 600;
                        color: #365899;
                    }
                }
            }
        }

        .adscard-header {
            display: flex;
            img {
                height: 40px;
                width: 40px;
                margin-right: 8px;
            }
            .card-adsername-div {
                width:calc(100% - 40px - 8px - 30px);
                .card-adsername {
                    margin: 0;
                    color: #365899;
                }
                .card-time {
                    margin: 0;
                    color: #90949c;
                }
            }
        }
        .adscard-card {
            p {
                margin: 0;
                margin-bottom: 8px;
                font-size: 15px;
                color: #1d2129;
            }
            .xg-span-description {
                font-size: 13px;
            }
            .aditem-caption {
                font-size: 12px;
                color: #90949c;
            }
        }
        .analy-info {
            .analy-info-wrapper {
                .info-list {
                    min-height: 24px;
                    display: flex;
                    align-items: center;
                    margin: 10px 0;
                    .info-list-name{
                        font-size: 18px;
                        font-weight: 600;
                        color:#337ab7;
                    }
                    .info-list-value{
                        font-size: 14px;
                        font-weight: normal;
                        color:#4b4f56;
                        margin-left: 5px;
                        display: flex;
                        align-items: center;
                        .ads-obje-icon{
                            margin-right: 8px;

                        }
                    }
                    .info-list-err{
                        font-size: 14px;
                        font-weight: 200;
                        margin-left: 5px;
                        display: flex;
                        align-items: center;
                        .extension-link{
                            margin-left: 8px;
                        }
                    }
                }
                .info-but{
                    margin-top: 35px;
                }
            }
        }
        .analy-info.info-fixed {
            position: fixed;
            top: 244px;
            right: 0px;
        }
        .analy-info.info-position {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    .analy-charts {
        margin-top: 30px;
        .charts-title {
            font-size: 22px;
            font-weight: 600;
            color: #eb6130;
            margin: 8px;
        }
        .charts-subtitle {
            font-size: 16px;
            color: #ccc;
            margin: 8px;
            margin-bottom: 15px;
        }
        .charts-wrapper {
            height: 300px;
            background: #fff;
            padding: 15px;
        }
    }
    .charts-wrapper {
        display: flex;
        justify-content: center;
        .charts-line {
            flex: 1;
        }
        .charts-pie {
            flex: 1;
        }
        .charts-bar {
            flex: 1;
        }
        .charts-adsmap {
            flex: 1;
        }
        .analy-adstable {
            flex: 1;
        }
    }
    .analy-audience {
        .audience-wrapper{
            position: relative;
            .audience-charts{
                width: 100%;
                height: 100%;
                -webkit-filter: blur(10px);
                -moz-filter: blur(10px);
                -o-filter: blur(10px);
                -ms-filter: blur(10px);
                filter: blur(30px);
                overflow: hidden;
            }
        }
        .analy-interst {
            padding: 15px;
            background: #fff;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .audieces-list-wrapper {
                flex: 1;
                flex-direction: column;
            }
            .audieces-list {
                height: 40px;
                display: flex;
                align-items: center;
                border-bottom: 1px solid #eee;
                &:hover{
                    background: #efefef;
                }
                .audieces-icon {
                    margin-left: 4px;
                    margin-right: 8px;
                    color: #eb6130;
                }
                .audieces-type {
                    width: 30%;
                    min-width: 130px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .audieces-name {
                    margin-left: 8px;
                    flex: 1;
                    margin-bottom: 0px;
                }
                .audieces-value {
                    width: 100px;
                    margin-left: 20px;
                }
            }
            .audieces-footer {
                padding: 5px 10px;
                background: #b0d5f9;
                .turnpage-button {
                    margin-left: 8px;
                }
            }
        }
    }
    .analy-share {
        .analy-shar-wrapper {
            background: #fff;
            padding: 15px 0;
            .charts-wrapper {
                padding-left: 0;
                padding-right: 0;
            }
            .adsmapchart-wrapper{
                position: relative;
            }
            .analy-table{
                height: 350px;
                overflow: hidden;
            }
        }
    }

    .analy-table {
        .analy-map-table{
            display: flex;
            height: 350px;
            flex-direction: column;
            justify-content: flex-end;
            .map-table-wrappe{
                flex:1;
                .country-warning{
                    margin-top: 15px;
                }
            }
            .map-table-footer{
                padding: 5px 10px;
                background: #b0d5f9;
                .turnpage-button {
                    margin-left: 8px;
                } 
            }
        }
        .analy-adstable {
            margin: 0;
            thead {
                background: #7cb5ec;
            }
            .analy-td1 {
                width: 10%;
                min-width: 20px;
                text-align: center;
            }
            .analy-td2 {
                width: 30%;
                .country-name {
                    min-width: 40px;
                    max-width: 200px;
                }
            }
            .analy-td3 {
                width: 20%;
                min-width: 30px;
            }
            .progress-wrapper {
                height: 20px;
                display: flex;
                align-items: center;
                .percent-number {
                    padding: 5px;
                }
                .progress {
                    flex: 1;
                    height: 80%;
                    margin-bottom: 0
                }
            }
            tfoot {
                background: #b0d5f9;
                .table-turnpage {
                    display: flex;
                    justify-content: flex-end;
                    .page-num {
                        margin-right: 10px;
                    }
                    .turnpage-button {
                        margin: 0 5px;
                    }
                }
            }
        }
    }
    /*没数据样式*/
    .analy-nodata {
        width: 100%;
        height: 300px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    /*
    * 移动端适配 iphone 6 画稿
    * px 转 rem 函数为px()
    */
    @media screen and (max-width: 768px) {
        .analy-overview {
            .overview-body{
                height: auto;
                padding: 0;
                padding-bottom: 15px;
            }
            .analy-info,
            .analy-info.info-fixed,
            .analy-info.info-position {
                position: static !important; //移动点为垂直排列，取消定位
            }
        }
        .analy-audience {
            .analy-interst {
                padding: 0;
                .stat-wrapper {
                    .stat-number {
                        width: px(50);
                    }
                    .stat-progress {
                        width: px(150);
                    }
                }
            }
        }
    }
    /*
    * pad适配
    */
    @media screen and (min-width:769px) and (max-width:1024px){
        .analy-overview{
            .analy-info-wrapper{
                width:345px;
            }
        }
        .overview-body{

        }
    }
}