<!-- BEGIN MAIN CONTENT -->
<div id="plans" class="row">
    <!--plan card-->
    <div class="plan-banner">
        <div class="container">
            <p class="ads-font-36 ads-weight-400 text-center plan-title">What Are You Waiting For?</p>
            <p class="ads-font-20 ads-weight-400 plan-suptitle text-center">Join thousands of users to know your competitor's profitable marketing strategy now.</p>
            <div class="plan-card-wrapper text-center">
                <div class="plan-card plan-card-blue">
                    <a href="/register">
                        <div class="card-front card-body">
                            <div class="card-header ads-font-30 ads-weight-200">Free</div>
                            <div class="card-content">
                                <div class="ads-font-24 ads-weight-200 card-text">It's Free</div>
                                <div class="text-center card-money">
                                    <span class="ads-font-16">$</span>
                                    <span class="ads-font-48 ads-weight-200">00</span>
                                    <span class="ads-font-14">.00 / month</span>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button class="btn get-start-btn ads-weight-600">
                                    Get Start
                                </button>
                            </div>
                        </div>
                    </a>
                </div>
                <!--lite-->
                <div class="plan-card plan-card-orange" ng-class="{'transform-turn': turnLiteCard}">
                    <div class="card-front card-body" turn-back="lite-card" ng-click="turnLiteCard = true">
                        <div class="card-header ads-font-30 ads-weight-200">Lite <span class="ads-font-12">(BETA)</span></div>
                        <div class="card-content">
                            <div class="ads-font-24 ads-weight-200 card-text">Start from</div>
                            <div class="text-center card-money">
                                <span class="ads-font-16">$</span>
                                <span class="ads-font-48 ads-weight-200">24</span>
                                <span class="ads-font-14">.99 / month</span>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button class="btn get-start-btn ads-weight-600">
                                Select Plan
                            </button>
                        </div>
                    </div>
                    <div class="card-back card-body">
                        <div class="back-header ads-font-22 ads-weight-200 text-center" ng-click="turnLiteCard = false">
                            7-day money-back
                            <span class="fa fa-chevron-circle-left back-button ads-font-24" ></span>
                        </div>
                        <div class="price-list-wrapper">
                            <div class="price-list" pay-check name="lite_monthly">
                                <div class="ads-weight-200">
                                    <span class="ads-font-24 ">Monthly </span> (
                                    <span class="ads-font-18">$59.99</span><span class="ads-font-14">/m</span>)
                                </div>
                            </div>
                            <a class="price-list" pay-check name="lite_quarterly">
                                <div class="ads-weight-200">
                                    <span class="ads-font-24 ads-weight-200">Quarterly</span> (
                                    <span class="ads-font-16">$39.99</span><span class="ads-font-12">/m</span>)
                                </div>
                                <p class="ads-font-12 price-list-text">
                                    Billed as One payment of $119.97
                                </p>
                            </a>
                            <a class="price-list" pay-check name="lite_annual">
                                <div class="ads-weight-200">
                                    <span class="ads-font-24 ads-weight-200">Annual</span> (
                                    <span class="ads-font-16">$24.99</span><span class="ads-font-12">/m</span>)
                                </div>
                                <p class="ads-font-12 price-list-text">
                                    Billed as One payment of $299.88
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <!--standart-->
                <div class="plan-card plan-card-orange" ng-class="{'transform-turn': turnStandardCard}">
                    <div class="card-front card-body" ng-click="turnStandardCard = true">
                        <div class="card-header ads-font-30 ads-weight-200">Standard</div>
                        <div class="card-content">
                            <div class="ads-font-24 ads-weight-200 card-text">Start from</div>
                            <div class="text-center card-money">
                                <span class="ads-font-16">$</span>
                                <span class="ads-font-48 ads-weight-200">65</span>
                                <span class="ads-font-14">.00 / month</span>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button class="btn get-start-btn ads-weight-600" href="">
                                Select Plan
                            </button>
                        </div>
                    </div>
                    <div class="card-back card-body">
                        <div class="back-header ads-font-22 ads-weight-200 text-center" ng-click="turnStandardCard = false">
                            7-day money-back
                            <span class="fa fa-chevron-circle-left back-button ads-font-24"></span>
                        </div>
                        <div class="price-list-wrapper">
                            <a class="price-list" pay-check name="standard_monthly">
                                <div class="ads-weight-200">
                                    <span class="ads-font-24 ">Monthly </span> (
                                    <span class="ads-font-18">$99.00</span><span class="ads-font-14">/m</span>)
                                </div>
                            </a>
                            <a class="price-list" pay-check name="standard_quarterly">
                                <div class="ads-weight-200">
                                    <span class="ads-font-24 ads-weight-200">Quarterly</span> (
                                    <span class="ads-font-16">$79.00</span><span class="ads-font-12">/m</span>)
                                </div>
                                <p class="ads-font-12 price-list-text">
                                    Billed as One payment of $237.00
                                </p>
                            </a>
                            <a class="price-list" pay-check name="standard_annual">
                                <div class="ads-weight-200">
                                    <span class="ads-font-24 ads-weight-200">Annual</span> (
                                    <span class="ads-font-16">$65.00</span><span class="ads-font-12">/m</span>)
                                </div>
                                <p class="ads-font-12 price-list-text">
                                    Billed as One payment of $780.00
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--plan table-->
    <div class="plan-table container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1 table-responsive alert">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td class="ads-font-12 ads-weidth-600 text-center">FEATURES</td>
                            <td class="ads-font-24 ads-weidth-600 text-center">Free</td>
                            <td class="ads-font-24 ads-weidth-600 text-center">
                                Lite
                                <p class="plan-small">BETA</p>
                            </td>
                            <td class="ads-font-24 ads-weidth-600 text-center">Standard</td>
                            <td class="ads-font-24 ads-weidth-600 text-center">
                                Plus</p>
                                <p class="plan-small">coming soon</p>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-item-title">
                            <td>Data Time Interval</td>
                            <td>3 Months</td>
                            <td>2 weeks</td>
                            <td>Daily</td>
                            <td>Daily</td>
                        </tr>
                        <tr>
                            <td>Search Mode</td>
                            <td><i class="plan-right"></i></td>
                            <td><i class="plan-right"></i></td>
                            <td><i class="plan-right"></i></td>
                            <td><i class="plan-right"></i></td>
                        </tr>
                        <tr>
                            <td>Sort by Filter</td>
                            <td><i class="plan-right"></i></td>
                            <td><i class="plan-right"></i></td>
                            <td><i class="plan-right"></i></td>
                            <td><i class="plan-right"></i></td>
                        </tr>
                        <tr class="table-item-title">
                            <td>Call to Action Filter</td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                        </tr>
                        <tr class="table-item-title">
                            <td>Language Filter
                                <span class="plan-beta">BETA<span>
                        </td>
                        <td>
                            <i class="plan-right"></i>
                        </td>
                        <td>
                            <i class="plan-right"></i>
                        </td>
                        <td>
                            <i class="plan-right"></i>
                        </td>
                        <td>
                            <i class="plan-right"></i>
                        </td>
                    </tr>
                    <tr class="table-item-title">
                        <td>Ad Placement Filter</td>
                        <td><i class="plan-error"></i></td>
                        <td><i class="plan-right"></i></td>
                        <td><i class="plan-right"></i></td>
                        <td><i class="plan-right"></i></td>
                    </tr>
                    <tr class="table-item-title">
                        <td>Ad Type Filter</td>
                        <td>
                            <i class="plan-error"></i>
                        </td>
                        <td>
                            <i class="plan-right"></i>
                        </td>
                        <td>
                            <i class="plan-right"></i>
                        </td>
                        <td>
                            <i class="plan-right"></i>
                        </td>
                    </tr>
                    <tr class="table-item-title">
                        <td>Objective Filter
                            <span class="plan-beta">BETA<span>
                            </td>
                            <td>
                                <i class="plan-error"></i>
                            </td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>Customized Ad Duration Filter
                            </td>
                            <td>
                                <i class="plan-error"></i>
                            </td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>Customized Ad Engagement Filter
                            </td>
                            <td><i class="plan-error"></i></td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                        </tr>
                        <tr class="table-item-title">
                            <td>Country Filter
                                <span class="plan-beta">BETA<span>
                        </td>
                        <td>
                            <i class="plan-error"></i>
                        </td>
                        <td>
                            <i class="plan-error"></i>
                        </td>
                        <td>
                            <i class="plan-right"></i>
                        </td>
                        <td>
                            <i class="plan-right"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Audience Filter
                            <span class="plan-beta">BETA<span>
                        </td>
                        <td><i class="plan-error"></i></td>
                        <td><i class="plan-error"></i></td>
                        <td>
                            <i class="plan-right"></i>
                        </td>
                        <td>
                            <i class="plan-right"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Customized Time Filter</td>
                        <td>
                            <i class="plan-error"></i>
                        </td>
                        <td>
                            <i class="plan-error"></i>
                        </td>
                        <td>
                            <i class="plan-right"></i>
                        </td>
                        <td>
                            <i class="plan-right"></i>
                        </td>
                    </tr>
                    <tr class="table-item-title">
                        <td>Eshop Platform Filter
                            <span class="plan-beta">BETA<span>
                        </td>
                        <td><i class="plan-error"></i></td>
                        <td>
                            <i class="plan-error"></i>
                        </td>
                        <td>
                            <i class="plan-right"></i>
                        </td>
                        <td>
                            <i class="plan-right"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Ad Insight <span class="plan-beta">BETA<span></td>
                            <td>Limited</td>
                            <td>Limited</td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                        </tr>
                        <tr class="table-item-title">
                            <td>Ad Bookmark</td>
                            <td>Single</td>
                            <td>
                                Multiple
                            </td>
                            <td>
                                Multiple
                            </td>
                            <td>
                                Unlimited
                            </td>
                        </tr>
                        <tr>
                            <td>Advanced Sort by Filter</td>
                            <td><i class="plan-error"></i></td>
                            <td>
                                <i class="plan-error">
                        </td>
                        <td>
                            <i class="plan-error">
                        </td>
                        <td><i class="plan-right"></i></td>
                        </tr>
                        <tr class="table-item-title">
                            <td>Keyword Analysis</td>
                            <td><i class="plan-error"></i></td>
                            <td>
                                <i class="plan-error"></i>
                            </td>
                            <td>
                                <i class="plan-error"></i>
                            </td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>Advertiser Search</td>
                            <td><i class="plan-error"></i></td>
                            <td>
                                <i class="plan-error"></i>
                            </td>
                            <td>
                                <i class="plan-error"></i>
                            </td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>Advertiser Analysis</td>
                            <td>
                                <i class="plan-error"></i>
                            </td>
                            <td>
                                <i class="plan-error"></i>
                            </td>
                            <td>
                                <i class="plan-error"></i>
                            </td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                        </tr>
                        <tr class="table-item-title">
                            <td>Competitor Analysis</td>
                            <td>
                                <i class="plan-error"></i>
                            </td>
                            <td>
                                <i class="plan-error"></i>
                            </td>
                            <td>
                                <i class="plan-error"></i>
                            </td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>Advertiser Bookmark</td>
                            <td>
                                <i class="plan-error"></i>
                            </td>
                            <td>
                                <i class="plan-error"></i>
                            </td>
                            <td>
                                <i class="plan-error"></i>
                            </td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot class="hidden">
                        <tr class="text-center" id="app-to-top">
                            <td class="tfoot-item-titel">
                            </td>
                            <td>
                                <a href="#plan" class="btn">Start Now</a>
                            </td>
                            <td>
                                <a href="#plan" class="btn">Start Now</a></td>
                            <td>
                                <a href="#plan" class="btn">Start Now</a></td>
                            <td>
                                <a href="#plan" class="btn">Start Now</a></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
