/*覆盖样式*/

.page-header {
    height: 50px;
}


/*legacy 插件样式干扰，强行覆盖*/

.page-content {
    .container-fluid {
        padding: 0;
    }
}

#plans {
    a {
        &:hover {
            text-decoration: none;
        }
        &:active {
            text-decoration: none;
        }
        color: inherit;
    }
    .btn {
        background: #eb6130;
        color: #fff;
        transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.18);
    }
    .btn:hover {
        color: #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.26);
    }
    .plan-right {
        display: block;
        margin: 0 auto;
        height: 20px;
        width: 20px;
        background: url(/static/images/svg/right_01.svg) no-repeat center center;
    }
    .plan-error {
        display: block;
        margin: 0 auto;
        height: 20px;
        width: 20px;
        background: url(/static/images/svg/error_01.svg) no-repeat center center;
    }
    .plan-beta {
        padding: 0px 6px;
        border-radius: 8px;
        margin-left: 5px;
        background: #28b873;
        font-size: 12px;
        font-weight: 200;
        color: #fff;
    }
    .plan-header {
        padding: 50px 0;
        .header-title {
            color: #1D96F3;
        }
        .header-suptitle {
            color: #98A7B4;
            margin-top: 30px;
        }
    }
    .plan-small {
        color: #1D96F3;
        font-size: 12px;
        font-weight: 200;
        margin-left: 5px;
    }

    .plan-banner {
        padding-top: 50px;
        padding-bottom: 100px;
        margin-bottom: 80px;
        background-image: linear-gradient(to top, #ccc 0%, #68e0cf 100%);
        .plan-suptitle {
            margin-top: 30px;
        }
        .plan-card-wrapper {
            box-sizing: border-box;
            margin-top: 80px;
            .plan-card {
                // text-align: left;
                width: 280px;
                height: 380px;
                position: relative;
                display: inline-block;
                margin: 0 30px 40px;
                border-radius: 6px;

                perspective: 800px;
                -webkit-perspective: 800px; // 定义子元素保留3d位置
                transform-style: preserve-3d;
                -webkit-transform-style: preserve-3d;
                .card-header {
                    margin-left: -32px;
                    padding: 0px 15px;
                    color: #fff;
                    width: 70%;
                    height: 50px;
                    line-height: 50px;
                    border-left: 1px solid rgba(33, 33, 33, .35);
                    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.54);
                }
                .card-content {
                    margin-top: 50px;
                }
                .card-footer {
                    margin-top: 60px;
                    .btn {
                        width: 60%;
                        border-radius: 50vh;
                        padding: 8px 0px;
                        border: 1px solid rgba(0, 0, 0, 0.17);
                        color: #fff;
                        text-shadow: 0 1px 0 #ccc;
                    }
                }
                &.plan-card-orange {
                    .card-header {
                        background-color: #eb6130;
                    }
                    .card-footer {
                        .btn {
                            background: linear-gradient(to bottom, #eb6130, #FF9800)
                        }
                    }
                    .card-back {
                        .back-header {
                            background-color: #eb6130;
                        }
                    }
                }
                &.plan-card-green {
                    .card-header {
                        background-color: #99CC66;
                    }
                    .card-footer {
                        .btn {
                            background: linear-gradient(to bottom, #8BC34A, #CDDC39)
                        }
                    }
                }
                &.plan-card-blue {
                    .card-header {
                        background-color: #2196F3;
                    }
                    .card-footer {
                        .btn {
                            background: linear-gradient(to bottom, #2196F3, #3abcf7)
                        }
                    }
                }
                .card-body {
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background: #fff;
                    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .15);
                    border-radius: 6px;
                    position: absolute;
                    background: #fff;
                    text-align: left;
                    backface-visibility: hidden;
                    -webkit-backface-visibility: hidden;
                    -ms-backface-visibility: visible; // IE 这个貌似是相反的
                    transition: transform .6s;
                    -webkit-transition: -webkit-transform .6s;
                } // 卡片正面
                .card-front {
                    padding: 45px 30px 0;
                    cursor: pointer;
                    transform: rotateY(0deg);
                    -webkit-transform: rotateY( 0deg);
                    &:hover {
                        box-shadow: 0px 0px 5px 2px rgba(255, 87, 34, 0.35);
                    }
                } // 卡片背面
                .card-back {
                    transform: rotateY(-180deg);
                    -webkit-transform: rotateY(-180deg);
                    z-index: -1;
                    overflow: hidden;
                    .back-header {
                        height: 50px;
                        line-height: 50px;
                        color: #fff;
                        width: 100%;
                        box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.54);
                        position: relative;
                        cursor: pointer;
                        .back-button {
                            position: absolute;
                            top: 14px;
                            left: 14px;
                            transition: 0.2s;
                        }
                        &:hover {
                            .back-button {
                                transform: scale(1.2);
                            }
                        }
                    }
                    .price-list-wrapper {
                        display: flex;
                        flex-direction: column;
                        height: 330px; // 380px - 50px
                        height: calc(100% - 50px);
                        padding: 15px;
                        .price-list {
                            height: 88px;
                            flex: 1;
                            display: inline-block;
                            width: 100%;
                            padding: 6px 15px;
                            margin: 6px 0;
                            border: 1px solid #ccc;
                            overflow: hidden;
                            border-radius: 4px;
                            border-left: 4px solid #ccc;
                            transition: box-shadow 0.20s;
                            .price-list-text {
                                display: none;
                                margin-top: 10px;
                            }
                            &:hover {
                                border-color: #eb6130;
                                box-shadow: 0px 0px 5px 2px rgba(255, 87, 34, 0.18);
                                .price-list-text {
                                    color: #333;
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
                &.transform-turn {
                    .card-front {
                        z-index: 0;
                        transform: rotateY(180deg);
                        -webkit-transform: rotateY(180deg);
                        overflow: hidden;
                    }
                    .card-back {
                        z-index: 99;
                        transform: rotateY(0deg);
                        -webkit-transform: rotateY(0deg);
                    }
                }
            }
        }
    }
    .plan-table {
        margin-bottom: 50px;
        .alert {
            background: #fff;
        }
        .table {

            ul {
                padding: 0;
                margin: 0;
            }

            td {
                vertical-align: middle;
                text-align: center;
                color: #565E66;
            }
            thead {
                td {
                    vertical-align: top;
                    p {
                        margin: 0;
                    }
                }
                td:first-child {
                    color: #98A7B4;
                    text-align: left;
                    font-weight: 400;
                    vertical-align: middle;
                }
            }
            tbody {
                td {
                    font-weight: 200;
                    vertical-align: middle;
                    text-align: center;
                    color: #1D96F3;
                }
                tr {
                    td:first-child {
                        text-align: left;
                        color: #565E66;
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }
            tfoot {
                td {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    vertical-align: top;
                    border: none;
                    .btn {
                        margin-top: 20px;
                    }
                }
                td:first-child {
                    color: #98A7B4;
                    text-align: left;
                    font-weight: 400;
                    padding: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #plans {
        .pricing-adscard {
            .card-div {
                .table {
                    tr {
                        td {
                            padding-left: px(25);
                        }
                    }
                }
            }
            .stand-card-div {
                .card-div {
                    margin-top: px(30);
                }
            }
            .stand-card-div.transform-rotatey {
                transform: rotateY(180deg);
                .pricing-card {
                    position: static;
                    z-index: 1;
                }
                .stand-card {
                    position: absolute;
                    z-index: -2;
                    display: none;
                }
            }
            .pricing-card {
                .pricingcrad-back {
                    font-size: px(18);
                    left: px(10) !important;
                    top: px(20) !important;
                }
                .card-banner {
                    font-size: px(14);
                    font-weight: 200;
                }
                .pricing-info-div {
                    padding-left: px(15);
                    padding-right: px(15);
                    margin-left: 0;
                    margin-right: 0;
                    height: px(117);
                    .pricing-cost-div {
                        padding: 0;
                    }
                    .select-btn-div {
                        padding: 0;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    #plans {
        .pricing-adscard {
            .stand-card-div {
                width: 404px;
            }
            .card-div {
                //固定死高度与宽度
                height: 520px;
                width: 404px;
                .pricing-info-div {
                    height: 117px;
                }
            }
        }
    }
}