/*
* 后台app界面移动端适配
* 参考天猫适配方案
* 采用Iphone 6画稿设计
*/

@function px($n) {
    @return ($n / 37.5) + rem;
}
@media screen and (min-width: 770px){
    /*非移动界面则隐藏*/
    .mobile-show{
        display: none !important;
    }
}
@media screen and (max-width: 769px) {
    html {
        font-size: calc(100vw / 10);
        height: 100%;
        width: 100%;
    }
    body {
        font-size: 16px !important;
        min-width: auto;
        height: 100%;
        width: 100%;
    }

/*仅仅在移动端显示*/
.mobile-show{
	display: block !important;
}
.mobile-hidden{
	display: none !important;
}

/*等待框*/
.ads-Loading{
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.4);
	top:0;
	left: 0;
	z-index: 79;
}


    /*页眉*/
    .page-wrapper-top {
        .page-header {
            height: px(80);
            
            width: 100%;
            .page-header-top {
                position: fixed;
                left: 0;
                top: 0;
                z-index: 99 !important;
                height: px(80);
                background: #eb6130 !important;
                .container-fluid {
                	background: none !important;
                    height: px(44);
                    display: flex;
                    align-items: center;
                    padding: 0;
                   
                    .filter-button{
                    	display: block !important;
                    	position: fixed;;
                    	top:px(6);
                    	left: px(15);
                    	border:1px solid #fff;
                    	border-radius: 4px;
                    	height: px(30);
                    	width: px(30);
                    	font-size: 16px;
                    	text-align: center;
                    	line-height: px(30);
                    	color: #fff;
                    }
                    .page-logo {
                        height: auto;
                        width: auto;
                        margin: 0 auto;
                        img {
                            height: px(30);
                            margin: 0;
                        }
                    }
                    .page-header-menu {
                        display: none;
                    }
                    .top-menu {
                        margin: 0;
                        background: none;
                        position: fixed;
                        top: px(6);
                        right: px(8);
                        .dropdown-user{
                        	.icon-user{color:#fff;
                        		
                        	}
                        	.username {color: #fff !important;}
                        	
                        }
                        .navbar-nav {
                            margin: 0;
                            .dropdown-user{
                            	.btn{
                            		padding: px(4) px(14);
                            		background: none !important;
                            		color:#fff;
                            		border:1px solid #fff;
                            		border-radius: px(12);
                            		box-shadow: none;
                            	}
                            }
                        }
                    }
                }
            }
        }
    }
    //左边菜单栏
    .page-quick-sidebar-wrapper {
    	display: none !important;
    	width: 100%;
    	height: 0;
    	.page-quick-cover{
    		display:block !important;
    		position: fixed;
	        top:0 !important;
	        left: 0;
	        width: 100% !important;
	        height: 100%;
	        background: #000;
	    	opacity: .7;
	    	z-index: 199;
	    	p{
	    		transform:rotate(90deg);
    		    width: auto;
			    position: absolute;
			    right: -53px;
			    top: 50%;
			    margin: 0;
			    font-size: 14px;
			    line-height: 14px;
			    color: #B5B5B5;
			    i{
		    	 
				    width: 15px;
				    height: 15px;
				    margin-left: px(10);
			    }
	    	}
    	}
        .page-quick-sidebar{
    	    //transform: translateX( px(-340) );
    		
        	position: fixed;
        	top: 0;
        	left: 0;
        	z-index: 200;
        	height: 100%;
        	width:calc(100% - 35px);
        	background: #fff;
        	box-shadow: 6px 0 10px 0 rgba(0,0,0,.4);
        	opacity: 1;
        	    transition: transform .5s cubic-bezier(.165,.84,.44,1);
        }
        .show-button{
			.down-icon{
				font-size: px(20);
			}
        }
    }
    .page-quick-sidebar-wrapper.show-sider{
    	height: 100%;
    		.page-quick-cover{
				display: block;
    		}
    		.page-quick-sidebar{
				transform: translateX( 0 );
        		display: block;
    		}
        	
        }
    //注册弹窗
   	body.modal-open{
   		padding: 0 !important;
   		.modal-customer{
   			max-width: 100% !important;
   			min-width: 100% !important;
   			width: 100%;
   			margin: 0 auto;
   			.reg-shortcut-div{
   				.register-btn{
   					font-size: px(16) !important;
   				}
   			}

   		}
   	}
    //中间样式
    .page-wrapper-row {
        .page-container {
            .page-content {
                width: 100%;
                padding: 0;
                margin: 0 auto;
                .container-fluid {
                    padding: 0;
                }
                /*搜索框*/
                .search-form {
                    position: fixed;
                    top: px(37);
                    left: 0;
                    width: 100%;
                    z-index: 100;
                    height: px(44);
                    display: flex;
                    align-items: center;
                    padding: 0 px(15);
                    .input-group {
                        border:1px solid #ccc;
                        border-radius: 4px;
                        height: px(32);
                        width: 100%;
                    }
                    .input-group-addon {
                        position: fixed;
                        top: px(80);
                        left: px(0);
                        z-index: 100;
                        height: px(32);
                        display: block;
                        width: auto;
                        border-radius: px(0);
                        border:none;
                        border-bottom: 1px solid #ccc;
                        width: 50% !important;
                        .btn-group {
                            width: 100% !important;
                            height: 100%;
                        }
                        .dropdown-menu {
                            li {
                                a {
                                    padding: px(8) px(12);
                                }
                            }
                        }
                        .dropdown-toggle {
                            height: 100%;
                            width: 100%;
                            border-radius: 0;
                            border: none;
                        }
                    }
                    input {
                        height: px(32);
                        width: 100% !important;
                        font-size: px(14);
                        border:none;
                        border-right: 1px solid #ccc;
                    }
                    .input-group-btn {
                    	background: #fff;
                        height: px(32);
                        width: px(40);
                        padding: 0;
                        margin: 0;
                        overflow: hidden;
                        border:none;
                        button {
                            height: px(32);
                            padding: 0 !important;
                            width: px(40);
                            background: #fff;
                        }
                        .search-btn-text {
                            display: none;
                        }
                        .search-btn-icon {
                            height: 100%;
                            width: 100%;
                            line-height: px(32);
                            text-align: center;
                            color: #ccc;
                            display: inline-block !important;
                            margin: 0;
                        }
                    }
                }
                /*sort by*/
                .form-inline {
                    .form-group {
                        position: fixed;
                        top: px(80);
                        right: px(0);
                        z-index: 99;
                        width: 50%;
                        .xg-mr5{display: none;}
                        .btn-group {
                            width: 100% !important;
                            height: px(32) !important;
                            button {
                                padding: none;
                                width: 100%;
                                height: 100%;
                                box-shadow: none;
                                border:none;
                                border-bottom: 1px solid #ccc;
                                border-left: 1px solid #ccc;
                            }
                        }
                    }
                }
                /*内容*/
                .ml-sidebar {
                    width: 100%;
                    margin: 0 auto;
                    margin-top: px(30);

                    .row {
                        padding: 0;
                        margin: 0 auto;
                        hr{display: none;}

                        //搜索关键词显示框
                        .alert-warning{
                        	display: none;
                        }
                        .column {
                            width: 100%;
                            /*广告卡*/
                            .aditem {
                                margin: 0;
                                margin-top: px(15);
                                .ads-card-seetime{
                                	display: none;
                                }
                                .ads-card-info{
                                	display: none;
                                }
                                .aditem-ader{
                                	//头像
                                	.col-md-3 {
                                		display: none;
                                	}
                                	
                                }
                            }
                            .a-card {
                                .xg-collect {
                                    margin-right: 0 !important;
                                }
                                .popover {
                                    z-index: 98;
                                }
                            }
                            .xg-span-description {
                                font-size: px(16);
                                line-height: px(20);
                            }
                        }
                    }
                }
                /*注册弹窗*/
                .modal-customer{
                	max-width: 100% !important;
                }
            }
        }
    }

    //拉到底部的提示部分
    .dashboard-stat {
        padding: 0;
        p {
            font-size: px(22);
        }
        .help-block {
            font-size: px(14);
            font-weight: 200;
        }
        .register-form {
            padding: 0;
            .form-title {
                margin-top: px(30);
                margin-bottom: px(20);
                text-align: center;
            }
            .register-btn {
                font-size: px(20) !important;
            }
        }
        .reg-remind-text{
            font-size: px(14);
            font-size: 200;
            text-align: center;
        }
    }

}
