// Extra small screen / phone
$screen-xs-min: 480px !default;
// Small screen / tablet  
$screen-sm-min: 768px !default;
// Medium screen / desktop
$screen-md-min: 992px !default;
// Large screen / wide desktop
$screen-lg-min: 1200px !default;
// Large scree / wider desktop      
$screen-lg-med: 1260px !default;
// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default; // 767px
$screen-sm-max: ($screen-md-min - 1) !default; // 991px
$screen-md-max: ($screen-lg-min - 1) !default; // 1199px  

/* here you can put your own css to customize and override the theme */

$play-btn-size:100px;
$sidebar-width:320px;
//头部样式
$tabmenu-bg-color: #f2784b;
$tabmenu-font-color: white;
//广告主分析样式
$adser-analysis-sidebar-width:150px;
//广告分析样式
$ad-analysis-sidebar-width:150px;
body {
    min-width: 800px;
}

.mb10 {
    margin-bottom: 10px;
}

.inline {
    display: inline-block;
}

.vmiddle {
    vertical-align: middle;
}

.response-width {
    width: 100%;
}

.half-opacity {
    filter: alpha(opacity=50);
    /* IE */
    -moz-opacity: 0.5;
    /* 老版Mozilla */
    -khtml-opacity: 0.5;
    /* 老版Safari */
    opacity: 0.5;
    /* 支持opacity的浏览器*/
}

.navbar-fixed-top {
    z-index: 500 !important;
}


/*定义文本溢出为省略号*/

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.page-tab-menu {
    background-color: $tabmenu-bg-color;
    .nav {
        li {
            &:hover {
                background-color: lighten($tabmenu-bg-color, 10%);
            }
            a {
                color: $tabmenu-font-color;
            }
            a:hover,
            a:focus {
                color: $tabmenu-font-color;
                background-color: lighten($tabmenu-bg-color, 10%);
            }
        }
        li.active {
            a {
                background-color: lighten($tabmenu-bg-color, 10%);
            }
        }
    }
}

.ml-sidebar {
    margin-left: $sidebar-width;
}

.input-group-addon {
    .bs-select {
        button {
            padding: 4px !important; //解决作为搜索框的一部分不能不对齐的问题  
            padding-left: 15px !important;
        }
    }
}


/*头部页眉*/

.page-header {
    .page-header-top {
        height: 50px;
        .page-logo {
            width: 330px;
            height: 50px;
            margin-top: 2px;
            .logo-default {
                margin: 0px 0 0 16px;
            }
        }
        .page-header-menu {
            margin: 0;
            .hor-menu {
                .nav {
                    li {
                        margin: 0px;
                        a {
                            display: inline-block;
                            padding: 0px 10px;
                            height: 52px;
                            line-height: 50px;
                            border-radius: 0px;
                            color: #555;
                            font-size: 1.6rem;
                            font-family: 'Microsoft YaHei', '微软雅黑', "Helvetica Neue", Helvetica, Arial, sans-serif;
                        }
                        a:focus {
                            background: none !important;
                            color: #555;
                            i {
                                color: #BCC2CB;
                            }
                        }
                    }
                    li:hover {
                        a {
                            color: #ea7e00 !important;
                            background: none !important;
                            i {
                                color: #ea7e00;
                            }
                        }
                    }
                    li.active,
                    li.active:hover {
                        a {
                            background: none !important;
                            border-bottom: 3px solid;
                            cursor: default;
                            color: #ea7e00;
                        }
                    }
                }
            }
        }
        .top-menu {
            margin-top: 10px;
            .navbar-nav {
                li.dropdown {
                    height: auto;
                    .dropdown-toggle {
                        padding: 0px;
                    }
                    .dropdown-menu-default {
                        margin-top: 12px;
                    }
                }
            }
        }
    }
}


/*广告商*/

.search-result {
    border-left: 4px solid #ea912a;
    padding-left: 4px;
    font-size: 18px;
    color: #337ab7;
    font-weight: 200;
    .font-yellow-gold {
        font-weight: 600
    }
}

.advertiser {
    .input-group-addon {
        .bs-select {
            button {
                background: none !important;
                border: 0px;
                padding-left: 15px !important;
            }
        }
    }
}

.search-form {
    .input-group-addon {
        padding-left: 0px;
        padding-right: 0px;
        background: #fdfdfe;
    }
    .input-group-btn {
        padding: 0px !important;
        border: 1px solid #e87e04;
        margin-left: 0px;
        border-radius: 0px 4px 4px 0px;
        .btn.btn-lg {
            border-radius: 0px 2px 2px 0px !important;
            border: 0px !important;
            padding: 12px 26px 11px 26px !important;
            width: 101%;
        }
    }
}


/*左边过滤栏*/

.page-quick-sidebar {
    .filter-title {
        border-left: 4px solid #ea912a;
        padding-left: 4px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    .show-button {
        text-decoration: none;
        .down-icon {
            transition: All 0.4s ease-in-out;
            margin-left: 6px;
            font-size: 1.6rem;
        }
    }
    .show-button.collapsed {
        .down-icon {
            transform: rotate(180deg);
            text-decoration: none;
        }
    }
    /*duration*/
    .customads-rundiv {
        .irs {
            .irs-line {
                height: 18px;
                border-radius: 4px;
                top: 0px;
                .irs-line-left,
                .irs-line-right,
                .irs-line-mid {
                    background: #e8ebf0;
                    height: 100%;
                }
            }
            .irs-bar {
                height: 18px;
                background: #fba745;
                top: 0px;
            }
            .irs-slider {
                top: -2px;
                background: #eb7e00;
                width: 4px;
                height: 22px;
            }
            .irs-from,
            .irs-to {
                top: 24px;
                color: #eb7e00;
                background: none;
            }
            .irs-from:after,
            .irs-to:after {
                border: 0px;
                background: none;
            }
            .irs-min,
            .irs-max {
                top: 24px;
                padding: 1px 0px;
                background: none;
            }
        }
    }
    .table-engamentfilter {
        tbody>tr>td,
        tbody>tr>th,
        tfoot>tr>td,
        tfoot>tr>th,
        thead>tr>td,
        thead>tr>th {
            border-top: 0px;
            vertical-align: middle;
            border-bottom: 1px solid #e7ecf1;
            padding-left: 0px;
            padding-right: 0px;
        }
        .engagement-item {
            color: #555;
            padding-left: 0px;
            padding-right: 8px;
        }
        input {
            border-radius: 2px;
            text-align: center;
            border: 1px solid #d6d9e2;
            width: 100%;
            padding: 5px 2px;
            color: #555;
        }
        input:focus {
            border-color: #ea7e00;
            color: #ea7e00;
        }
        /*去掉number类型输入框的上下箭头*/
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none !important;
        }
        input[type="number"] {
            -moz-appearance: textfield;
        }
        label {
            text-align: center;
            color: #b5bcc6;
        }
        .clearitem-button {
            min-width: 20px;
            text-align: center;
        }
        button.close {
            margin: 0 auto;
            float: none;
            display: block;
        }
    }
    .filterapply-bitton {
        .btn {
            width: 100%;
            padding: 15px 0px;
        }
    }
    .xg-clrbtn {
        margin: 0px;
        text-decoration: none;
        color: #e87f02;
    }
}


/*右边搜索栏*/

.portlet-body {
    .input-group-addon {
        i {
            color: #ea7e00;
        }
    }
}


/*广告主卡*/

.adver-card {
    .portlet.light {
        padding: 0px;
    }
    .aditem {
        position: relative;
        .aditem-ader {
            border-bottom: 1px solid #e0e1e9;
            padding-bottom: 15px;
            margin: 0 0 0 0;
            background: #f6f6f8;
            padding-bottom: 0px;
            .adser-website_p {
                width: 100%;
                margin-top: 0px;
            }
        }
        .avatar {
            height: 48px;
            width: 48px;
            border-radius: 24px;
            border: 1px solid #e0e1e9;
            margin-top: 20px;
        }
        .adser-name {
            .approve-icon {
                font-size: 2rem;
                line-height: 1rem;
                background: #fff;
                color: #ec7e00;
                vertical-align: middle;
            }
        }
        .aditem-ader_bottom {
            padding: 20px;
            background: #fff;
            margin: 0 0 0 0;
            .aditem-row {
                margin-bottom: 15px;
                overflow: hidden;
                .pull-left {
                    color: #666;
                    font-weight: 200;
                    max-width: 80%;
                }
            }
            .btn {
                padding-top: 10px;
                padding-bottom: 10px;
                background: #fff;
                color: #ec7e00;
                border: 1px solid #ec7e00;
                font-size: 1rem;
            }
            .btn:hover {
                background: #ec7e00;
                color: #fff;
            }
        }
        .ribbon {
            position: absolute;
            top: 0px;
            right: 0px;
            z-index: 99;
            margin-right: 0px !important;
        }
    }
}


/*收藏夹*/

.bookmark {
    .nav-tabs {
        border: 0px;
        background: #fff;
        height: 50px;
        border-radius: 4px;
        margin-top: 15px;
        line-height: 50px;
        padding-left: 15px;
        .nav-item {
            border: 0px;
            line-height: 48px;
            a {
                padding-top: 0px;
                padding-bottom: 0px;
                border: 0px;
                line-height: 48px;
                height: 50px;
            }
        }
        .nav-item.active {
            height: 48px;
            a {
                border-bottom: 2px solid #ea7e00;
                color: #eb7e00;
                cursor: default;
            }
            a:hover,
            a:focus {
                border: 0px;
                border-bottom: 2px solid #ea7e00;
                color: #eb7e00;
                cursor: default;
            }
        }
    }
    .page-breadcrumb {
        margin-top: 10px;
        padding-bottom: 0px;
    }
    .bookmark-edit {
        .btn-primary {
            background: #eb7e00;
            border: 0px;
        }
        .btn-danger {
            background: #a7aab1;
            border: 0px;
        }
    }
    .bookmark-title {
        padding-left: 5px;
        border-left: 3px solid #ea7e00;
        font-weight: 400;
    }
    .bookmark-list {
        margin-top: 30px;
        margin-bottom: 30px;
        button {
            border: 0px;
            border-bottom: 1px solid #e2e4eb;
            background: #fff;
            margin-bottom: 0px;
            border-radius: 0px;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        button.active,
        button:focus {
            background-color: #337ab7;
            border-color: #337ab7;
        }
        .list-group-item:not(.active):hover {
            background: #eee;
        }
        .badge {
            background: #ea7e00
        }
    }
    .portlet-body {
        .btn {
            padding-top: 15px !important;
            padding-bottom: 15px !important;
            font-size: 1.6rem !important;
        }
    }
}

//deckgrid根据不同宽度自适应
.deckgrid {
    img {
        max-width: 100%;
    }
}

.deckgrid .column {
    float: left;
}

.deckgrid[deckgrid]::before {
    font-size: 0;
    /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}

@media (max-width:$screen-sm-min) {
    .deckgrid[deckgrid]::before {
        /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
        content: '1 .column.column-1-1';
    }
}

@media (min-width:$screen-sm-min) and (max-width: $screen-sm-max) {
    /* 767px */
    .deckgrid[deckgrid]::before {
        /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
        content: '2 .column.column-1-2';
    }
}

@media (min-width:$screen-md-min) and (max-width: 1499px) {
    /*非标准值*/
    .deckgrid[deckgrid]::before {
        /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
        content: '3 .column.column-1-3';
    }
}

@media (min-width: 1500px) {
    .deckgrid[deckgrid]::before {
        /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
        content: '4 .column.column-1-4';
    }
}


/*用于覆盖旋转木马的样式*/

.aditem-desc {
    .carousel {
        .carousel-control {
            background: none;
            width: 20%;
            span {
                transition: transform 0.2s;
                opacity: 50;
                filter: alpha(opacity=0);
            }
            .glyphicon-chevron-left {
                left: 10%
            }
            .glyphicon-chevron-right {
                right: 10%
            }
        }
        .carousel-control:hover {
            span {
                color: #eb6130;
                opacity: 100;
                filter: alpha(opacity=100);
                transform: scale(1.2)
            }
        }
        .carousel-indicators {
            li {
                border: 1px solid #efefef;
                transition-duration: 0.2s;
                transition: width 0.2s;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                background: rgba(255, 255, 255, 0.5);
                margin-left: 2px;
                margin-right: 2px;
            }
            li.active {
                width: 14px;
                height: 14px;
                background: #f08751;
                border: 1px solid rgba(240, 135, 81, 0.48);
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2)
            }
        }
    }
}

.deckgrid {
    .column-1-4 {
        width: 25%;
    }
    .column-1-3 {
        width: 33.33333%;
    }
    .column-1-2 {
        width: 50%;
    }
    .column-1-1 {
        width: 100%;
    }
}

.lh48 {
    line-height: 48px;
}

.img-loading {
    background: #efefef url("/images/input-spinner.gif") no-repeat center center;
}

//广告搜索相关类
.aditem {
    margin: 16px;
    i {
        // display:inline-block;
        // margin-right:3px;
    }
    .avatar {
        max-width: 100%;
    }
    .adlink {
        display: inline-block;
        max-width: 50%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        vertical-align: middle;
    }
    .aditem-footer {
        font-size: small;
    }
    .video {
        position: relative;
        .playbtn {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -$play-btn-size/2;
            margin-left: -$play-btn-size/2;
            width: $play-btn-size;
            height: $play-btn-size;
            line-height: $play-btn-size;
        }
    }
    video {
        max-width: 100%;
    }
    .aditem-desc {
        .h5 {
            min-height: 22px;
        }
    }
}

.advideo {
    min-height: 130px;
}

.statics-btn {
    position: fixed;
    right: 0;
    top: 40%;
    z-index: 99;
    width: 56px;
    height: 56px;
    border: 0;
    border-radius: 50%;
}

//在过滤器上填出日志范围选择时，z-index太小会被盖住
.daterangepicker.dropdown-menu {
    z-index: 20000 !important;
}

.collapse-panel {
    height: 300px;
    overflow-y: hidden;
}

.select2-dropdown {
    z-index: 99999 !important;
}

.linktable {
    td {
        text-overflow: ellipsis;
        max-width: 80%;
        line-height: 1.2em;
        max-height: 2.4em;
        white-space: normal;
        word-break: break-all;
        word-wrap: break-word;
    }
}

//弹出广告详情框时，隐藏右边滚动条，并右内填充17px
body.modal-open {
    overflow-y: hidden !important;
    padding-right: 17px !important;
}

//广告分析的类
#ad {
    .avatar {
        max-width: 50px;
        //padding:16px;
    }
    .adscard-head {
        width: 100%;
        text-align: left;
        .adscaed-img {
            width: 50px;
        }
    }
    a.avatar:hover {
        text-decoration: none;
    }
    #detail {
        .aditem-footer {
            display: block !important;
            .adlink {
                display: none;
            }
            .fa-link {
                display: none;
            }
            hr {
                display: none;
            }
        }
        .overview-line {
            .col-left {
                display: inline-block;
            }
            .col-right {
                display: inline-block;
                margin-left: 10px;
            }
            h4 {
                margin-bottom: 0px;
            }
        }
        .overview-card {
            padding-left: 5px;
            padding-bottom: 10px;
            margin-bottom: 15px;
            border-bottom: 1px solid #e7ecf1;
            .fa {
                font-size: 16px;
                line-height: 20px;
            }
        }
        .overview-data {
            margin-left: 30px;
            font-size: 14px;
            margin-bottom: 0px;
            a {
                cursor: default;
            }
        }
        .detail-right.col-md-6 {
            padding-left: 10px;
        }
    }
    .overviewtitle {
        font-size: 14px;
        color: #AAB5BC;
        font-weight: 600;
        text-transform: uppercase;
    }
    .detailusername {
        max-width: 70%;
        margin-left: 5%;
    }
    .aditem {
        margin: 0px;
    }
    .dashboard-stat2 {
        //padding-bottom:15px !important;
        padding-top: 0px;
        padding-right: 8px;
        padding-left: 8px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        // border-bottom: 1px solid #e7ecf1;
        height: 90px;
    }
    .detail-comm {
        span {
            margin-left: 10px;
            i {
                margin-right: 5px;
                color: #333;
            }
        }
        span:first-child {
            margin-left: 0px;
        }
    }
    single-image img {
        max-width: 100%;
        //padding-right: 30px;
    }
    single-video img {
        max-width: 100%;
    }
    carousel img {
        max-width: 100%;
    }
    adcanvas img {
        max-width: 100%;
    }
    #Landpage {
        // .landpage-div{margin-left: 20px;}
        .linksnapshot-icon {
            margin-left: 5px;
            cursor: pointer;
        }
        .landpage-title {
            color: #AAB5BC;
            font-weight: 600;
            font-size: 14px;
            text-transform: uppercase;
        }
        .label {
            padding-bottom: 1px;
            box-shadow: none;
        }
        .landpage-div table {
            margin-bottom: 0px;
        }
    }
}

.rank-title {
    margin-bottom: 5px;
    border-bottom: 1px solid #eee;
    h4 {
        font-weight: 600;
        color: #AAB5BC
    }
}

.rankboard {}

//排名相关类
.ranking {
    .avatar {
        max-width: 50px;
    }
    th[data-field]:hover {
        cursor: pointer;
    }
}

//个人信息
.permissions {
    border: 1px solid #eee;
}

//xgrit 卡片样式修改
//仿fb
.xg-span-message {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.38;
    word-wrap: break-word;
    margin: 10px 0 !important;
}

.xg-span-name {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #1d2129;
}

.xg-video-name-mh20 {
    min-height: 20px;
}

.xg-span-description {
    line-height: 16px;
    max-height: 80px;
    overflow: hidden;
    color: #1d2129;
    // font-size: 12px;
    font-size: 1.4rem;
}

.xg-label-caption {
    color: #90949c !important;
    background-color: #fff !important;
    box-shadow: none !important;
    font-size: 11px;
    font-weight: 500;
    line-height: 11px;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    word-wrap: break-word;
}

.xg-a-likepage {
    background-color: #f6f7f9 !important;
    color: #4b4f56 !important;
    border: 1px solid #ced0d4;
    border-radius: 2px;
}

.xg-label {
    line-height: 22px;
    padding: 5px 9px 5px 10px;
    text-transform: none;
    box-sizing: content-box;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    text-shadow: none;
    vertical-align: middle;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.xg-label:hover {
    text-decoration: none;
    background-color: #e9e8ee;
}

.xg-space {
    padding-right: 4px;
}

.xg-margin-bottom {
    margin-bottom: 5px;
}

.xg-mr5 {
    margin-right: 5px;
}

.xg-adsername {
    color: #365899;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.38;
    font-family: Helvetica, Arial, sans-serif;
}

.xg-p-margin {
    margin: 5px 0 !important;
}

.xg-count-mt {
    margin-top: 7px;
}

.xg-icon {
    display: inline-block;
    line-height: 16px;
    width: 16px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0px 8px
}

.xg-icon-comment {
    background-image: url('../../../../assets/global/svg/comment.svg');
}

.xg-icon-share {
    background-image: url('../../../../assets/global/svg/share.svg');
}

.xg-icon-video {
    background-image: url('../../../../assets/global/svg/video.svg');
}

.xg-icon-play:before {
    content: url('../../../../assets/global/img/xgrit-img/icon-play.png');
}

.xg-icon-audience {
    background-image: url('../../../../assets/global/svg/detail-person.svg');
}

.xg-icon-analysis {
    background-image: url('../../../../assets/global/svg/venus-detail-2.svg');
}

.xg-icon-audience,
.xg-icon-analysis {
    background-position: 0px 4px
}

.xg-analysis {
    cursor: pointer;
    font-size: 16px;
}

.xg-type-select {
    padding: 0px !important;
    button {
        height: 42px;
        border: none !important;
    }
}

.xg-order-border {
    border-bottom: 1px solid #d3d3d3;
}

.xg-search-height {
    height: 44px !important;
    padding: 9px 16px !important;
}

.xg-collect {
    width: 20px !important;
    padding-left: 4px !important;
    padding-top: 2px !important;
    padding-bottom: 1px !important;
    margin-right: 16px !important;
    margin-top: 0px !important;
}

.xg-collect-border {
    height: 95% !important;
}

.xg-collect-border:after {
    border-left: 10px solid !important;
    border-right: 10px solid !important;
    border-left-color: #e87e04 !important;
    border-right-color: #e87e04 !important;
    color: #e87e04 !important;
    top: 20px;
}

.xg-audience {
    cursor: pointer;
}

.xg-card-pt0 {
    padding-top: 0px !important;
    padding-bottom: 12px !important;
}

.xg-audience-mr4 {
    margin-right: 4px;
}

.xg-link-width {
    max-width: 80% !important;
    min-width: 80%;
}

.xg-cardcontent-bbmn {
    border-bottom: none !important;
    margin-bottom: 0px !important;
}

.xg-audience-table {
    color: #333333 !important;
    font-weight: bold;
    tr td {
        font-size: 16px !important;
    }
}

.xg-subscribe-color {
    background-color: #FFA666;
    border-color: #FFA666;
    color: #fff;
}

.xg-subscribe {
    margin-top: 40px;
}

.xg-sponsored {
    color: #90949c;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
}

//free:limited-banner
.xg-limited-banner {
    padding: 4% 8% 2% 7%;
    background-color: rgba(255, 255, 255, 0.8);
    border-top: 3px dashed #3B3B3C;
    //margin: -76px 0 0 -3px !important;
    z-index: 20;
    p {
        font-size: 30px;
        font-weight: bold;
    }
    .plus {
        font-size: 19px;
    }
    ul li {
        font-size: 16px;
        color: #061725;
    }
}

.xg-buybut-mt60 {
    margin-top: 60px;
}

.xg-overflow-hidden {
    overflow: hidden;
}

.xg-upgrade-banner {
    background-color: #fff !important;
    .xg-upgrade-banner-head {
        border-bottom: 1px solid #e5e5e5;
        background-color: #F8F8F8;
        padding: 10px;
        min-height: 16px;
        h3 {
            margin: 0 !important;
        }
    }
    .xg-upgrade-banner-body {
        // max-height: 320px;
        padding: 20px 40px;
        h5 {
            color: #242424 !important;
            font-weight: normal !important;
            font-family: 'Open Sans', sans-serif !important;
        }
    }
    .xg-upgrade-banner-foot {
        padding: 10px;
        text-align: right;
        border-top: 1px solid #e5e5e5;
    }
}

.xg-mt80 {
    margin-top: 80px !important;
}

.xg-alert {
    margin-left: 16px !important;
    margin-right: 16px !important
}

.xg-upgrade-button {
    text-decoration: underline !important;
    font-weight: bold !important;
}

.xg-page-spinner-bar {
    position: relative !important;
}

.xg-close {
    position: absolute;
    right: 15px;
    top: 15px;
    .xg-close-icon {
        overflow: hidden;
        box-sizing: border-box;
        padding: 0;
        line-height: 16px !important;
        cursor: pointer;
        color: #abb1b8;
        border: none;
        background: none;
        font-family: "Open Sans", sans-serif;
        font-weight: 100;
        font-size: 27px;
        opacity: .5;
        transition: All 0.4s ease-in-out;
    }
    .xg-close-icon:hover {
        transform: scale(1.2) rotate(180deg);
        border-color: #eb6130;
        color: #eb6130;
    }
    .xg-close-icon:focus {
        outline: none;
        opacity: 1;
    }
}

.xg-quick-sidebar-top75 {
    top: 75px !important;
}

.xg-quick-sidebar-top52 {
    top: 52px !important;
}

.page-quick-sidebar-wrapper {
    box-shadow: 0 5px 8px 0 rgba(7, 17, 27, 0.1)
}

.xg-page-content-pt10 {
    padding-top: 10px !important;
}

.xg-pt0 {
    padding-left: 0px !important;
}

//注册弹框样式
//自定义自己需要的宽度
.modal-45 {
    width: 45%;
}

.capacity-div {
    .register-form {
        padding: 10px 0px;
    }
    .img-adscard {
        width: 90%;
        padding: 22px 20px;
        margin: 30px auto;
        box-shadow: 0px 1px 8px 2px rgba(0, 0, 0, 0.5);
        .carousel-inner{
            .item{
                img{width: 100%;}
            }
        }
        .carousel-control {
            display: none;
        }
        .carousel-indicators {
            display: none;
        }
    }
}

.xg-upgrade-banner-foot {
    p {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

//广告主分析样式
.adser-analysis-sidebar {
    padding-top: 20px;
    width: $adser-analysis-sidebar-width !important;
}

.adser-analysis-content {
    margin-left: $adser-analysis-sidebar-width !important;
}

//广告分析样式
.ad-analysis {
    overflow: hidden;
    position: relative;
    .sidebar {
        margin: 20px;
        width: $adser-analysis-sidebar-width !important;
        position: absolute;
        left: 0;
        top: 0;
    }
    .content {
        padding: 20px;
        margin-left: $adser-analysis-sidebar-width !important;
        .analysis-div {
            min-height: 450px;
        }
        .content-loading {
            margin-top: 100px;
        }
    }
}

//placeholder颜色大小字体
$black_placeholder:#000;

/* input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
color: $black_placeholder !important;
}
input:-moz-placeholder, textarea:-moz-placeholder {
color: $black_placeholder !important;
}
input::-moz-placeholder, textarea::-moz-placeholder {
color: $black_placeholder !important;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
color: $black_placeholder !important;
} */

//engament
.xg-wt10 {
    width: 10px;
}

.xg-wt45 {
    width: 45px;
}

//engagements color
.table-engagementsfilter {
    .like {
        color: #54ACF3; //Twitter's color
    }
    .share {
        color: #4658A4; //Facebook's color
    }
    .comment {
        color: #B84C40; //Google+'s color
    }
    .videoview {
        color: #2673A7; //LinkIn's color
    }
    .engagements {
        color: #F15A25; //orange
    }
    td {
        .close {
            margin-top: 8px;
        }
    }
}

.xg-clrbtn {
    margin: 28px auto auto 10px;
}

.xg-dropdown-left-btn {
    text-align: left;
}


/* .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field {
    min-width: 0em;
    padding-left:10px;
} */

.xg-mh565 {
    min-height: 565px;
}

.page-quick-sidebar {
    .input-group {
        margin-bottom: 10px;
    }
    form {
        i {
            color: #000;
        }
        span.select2,
        .select2-selection {
            border-radius: 0 4px 4px 0;
            // border-left:0px;
        }
        span.select2-container {
            width: 100% !important;
        }
        .input-group-addon {
            background-color: #FFF;
            color: #000;
        }
        .has_left_icon {
            // border-left:0px;
        }
    }
    .apply-button {
        margin: 5px 0;
    }
    .dropdown {
        button {
            font-size: 14px !important;
            font-weight: 500 !important;
        }
    }
    /*统一placeholder字体颜色*/
    .input-group {
        input::-webkit-input-placeholder,
        textarea::-webkit-input-placeholder {
            color: #999;
        }
        input:-moz-placeholder,
        textarea:-moz-placeholder {
            color: #999;
        }
        input::-moz-placeholder,
        textarea::-moz-placeholder {
            color: #999;
        }
        input:-ms-input-placeholder,
        textarea:-ms-input-placeholder {
            color: #999;
        }
    }
    /*覆盖select2 的原有样式*/
    .select2-dropdown {
        border-color: #66afe9 !important;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    }
    .select2-container--default.select2-container--focus .select2-selection--multiple {
        border-color: #66afe9;
    }
    .select2 .select2-selection--multiple {
        min-height: 34px;
    }
    .select2-container--default {
        .select2-selection--multiple .select2-selection__choice {
            color: #555;
            border-radius: 4px;
            cursor: default;
            float: left;
            margin: 2px 0 2px 6px;
            padding: 0 6px;
            background-color: #eee;
            border: 1px solid #eee;
        }
        .select2-results__option[aria-disabled=true] {
            background-color: #e1e5ec;
            color: #262626;
            cursor: default;
        }
        .select2-selection__rendered {
            padding: 0px !important;
        }
    }
    form {
        span.select2,
        .select2-selection {
            border-radius: 0 4px 4px 0;
            border-color: #ccc;
        }
        .select2-selection {
            display: flex;
            align-items: center;
        }
        span.select2-container {
            width: 100% !important;
            li:first-child .select2-search__field {
                width: 100% !important;
                padding: 6px 12px;
                margin-top: 0;
                line-height: 1.42857143;
            }
            .select2-dropdown {
                border-color: #66afe9;
            }
        }
    }
}

//plan临时性css设置
.pricing-table .tabel-div {
    overflow: hidden;
}

.radius {
    border-radius: 4px;
}

.pricing-table table {
    margin-bottom: 0px;
}

.pricing-table .text-content2 {
    background: #f6f6f6;
    padding: 16px 0;
}

.pricing-table .table-content td {
    padding-bottom: 10px;
    padding-top: 10px;
}

.pricing-table .pricingitme-name {
    text-align: left;
    font-size: 1rem;
    color: #333;
    font-weight: 0;
    padding-top: 8px;
    padding-left: 30px;
}

.pricing-table .right {
    color: #68b325;
    font-size: 14px;
}

.pricing-table .text-content2 .pricingitme-name {
    padding-left: 15px;
    font-size: 1.125rem;
    font-weight: 400;
    color: #555;
}

//注册模块
.register-form {
    padding: 10px 40px;  
    .register-btn{
        padding: 12px 0 !important;
        width: 100%;
        display: block;
        margin-top: 20px;
        margin-bottom: 15px;
        font-size: 1.6rem !important;
    }  
    .register-fbbtn {
        margin-top: 30px;
        background-image: linear-gradient(0deg, #3e5792, #4e6eb6);
        color: #fff; 
    }
    .use-email-btn{
        border:1px solid #eb6130;
        background: #fff;
        color: #eb6130;
    }
    .to-signin-btn{
        background: #eb6130;
        color: #fff;
    }
    .reg-underline-div{
        padding: 15px;
        display: flex;
        .underline-line{
            flex:1;
            border-bottom: 1px solid #ccc;
            height: 1px;
        }
        .underline-text{
            color: #555;
            margin:0 10px;
            margin-top: -10px;
        }
    }

    .reg-email-div{
        margin-top: 15px;
        .turn-back-span{
            height: 35px;
            display: block;
            position: relative;
            margin-bottom: 15px;
            .turn-back{
                cursor: pointer;
                position: absolute;
                left: 15px;
                top: 5px;
                font-size: 20px;color: #eee;
                transition:all .2s;
            }
            .turn-back:hover{
                transform: scale(1.2);
                padding: 5px 15px;
                border-radius: 10px;
                color: #eb6130;
                border:1px solid #ccc;
            }
        }
    }
    .form-group {
        margin-left: 0px;
        margin-right: 0px;
    }
    .form-title {
        font-weight: 600;
    }

    .form-group {
        .fa {
            line-height: 28px;
        }
        .form-control {
            height: 50px;
            border-left: 2px solid #eb6130;
        }
        .mt-checkbox {
            margin-bottom: 0px;
        }
    }
    .button-div {
        border-top: 1px solid #eee;
        button {
            padding: 12px !important;
            width: 100%;
            background: #eb6130;
            border: 1px solid transparent;
            font-size: 16px !important;
            color: #fff;
        }
    }
    p {
        font-size: 14px;
        font-weight: normal;
    }
    //注册模块加载动画
    .img-waiting {
        width: 35px;
    }
}

//注册弹框样式
//自定义需要的宽度
.modal-customer {
    min-width: 760px;
    width: 45%;
}

//强行覆盖样式
// .panel-collapse .selection .select2-selection .select2-selection__rendered li:first-child .select2-search__field{width: 100% !important;}
.modal-open .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field {
    width: 10px !important;
}

.xg-audience-table {
    color: #333333 !important;
    font-weight: bold;
    margin-bottom: 0px !important;
    tr td {
        font-size: 16px !important;
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
}

.xg-audience-foot {
    padding: 15px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

.alert-warning {
    background-color: #f9e491;
    border-color: #f9e491;
    color: #c29d0b;
}

//时间插件默认input-mini被bootstrap-switch插件相同样式名覆盖只有45px的宽度，导致显示时间显示框宽度不够显示不全
.input-mini {
    width: 100% !important;
}
