// Extra small screen / phone
$screen-xs-min:              		480px !default;

// Small screen / tablet  
$screen-sm-min:              		768px !default;

// Medium screen / desktop
$screen-md-min:              		992px !default;

// Large screen / wide desktop
$screen-lg-min:             	 	1200px !default;

// Large scree / wider desktop      
$screen-lg-med:                     1260px !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              		($screen-sm-min - 1) !default;  // 767px
$screen-sm-max:              		($screen-md-min - 1) !default;  // 991px
$screen-md-max:              		($screen-lg-min - 1) !default;  // 1199px  
/* here you can put your own css to customize and override the theme */ 
$play-btn-size:100px;
$sidebar-width:320px;

//头部样式
$tabmenu-bg-color: #f2784b;
$tabmenu-font-color: white;
//广告主分析样式
$adser-analysis-sidebar-width:150px;
//广告分析样式
$ad-analysis-sidebar-width:150px;
body {
    min-width:800px;
}
.mb10 {
    margin-bottom:10px;
}
.inline {
    display:inline-block;
}
.vmiddle {
    vertical-align:middle;
}
.response-width {
    width:100%;
}
.navbar-fixed-top  {
    z-index:500 !important;
}

.page-tab-menu {
    background-color: $tabmenu-bg-color;
    .nav {
        li {
            &:hover {
                background-color:lighten($tabmenu-bg-color, 10%);
            }
            a {
                color:$tabmenu-font-color;
            }

            a:hover,a:focus {
                color:$tabmenu-font-color;
                background-color:lighten($tabmenu-bg-color, 10%);
            }
        }
        li.active {
            a {
                background-color:lighten($tabmenu-bg-color, 10%);
            }
        }
    }
}
.ml-sidebar {
    margin-left:$sidebar-width;
}
.input-group-addon {
    .bs-select {
        button {
            padding:4px !important;//解决作为搜索框的一部分不能不对齐的问题
        }
    }
}

//deckgrid根据不同宽度自适应
.deckgrid   {
    img {
        max-width:100%;
    }
}

.deckgrid .column {
    float: left;
}

.deckgrid[deckgrid]::before {
    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}


@media (max-width:$screen-sm-min) {
    .deckgrid[deckgrid]::before {
        /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
        content: '1 .column.column-1-1';
    }
}
@media (min-width:$screen-sm-min) and (max-width: $screen-sm-max) { /* 767px */
    .deckgrid[deckgrid]::before {
        /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
        content: '2 .column.column-1-2';
    }
}
@media (min-width:$screen-md-min) and (max-width: 1499px) {/*非标准值*/
    .deckgrid[deckgrid]::before {
        /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
        content: '3 .column.column-1-3';
    }
}

@media (min-width: 1500px) {
    .deckgrid[deckgrid]::before {
        /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
        content: '4 .column.column-1-4';
    }
}

.deckgrid {
    .column-1-4 {
        width:25%;
    }
    .column-1-3 {
        width: 33.33333%;
    }
    .column-1-2 {
        width:50%;
    }

    .column-1-1 {
        width:100%;
    }
}
.lh48 {
    line-height:48px;
}
//广告搜索相关类
.aditem {
    margin:16px;
    i {
        // display:inline-block;
        // margin-right:3px;
    }
    .avatar {
        max-width:100%;
    }
    .adlink {
        display:inline-block;
        max-width:50%;
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
        vertical-align:middle;
    }
    .aditem-footer {
        font-size:small;
    }
    .video {
        position:relative;
        .playbtn {
            position:absolute;
            left:50%;
            top:50%;
            margin-top:-$play-btn-size/2;
            margin-left:-$play-btn-size/2;
            width:$play-btn-size;
            height:$play-btn-size;
            line-height:$play-btn-size;

        }
    }
    video {
        max-width:100%;
    }
}

.advideo {
    min-height:130px;
}

.statics-btn {
    position:fixed;
    right:0;
    top:40%;
    z-index:99;
    width:56px;
    height:56px;
    border:0;
    border-radius:50%;
}
//在过滤器上填出日志范围选择时，z-index太小会被盖住
.daterangepicker.dropdown-menu {
    z-index:20000 !important;
}

.collapse-panel {
    height:300px;
    overflow-y:hidden;
}

.select2-dropdown {
    z-index:99999 !important;
}

.linktable {
    td {
        text-overflow:ellipsis;
        max-width:80%;
        line-height:1.2em;
        max-height:2.4em;
        white-space:normal;
        word-break:break-all;
        word-wrap:break-word;
    }
}
//弹出广告详情框时，隐藏右边滚动条，并右内填充17px
body.modal-open{overflow-y:hidden !important; padding-right: 17px !important;}
//广告分析的类
#ad {
    .avatar {
        max-width:50px;
        //padding:16px;
       
    }
    a.avatar:hover{ text-decoration: none;}
    #detail{
        .aditem-footer{display: block !important;
            .adlink{display: none;}
            .fa-link{display: none;} 
            hr{display: none;} 
        }
        .overview-line{
            .col-left{display: inline-block;
                .fa{font-size: 16px;line-height: 20px;}}
            .col-right{display: inline-block;margin-left: 10px;}
            h4{margin-bottom: 0px;}
        }
        .overview-card{padding-left:5px;padding-bottom: 10px; margin-bottom: 15px;border-bottom: 1px solid #e7ecf1;}
        .overview-data{margin-left: 30px;font-size: 14px;margin-bottom: 0px;}
        .detail-right.col-md-6{padding-left: 10px;}
    }
    .overviewtitle{
    font-size: 14px;
    color: #AAB5BC;
    font-weight: 600;
    text-transform: uppercase;}
    .detailusername{max-width: 70%;margin-left:5%;}  
    
    .aditem{margin: 0px;}
    .dashboard-stat2 {
        //padding-bottom:15px !important;
        padding-top: 0px;
        padding-right: 8px;
        padding-left: 8px;
        padding-bottom:0px;
        margin-bottom: 0px;
        // border-bottom: 1px solid #e7ecf1;
        height: 90px;
    }
    .detail-comm{
        span{margin-left: 10px;
            i{margin-right: 5px;color: #333;}}
        span:first-child{margin-left: 0px;}

    }
    single-image img{
        max-width: 100%;
        //padding-right: 30px;
    }
    single-video img{
        max-width: 100%;
    }
    carousel img{
        max-width: 100%;
    }
    adcanvas img{
        max-width: 100%;
    }
    #Landpage{
    // .landpage-div{margin-left: 20px;}
    .linksnapshot-icon{margin-left: 5px;cursor: pointer;}
    .landpage-title{color: #AAB5BC;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;}
    .label{padding-bottom: 1px;box-shadow: none;}

    }


}
.rank-title {
    margin-bottom:5px;
    border-bottom:1px solid #eee;
    h4 {
        font-weight:600;
        color:#AAB5BC
    }
}
.rankboard {
}

//排名相关类
.ranking {
    .avatar {
        max-width:50px;
    }
    th[data-field]:hover {
       cursor:pointer;
    }
}
//个人信息
.permissions {
    border:1px solid #eee;
}

//xgrit 卡片样式修改
//仿fb
.xg-span-message {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.38;
    word-wrap:break-word;
    margin: 10px 0 !important;
}

.xg-span-name {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #1d2129;
}

.xg-span-description {
    line-height: 16px;
    max-height: 80px;
    overflow: hidden;
    color: #1d2129;
    font-size: 12px;
}

.xg-label-caption {
    color: #90949c !important;
    background-color: #fff !important;
    box-shadow: none !important;
    font-size: 11px;
    font-weight: 500;
    line-height: 11px;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    word-wrap: break-word;
}

.xg-a-likepage {
    background-color: #f6f7f9 !important;
    color: #4b4f56 !important;
    border: 1px solid #ced0d4;
    border-radius: 2px;
}

.xg-label {
    line-height: 22px;
    padding: 5px 9px 5px 10px;
    text-transform: none;
    box-sizing: content-box;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    text-shadow: none;
    vertical-align: middle;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.xg-label:hover {
    text-decoration: none;
    background-color: #e9e8ee;
}

.xg-space {
    padding-right: 4px;
}

.xg-margin-bottom {
    margin-bottom: 5px;
}

.xg-mr5{
    margin-right: 5px;
}

.xg-adsername {
    color: #365899;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.38;
    font-family: Helvetica, Arial, sans-serif;
}

.xg-p-margin {
    margin: 5px 0 !important;
}

.xg-count-mt {
    margin-top: 7px;
}

.xg-icon {
    display: inline-block;
    line-height: 16px;
    width: 16px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0px 8px
}

.xg-icon-comment {
    background-image: url('../../../../assets/global/svg/comment.svg');
}

.xg-icon-share {
    background-image: url('../../../../assets/global/svg/share.svg');
}
.xg-icon-video {
    background-image: url('../../../../assets/global/svg/video.svg');
}

.xg-icon-play:before {
    content: url('../../../../assets/global/img/xgrit-img/icon-play.png');
}

.xg-icon-collect:before {
    content: url('../../../../assets/global/svg/collect.svg');
}

.xg-icon-audience {
    background-image: url('../../../../assets/global/svg/detail-person.svg');
}

.xg-icon-analysis {
    background-image: url('../../../../assets/global/svg/venus-detail-2.svg');
}

.xg-icon-audience, .xg-icon-analysis {
    background-position: 0px 4px
}

.xg-analysis {
    cursor: pointer;
    font-size: 16px;
}

.xg-type-select {
    padding: 0px !important;
    button {
        height: 42px;
        border: none !important;
    }
}

.xg-order-border {
    border-bottom: 1px solid #d3d3d3;
}

.xg-search-height {
    height: 44px !important;
    padding: 9px 16px !important;
}

.xg-collect {
    width: 20px !important;
    padding-left: 4px !important;
    padding-top: 2px !important;
    padding-bottom: 1px !important;
    margin-right: 16px !important;
    margin-top: 0px !important;

}
.xg-collect-border {
    height: 95% !important;
}

.xg-collect-border:after {
    border-left: 10px solid !important;
    border-right: 10px solid !important;
    border-left-color: #e87e04 !important;
    border-right-color: #e87e04 !important;
    color: #e87e04 !important;
    top: 20px;
}

.xg-audience {
    cursor: pointer;
}

.xg-card-pt0 {
    padding-top: 0px !important;
    padding-bottom: 12px !important;
}

.xg-audience-mr4 {
    margin-right: 4px;
}

.xg-link-width {
    max-width: 90% !important;
    min-width: 90%;
}

.xg-cardcontent-bbmn {
    border-bottom: none !important;
    margin-bottom: 0px !important;
}

.xg-audience-table {
    color: #333333 !important;
    font-weight: bold;   
    tr td {
        font-size: 16px !important;
    }
}

//广告主分析样式
.adser-analysis-sidebar {
    padding-top:20px;
    width:$adser-analysis-sidebar-width !important;
}
.adser-analysis-content{
    margin-left:$adser-analysis-sidebar-width !important;
}

//广告分析样式
.ad-analysis {
    overflow:hidden;
    position:relative;
    .sidebar {
        margin:20px;
        width:$adser-analysis-sidebar-width !important;
        position:absolute;
        left:0;
        top:0;
    }
    .content{
        padding:20px;
        margin-left:$adser-analysis-sidebar-width !important;
    }
}
//placeholder颜色大小字体
$black_placeholder:#000;
/* input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
color: $black_placeholder !important;
}
input:-moz-placeholder, textarea:-moz-placeholder {
color: $black_placeholder !important;
}
input::-moz-placeholder, textarea::-moz-placeholder {
color: $black_placeholder !important;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
color: $black_placeholder !important;
} */
//engament
.xg-wt10{
    width: 10px;
}
.xg-wt45{
    width: 45px;
}
//engagements color
.table-engagementsfilter{ 
    .like{
        color:#54ACF3;//Twitter's color
    }
    .share{
        color:#4658A4;//Facebook's color
    }
    .comment{
        color:#B84C40;//Google+'s color
    }
    .videoview{
        color:#2673A7;//LinkIn's color
    }
    .engagements{
        color:#F15A25;//orange
    }
    td{
        .close{
            margin-top: 8px;
        }
    }
}
.xg-clrbtn{
    margin-top: 10px;
     float: right;
}
.xg-dropdown-left-btn{
    text-align: left;
}
/* .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field {
    min-width: 0em;
    padding-left:10px;
} */
.xg-mh565{
    min-height: 565px;
}
.page-quick-sidebar {
    .input-group{
    margin-bottom: 10px;
    }
    form{
        i{
            color:#000;
        }
        span.select2,.select2-selection{
            border-radius: 0 4px 4px 0;
            border-left:0px;
        }
        span.select2-container{
            width: 100% !important;
        }
        .input-group-addon{
            background-color: #FFF;
            color: #000;
        }
        .has_left_icon{
            border-left:0px;
        }
        /* .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice{
            margin: 6px 0 0 3px !important;
            padding: 0 5px !important;
        } */
        .callToAction_group .select2-selection__choice{
            width: 180px;
        }
    }
    .apply-button{
        margin: 5px 0;
    }
    .dropdown{
        button{
            font-size: 14px !important;
            font-weight: 500 !important;
        }
    }

}
