
/* here you can put your own css to customize and override the theme */ 
$play-btn-size:100px;
body {
    min-width:750px;
}
.inline {
    display:inline-block;
}
.vmiddle {
    vertical-align:middle;
}
.response-width {
    width:100%;
}
//头部样式
$tabmenu-bg-color: #f2784b;
$tabmenu-font-color: white;
.page-tab-menu {
    background-color: $tabmenu-bg-color;
    .nav {
        li {
            &:hover {
                background-color:lighten($tabmenu-bg-color, 10%);
            }
            a {
                color:$tabmenu-font-color;
            }

            a:hover,a:focus {
                color:$tabmenu-font-color;
                background-color:lighten($tabmenu-bg-color, 10%);
            }
        }
        li.active {
            a {
                background-color:lighten($tabmenu-bg-color, 10%);
            }
        }
    }
}

//sortable指令的
.deckgrid   {
}
.deckgrid[deckgrid]::before {
    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
    content: '3 .column.column-1-4';
    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}

.deckgrid .column {
    float: left;
}

.deckgrid .column-1-4 {
    width: 33.33333%;
}

.lh48 {
    line-height:48px;
}
//广告搜索相关类
.aditem {
    margin:16px;
    i {
        // display:inline-block;
        // margin-right:3px;
    }
    .avatar {
        max-width:100%;
    }
    .adlink {
        display:inline-block;
        max-width:50%;
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
        vertical-align:middle;
    }
    .aditem-footer {
        font-size:small;
    }
    .video {
        position:relative;
        .playbtn {
            position:absolute;
            left:50%;
            top:50%;
            margin-top:-$play-btn-size/2;
            margin-left:-$play-btn-size/2;
            width:$play-btn-size;
            height:$play-btn-size;
            line-height:$play-btn-size;

        }
    }
    video {
        max-width:100%;
    }
}

.advideo {
    min-height:200px;
}

.statics-btn {
    position:fixed;
    right:0;
    top:40%;
    z-index:99;
    width:56px;
    height:56px;
    border:0;
    border-radius:50%;
}
//在过滤器上填出日志范围选择时，z-index太小会被盖住
.daterangepicker.dropdown-menu {
    z-index:20000 !important;
}

.collapse-panel {
    height:300px;
    overflow-y:hidden;
}

.select2-dropdown {
    z-index:99999 !important;
}

.linktable {
    td {
        text-overflow:ellipsis;
        max-width:80%;
        line-height:1.2em;
        max-height:2.4em;
        white-space:normal;
        word-break:break-all;
        word-wrap:break-word;
    }
}

//广告分析的类
#ad {
    .avatar {
        max-width:80px;
        padding:16px;
    }
    .dashboard-stat2 {
        padding-bottom:15px !important;
    }

}
.rank-title {
    margin-bottom:5px;
    border-bottom:1px solid #eee;
    h4 {
        font-weight:600;
        color:#AAB5BC
    }
}
.rankboard {
}

//排名相关类
.ranking {
    .avatar {
        max-width:50px;
    }
    th[data-field]:hover {
       cursor:pointer;
    }
}
//个人信息
.permissions {
    border:1px solid #eee;
}

//xgrit 卡片样式修改
//仿fb
.xg-span-message {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.38;
}

.xg-span-name {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #1d2129;
}

.xg-span-description {
    line-height: 16px;
    max-height: 80px;
    overflow: hidden;
    color: #1d2129;
    font-size: 12px;
}

.xg-label-caption {
    color: #90949c !important;
    background-color: #fff !important;
}

.xg-a-likepage{
    background-color: #f6f7f9 !important;
    border-color: #ced0d4; 
    color: #939393 !important;
    border: 1px solid;
    border-radius: 2px;
}