<div class="a-card fade-in-up mt-element-ribbon adsearch-card">
    <div class="portlet light adscard-body">
    <div class="card-header">
        <div class="header-seetime text-left">
            <span class="time-title">last seen:</span>
            <span class="time-time">{{card.last_see  | date: "yyyy.MM.dd"}}</span>
        </div>
        <a analysis-opener userid="{{card.event_id}}" class="card-insight-btn btn">Ad Insight</a>
        <div class="card-bookmark" uib-popover-template="'ad-bookmark-popover.html'" popover-placement="left" popover-title="Add Bookmark" popover-is-open="card.showBookmark" ng-if="!mother.data.ads.bookmark" popover-trigger="'outsideClick'">
            <i class="bookmark-icon" ng-class='{"has-bookmark":card.hasBookmark, "no-bookmark":!card.hasBookmark }'></i>
        </div>
        <div class="card-bookmark" ng-if="mother.data.ads.bookmark" ng-click="mother.cancelBookmark(0, card)">
            <i class="bookmark-icon has-bookmark"></i>
        </div>
    </div>
        <div class="portlet-title xg-cardcontent-bbmn">
            <div class="pull-right xg-audience-mr4">
                <!-- <button ng-if="card.whyseeads_all || card.whyseeads" sweetalert title="{{card.whyseeads ? card.whyseeads : card.whyseeads_all}}">
                    <i class="fa fa-users font-yellow-gold"></i>
                </button> -->
            </div>
            <!-- <span class="font-yellow_gold">ads_id:</span> -->
            <br/>
            <div class="ads-card-info">
                <!-- <div class="pull-right"> -->
                    <!-- 受众已经在详情页专门显示，卡片上暂时移除 -->
                    <!-- <i class="xg-audience xg-icon xg-icon-audience font-yellow-gold" ng-if="mother.User.can('audience_search') && (card.whyseeads_all || card.whyseeads)" audience title="{{card.whyseeads ? card.whyseeads : card.whyseeads_all}}"></i> -->
                    <!-- <a ng-href="./adAnalysis/{{card.event_id}}" class="font-yellow-gold " target="_blank"><i class="xg-icon xg-icon-analysis"></i></a> -->
                   <!--  <a analysis-opener class="font-yellow-gold " userid="{{card.event_id}}"><i class="xg-icon xg-icon-analysis"></i></a> -->
               <!--  </div>
                <div class="pull-left">
                    <i class="fa fa-clock-o font-yellow-gold fa-fw"></i><span>{{card.duration_days}}</span>
                    <i class="fa fa-eye font-yellow-gold  fa-fw"></i><span>{{card.see_date}}</span>
                </div> -->
                <!-- <div> -->
                    <!--<i class="fa fa-share-alt fa-3x font-yellow-gold"  ng-show="mother.Searcher.getAdsType(card, mother.Searcher.ADS_TYPE.timeline)"></i>
                <i class="fa fa-columns fa-3x font-yellow-gold"  ng-show="mother.Searcher.getAdsType(card, mother.Searcher.ADS_TYPE.rightcolumn)"></i>
                 <i class="fa fa-mobile font-yellow-gold  fa-3x" ng-show="mother.Searcher.getAdsType(card, mother.Searcher.ADS_TYPE.mobile)"></i> -->
                <!-- </div> -->
            </div>
            <!-- avatar and adser info -->
            <div class="card-adshead">
                <a ng-href="https://www.facebook.com/{{card.adser_username}}" target="_blank">
                    <img src="/images/input-spinner.gif" lazy-img="{{card.small_photo}}" alt="" class="ads-img" width="{{card.small_photo | getImageSize:0}}px" type="bba">
                </a>
                <div class="header-info">
                    <div class="info-name ads-text-ellipsis">
                        <a class="xg-adsername mobile-hidden" adserlink name="{{card.adser_name}}" username="{{card.adser_username}}">
                            <span ng-bind-html="card.adser_name | toHtml" ng-show="card.adser_name"></span>
                            <span ng-show="!card.adser_name">{{card.adser_username}}</span>
                        </a>
                    </div>
                    <div class="info-bottom">
                        <span class="xg-sponsored">Sponsored</span>
                        <a href="https://www.facebook.com/{{card.adser_username}}" class="card-likepage-btn xg-a-likepage text-left ads-font-12 pull-right" ng-show="card.likepage" target="_blank">
                            <i class="fa fa-thumbs-up"></i>
                            Like Page
                        </a>
                    </div>
                </div>
            </div>
            <!-- end avatar and adser info -->
            <a analysis-opener userid="{{card.event_id}}" class="adscard-link">
                <div class="card-content">
                    <single-image ng-if="card.type == 'SingleImage'" card="card">
                    </single-image>
                    <single-video ng-if="card.type == 'SingleVideo'" card="card"></single-video>
                    <carousel ng-if="card.type == 'Carousel'" card="card">
                    </carousel>
                    <adcanvas ng-if="card.type == 'Canvas'" card="card"></adcanvas>
                    <div class="adscard-footer" ng-if="card.show_way != 4">
                        <i class="analy-fbicon icon-good"></i>
                        <i class="analy-fbicon icon-love"></i>
                        <i class="analy-fbicon icon-surp"></i>
                        <span class="adscard-likedata ads-font-14">
                            {{card.likes | addUnit}}
                        </span>
                        <span class="adscard-comment ads-font-12">
                            <span class="comments-data">
                            {{card.comments | addUnit}} Comments
                            </span>
                            <span class="comments-data">
                            {{card.shares | addUnit}} Shares
                            </span>
                            <span class="comments-data">
                            {{card.views | addUnit}} Views
                            </span>
                        </span>
                    </div>
                <div class="adscard-shade"></div>
                </div>
            </a>
        </div>
    </div>
