<div class="adser-search-card">
    <div class="card-body">
        <!-- 暂时屏蔽书签功能 -->
        <!-- <div class="adser-bookmark" ng-if="mother.data.adsers.bookmark" ng-click="mother.cancelBookmark(1, card)">
            <i class="fa fa-heart"></i>
        </div>
        <i class="adser-bookmark fa"  ng-class="{'fa-heart' : card.hasBookmark, 'fa-heart-o': !card.hasBookmark}" uib-popover-template="'components/bookmark-popover.html' | nocache" popover-placement="left" popover-title="Add Bookmark" popover-is-open="card.showBookmark" ng-if="!mother.data.adsers.bookmark && card.adser_username"  popover-trigger="'outsideClick'">
        </i> -->
        <!-- avatar and adser info -->
        <a ui-sref="adserAnalysis({username:card.facebook_id})" target="_blank">
            <div class="adser-img">
                <img src="../../images/input-spinner.gif" lazy-img="{{card.avatar}}" alt="" class="avatar">
            </div>
        </a>
        <!-- end avatar and adser info -->
        
    </div>
    <div class="adser-name">
        <a ui-sref="adser({name:card.name, adser:card.facebook_id})" ng-bind-html="card.name | toHtml" ng-show="card.name" class="adser-name"></a>
        <i class="fa fa-check-circle text-info" ng-if="card.page_verified == 'blue_verified'"></i>
        <i class="fa fa-check-circle text-muted" ng-if="card.page_verified == 'gray_verified'"></i>
    </div>
</div>