<!-- BEGIN PAGE SPINNER -->
<div ng-spinner-bar class="page-spinner-bar">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
<!-- END PAGE SPINNER -->
<div class="page-wrapper">
    <div class="page-wrapper-row">
        <div class="page-wrapper-top">
            <!-- BEGIN HEADER -->
            <header class="page-header"></header>
            <!-- END HEADER -->
        </div>
    </div>
    <div class="page-wrapper-row full-height">
        <div class="page-wrapper-middle">
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN PAGE CONTENT -->
                <div class="page-content">
                    <div ng-class="{ 'container-fluid': !$ctrl.state.current.data.removeContainer }">
                        <!-- BEGIN ACTUAL CONTENT -->
                        <div ui-view> </div>
                        <div id="popupview">
                            <div ui-view="popupview" class="fade-in-up"> </div>
                        </div>
                        <!-- END ACTUAL CONTENT -->
                    </div>
                </div>
                <!-- END PAGE CONTENT -->
                <!-- BEGIN QUICK SIDEBAR -->
                <!-- END QUICK SIDEBAR -->
            </div>
            <!-- END CONTAINER -->
        </div>
    </div>
</div>
