<div class="dashboard-stat dashboard-stat-v2 xg-upgrade-banner" >
	<div class="pull-right xg-close">
		<button class="xg-close-icon" ng-click="close()">×</button>
	</div>
	<div class="xg-upgrade-banner-head" >
		<h3 class="text-center">
			<strong>Audience</strong>
		</h3>
	</div>
	<table class="table table-striped table-hover table-bordered text-left xg-audience-table">
		<tbody>
			<tr ng-repeat="item in ( why_see | limitTo: 10 ) track by $index">
				<td>{{item}}</td>
			</tr> 
		</tbody>		
	</table>
	<div class="xg-audience-foot">
		<span class="font-yellow-gold" ng-show="audienceLength > 10">
			<h4>See all audience targeting info in ad insight.<i class="xg-icon xg-icon-analysis"></i></h4>
		</span>
	</div>
</div>