<div>
    <table class="table table-striped ">
        <tr class="bg-default table-bordered">
            <th>Type</th>
            <th>ID</th>
            <th>Plan</th>
            <th>Start Date</th>
            <th>Expire Date</th>
            <th>Price</th>
            <th>Status</th>
            <th>Operation</th>
        </tr>
        <tr ng-repeat="item in $ctrl.billings.items | orderBy:'-startDate'">
            <td>{{item.gateway == 'paypal' ? 'paypal' : 'credit card'}}</td>
            <td>{{item.number}}</td>
            <td>{{item.subscription.plan}}</td>
            <td>{{item.start_date}}</td>
            <td>{{item.end_date}}</td>
            <td>{{item.amount + " " + item.currency}}</td>
            <td>{{item.status}}</td>
            <td>
                <!-- <a class="btn btn-default" ng-href="/invoice/{{item.invoice}}">Invoice</a> -->
            </td>
        </tr>
    </table>
</div>
