#billings {
    .billing-note {
        margin-top: 30px;
        position: relative;
        overflow: hidden;
        border: 1px solid #efefef;
        background: #fff;
        .note-icon {
            position: absolute;
            z-index: 0;
            width: 50px;
            height: auto;
            left: 30px;
            top: 35px;
        }
        .billing-note-wrapper {
            margin-left: 100px;
            position: relative;
        }
        .note-button-wrapper {
            margin-top: 20px;
        }
    }
    .billing-download-btn,
    .billing-refund-btn {
        padding: 0;
    }
    .billing-download-btn {
        color: #e4524b;
    }
    .billing-table {
        margin-top: 30px;
    }
}