#bookmark-popover{
    .bookmark-popover-body{
        margin: -9px -14px;
        border-radius: 6px;
        padding: 0;
        position: relative; 
    }
    
    .bookmark-creat-btn {
        border-bottom: 1px solid #efefef;
        padding:0 15px;
        cursor: pointer;
        height: 35px;
        display: flex;
        align-items: center;
        font-weight: 200;
        .bookmark-add-icon{
            height: 20px;
            width: 20px;
            border-radius: 10px;
            border: 1px solid #ccc;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            line-height: 18px;
            margin-right: 12px;
            color: rgba(158, 158, 158, 0.56);
        }
        &:hover {
            background: #efefef;
            color: #ccc;
        }
    }
    .bookmark-list-wrapper{
        max-height: 200px;
        height: auto;
        margin: 0;
        &.list-minheight{
            min-height: 186px;
        }
        .bookmark-list-name{
            width: 150px;
            display: inline-block;
        }
        li{
            line-height: 30px;
            border-bottom: 1px solid #eee;
            padding: 0 8px;
            margin: 0;
            label{
                cursor: pointer;
                display: flex;
                align-items: center;
                margin: 0;
                input{
                    margin: 0;
                    margin-left: 5px;
                }
            }
            &:hover{
                background: #eee;
            }
        }
    }
    .list-trunpage{
        margin: 15px 0;
        .turn-button{
            display: inline-block;
            padding: 0px 8px;
            border:1px solid #eee;
            border-radius: 4px;
            margin: 0 5px;
        }
    }
    .bookmark-btn-wrapper{
        width: 100%;
        margin: 10px 0;
        display: flex;
        justify-content: center;
    }
    .loding-div{
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}