<!-- begin ad description -->
<div class="aditem-desc">
    <!-- begin Carousel -->
    <div class="clearfix" >
        <div class="xg-span-message" ng-init="showCut = card.showSeeMore">
            <span ng-bind-html="card.excerpt | toHtml" ng-if="showCut"></span>
            <span ng-bind-html="card.message | toHtml" ng-if="!showCut"></span>
            <a ng-show="showCut" class="adscard-seemore" ng-click="showCut = false">...See More</a>
        </div>
    <div class="adscard-content">
        <div uib-carousel active="card.active" no-wrap="true">
            <div uib-slide ng-repeat="slide in card.watermark track by $index" index="$index">
                <div class="text-center mt-element-overlay" ng-if="slide.media_type == 'photo'">
                    <div class="xg-margin-bottom">
                        <a ng-href="{{card.link[$index]}}" rel="group{{card.event_id}}" target="_blank">
                            <!-- 为防止无限加载时图片加载后高度改变导致浏览位置变化，在加载图片前就设定好高度，这就要求图片URL一定要符合格式，否则不能正常显示 -->
                            <img class="img-loading" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" lazy-img="{{slide.source}}" width="{{slide.source | getImageSize:0}}px" height="{{slide.source | getImageSize:1}}px" alt="" type="bba"  ref-object=".adscard-content">
                        </a>
                    </div>
                </div>
                <!-- carousel 中会混有视频 -->
                <div class="text-center" ng-if="(card.local_picture[$index].media_type == 'video') && (slide.media_type == 'video')">
                    <video advideo ng-src="{{(settings.videoRemoteBase + card.local_picture[$index].video) | trusted}}" preload="none" controls="controls" preview="{{(slide.source) | trusted}}">
                    </video>
                </div>
            </div>
        </div>
        <div class="adscard-bottom">
            <div class="h5" ng-if="card.name[card.active] | toHtml">
                <div class="xg-span-name xg-overflow-hidden">
                    <span ng-bind-html="card.name[card.active] | toHtml"></span>
                </div>
            </div>
            <p class="xg-span-description xg-p-margin" ng-if="card.description[card.active]">
                <span ng-bind-html="card.description[card.active] | toHtml"></span>
            </p>
            <!-- End Carousel -->
            <!-- 
            无法引用到AdsearchController内的Util.isArray方法,不得已在AdsearchController内多加了个card.isCaptionJson的标示  
            <span>{{mother.mother.Util.isArray(card.caption)}}</span>
            <span>{{Util.isArray(card.caption)}}</span>
             -->
            <div class="aditem-caption margin-top-10 clearfix" ng-if="card.caption || card.buttondesc[card.active]!=''">
                <label class="xg-label-caption label label-sm label-warning" ng-bind-html="card.caption[card.active] | toHtml" ng-if="card.isCaptionJson"></label>
                <label class="xg-label-caption label label-sm label-warning" ng-bind-html="card.caption | toHtml" ng-if="!card.isCaptionJson"></label>
                <div class="pull-right" ng-if="card.buttondesc[card.active]!=''">
                    <a ng-href="{{card.buttonlink[card.active]}}" class="xg-a-likepage xg-label" target="_blank">{{card.buttondesc[card.active]}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end description -->

<div class="aditem-footer" ng-show="!card.indetail">
    <hr class="xg-p-margin">
    <!-- <div ng-if="card.link[card.active]">
        <i class="fa fa-link fa-fw"></i>
        <a ng-href="{{card.link[card.active]}}" class="adlink xg-link-width" target="_blank">{{card.link[card.active] | clearHttps}}</a>
    </div> -->
</div>

<!-- <div class="carousel-caption" ng-show="card.caption">
    {{card.caption}}
</div> -->

