<!-- BEGIN HEADER TOP -->
<div class="page-header-top navbar-fixed-top">
    <div class="container-fluid bg-white">
        <!--mobile view open the filter buttom -->
        <a ng-href="/mobile_maintain">
            <div class="filter-button hidden fa fa-th-list">
            </div>
        </a>
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a ng-href="/home" class="mobile-hidden">
                <img ng-src="{{$ctrl.settings.globalPath}}/img/logo2.png" alt="logo" class="logo-default">
            </a>
            <a ng-href="/mobile" class="mobile-show">
                <img ng-src="{{$trl.settings.globalPath}}/img/logo3.png" alt="logo" class="logo-default">
            </a>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN HEADER MENU -->
        <main-menu />
        <!-- END HEADER MENU -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler"></a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu" ng-controller="UserController" >

            <a class="btn font-white bg-yellow-gold" ng-href="/login" ng-if="!User.info.login">Login</a>
            <ul class="nav navbar-nav pull-right" ng-if="User.info.login">
                <!-- <li class="droddown dropdown-separator"> -->
                <!--     <span class="separator"></span> -->
                <!-- </li> -->
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <li class="dropdown dropdown-user dropdown-dark">
                    <a ng-href="/logout" class="btn font-white bg-yellow-gold hidden mobile-show">Logout</a>
                    <a href="javascript:;" class="dropdown-toggle mobile-hidden" data-toggle="dropdown" data-close-others="true">
                        <!-- <img alt="" class="img-circle" src="{{settings.layoutPath}}/img/avatar9.jpg"> -->
                        <i class="icon-user"></i>
                        <span class="username username-hide-mobile">{{User.info.user.name}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a ui-sref="profile" ui-sref-opts="{reload:true}">
                                <i class="icon-user font-white"></i> Profile </a>
                        </li>
                        <li>
                            <a href="/app/profile?active=1" ui-sref-opts="{reload:true}">
                                <i class="icon-notebook font-white"></i> Billing
                            </a>
                        </li>
                        <li>
                            <a ui-sref="plans">
                                <i class="icon-rocket font-white"></i> Plans
                            </a>
                        </li>
                        <li class="divider"> </li>
                        <!-- <li> -->
                        <!--     <a href="#"> -->
                        <!--         <i class="icon-lock"></i> Lock Screen </a> -->
                        <!-- </li> -->
                        <li>
                            <a ng-click="logout()">
                                <i class="icon-key font-white"></i> Log Out
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
</div>
<!-- END HEADER TOP -->
