//注册模块
#register-form {
    padding: 10px 10px;
    .register-btn {
        padding: 12px 0 !important;
        width: 100%;
        display: block; // margin-top: 20px;
        margin-bottom: 15px;
        font-size: 1.6rem !important;
    } //facebook 按钮 
    .register-fbbtn {
        margin-top: 15px;
        background-image: linear-gradient(0deg, #3e5792, #4e6eb6);
        color: #fff;
    } //领英按钮
    .register-inbtn {
        margin-top: 15px;
        background: #0077b5;
        color: #fff;
    }
    .use-email-btn {
        border: 1px solid #eb6130;
        background: #fff;
        color: #eb6130;
    }
    .to-signin-btn {
        background: #eb6130;
        color: #fff;
    }
    .reg-underline-div {
        padding: 15px;
        display: flex;
        .underline-line {
            flex: 1;
            border-bottom: 1px solid #ccc;
            height: 1px;
        }
        .underline-text {
            color: #555;
            margin: 0 10px;
            margin-top: -10px;
        }
    }

    .reg-email-div {
        margin-top: 15px;
        .input-wrapper {
            display: flex;
            align-items: center;
            position: relative;
            .fa {
                position: absolute;
                left: 8px;
                color: #ccc;
                z-index: 5;
            }
            .form-control {
                padding-left: 30px;
            }
        }
        .turn-back-span {
            height: 35px;
            display: block;
            position: relative;
            margin-bottom: 15px;
            .turn-back {
                cursor: pointer;
                position: absolute;
                left: 15px;
                top: 5px;
                font-size: 20px;
                color: #eee;
                transition: all .2s;
            }
            .turn-back:hover {
                transform: scale(1.2);
                padding: 5px 15px;
                border-radius: 10px;
                color: #eb6130;
                border: 1px solid #ccc;
            }
        }
    }
    .form-group {
        margin-left: 0px;
        margin-right: 0px;
    }
    .form-title {
        font-weight: 600;
    }

    .form-group {
        .fa {
            line-height: 28px;
        }
        .form-control {
            height: 50px;
            border-left: 2px solid #eb6130;
        }
        .mt-checkbox {
            margin-bottom: 0px;
        }
    }
    .button-div {
        border-top: 1px solid #eee;
        button {
            padding: 12px !important;
            width: 100%;
            background: #eb6130;
            border: 1px solid transparent;
            font-size: 16px !important;
            color: #fff;
        }
    }
    p {
        font-size: 14px;
        font-weight: normal;
    } 
    //注册模块加载动画
    .img-waiting {
        width: 35px;
    }
}