<div id="permission-reminder">
    <i class="fa fa-star-half-o notifi-bg-icon"></i>
    <div class="modal-header notifi-tite">
        <button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title ads-weight-600">你必须先激活你的邮箱！</h4>
    </div>
    <div class="modal-body notifi-content">
        <div class="notifi-list-wrapper">
            <p>请到profile页面确认有效邮箱并且激活才能正常使用</p>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-lg xg-subscribe-color" ng-click="goProfile()">Go Profile</a>
    </div>

</div>