<div id="permission-reminder">
    <i class="fa fa-address-card-o notifi-bg-icon"></i>
    <div class="modal-header notifi-tite">
        <button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title ads-weight-600">Please verify your email before continue</h4>
    </div>
    <div class="modal-body notifi-content">
        <div class="notifi-list-wrapper">
            <p class="ads-font-22">Submit an email so we can send you verification link. You can use the service after verification.</p>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-lg xg-subscribe-color" ng-click="goProfile()">Verify now</a>
    </div>
</div>