#permission-reminder {
	border-radius: 6px;
	position: relative;
	overflow: hidden;
	.notifi-tite{
		position: relative;
		color: #E87E04;
	    background-image: linear-gradient(to bottom, #ccc 0%, rgba(226, 235, 240, 0.35) 100%);
	}
	.notifi-content{
		padding: 35px;
	}
    .notifi-list-wrapper {
    	margin-top: 30px;
        .notifi-list {
            background-color: rgba(255, 193, 7, 0.42);
            border: 1px solid rgba(158, 158, 158, 0.4);
            margin: 15px 0;
            display: flex;
            height: 60px;
            align-items: center;
            border-radius: 4px;
            overflow: hidden;
            .notifi-list-left {
                width: 80px;
                height: 100%;
                overflow: hidden;
                border-right: 6px dotted #fff;
                position: relative;
                .notifi-list-icon {
                    position: absolute;
                    font-size: 50px;
                    left: -5px;
                    bottom: -8px;
                    color: rgba(255, 152, 0, 0.48);
                    transform: rotate(30deg);
                    -webkit-transform: rotate(30deg);
                    /* Safari 和 Chrome */
                }
            }
            .notifi-list-right {
                padding: 15px 0;
                flex: 1;
                padding: 0 20px;
                .notifi-list-text {
                    font-size: 24px;
                    font-weight: 800;
                    color: #795548;
                }
            }
        }
    }
    .modal-footer{
    	position: relative;
    }
    .notifi-bg-icon{
    	position: absolute;
    	right: -100px;
    	bottom: -100px;
    	font-size: 600px;
    	z-index: 0;
    	transform: rotate(-30deg);
    	color:#eee;

    }
}