@import '../styles/variables.scss';
@import '../styles/mixins/_clearfix.scss';

$sidebar-width:320px;
//广告主分析样式
$adser-analysis-sidebar-width:150px;
//广告分析样式
$ad-analysis-sidebar-width:150px;

// Quick Sidebar
$quick-sidebar-width:                                                   320px !default;  // quick sidebar width. default: 245px;  
$quick-sidebar-tab-item-padding:										15px 15px;       // quick sidebar item padding. default: 15px 15px;

$quick-sidebar-bg-color:												white; 
$quick-sidebar-font-color:											    black;
$zindex-quick-sidebar:                                                  999 !default;

/* Quick sidebar toggler */

.page-quick-sidebar-toggler {
	overflow: hidden;
	z-index: 99999;
	display: none;
	width: 28px;
	height: 27px;
	position: fixed;
	top: 10px; 
	left: 200px;
	text-align: center;
	padding-top: 6px;

	&:hover {
        background: darken(lighten($quick-sidebar-bg-color, 10%), 3%);            
    }

	.page-quick-sidebar-open & {
		display: inline-block;

		&:hover {
        	background: none;            
    	}
	}

	> i {
		color: lighten($quick-sidebar-font-color, 10%);
		font-size: 17px;

		&:hover {
			color: #fff !important; 
		}

		.page-quick-sidebar-open &:before {
			content: "\e066"#{'/*rtl:"\e065"*/'};
		}
	}
}

/* Quick sidebar wrapper */

.page-quick-sidebar-wrapper {
	//transition: left 0.3s;	
	z-index: $zindex-quick-sidebar;
	position: fixed;
    left: 0;
	top: 52px;
	width: $quick-sidebar-width;  
    height:100%;
	//left: -$quick-sidebar-width;
	overflow: hidden;
	color: lighten($quick-sidebar-font-color, 10%);
	background: white; // $quick-sidebar-bg-color;
    border:1px solid #eee;
    box-shadow: 0 5px 8px 0 rgba(7, 17, 27, 0.1);
	// .page-quick-sidebar-open & {
	// 	transition: left 0.3s;	
	// 	left: 0;
	// }
	.page-quick-sidebar {
		//background: $quick-sidebar-bg-color;
        height:100%;
        overflow-y:auto;
        padding:8px;
		.nav-tabs {
			margin: 0;
			padding: 0;
			border: 0;

			> li {
				display: table-cell !important;
				width: 1%  !important;
				padding: 0;
				margin: 0;
				float: none;

				> a {
					position: relative;
					display: block;
					text-align: center;
					border: 0;
					height: auto;
					font-size: 14px;
					padding: 45px 15px 8px;
					text-transform: uppercase;
					background: none;
					margin-right: 0;  
                    color: lighten($quick-sidebar-font-color, 7%);
                    border: 0;
                    border-bottom: 3px solid rgba(243,86,93,.3); 
                    border-radius: 0;
                    outline: none !important;
                    
					> .badge {
						position: absolute;
						top: 45px;
						right: 3px;
					}  
				}  

	            &.active,
	            &:hover {
	            	> a {
	            		border: 0;
	            		border-bottom: 3px solid #f3565d;
                        background: none;
						color: #fff;
						text-decoration: none;
	            	}
	            }

				.dropdown-menu {	  
					border: 0;
                    background: lighten($quick-sidebar-bg-color, 10%); 
                    box-shadow: 5px 5px rgba(lighten($quick-sidebar-bg-color, 30%), 0.1);
	               	margin-top: 8px;                   
	                margin-right: 20px;  

	                &:before {
						position: absolute;
						top: -7px;
						right: 19px;
						display: inline-block !important;
						border-right: 7px solid transparent;
						border-left: 7px solid transparent;
						border-bottom: 7px solid lighten($quick-sidebar-bg-color, 10%);
						content: '';
					}   

					&:after {
						position: absolute;
						top: -6px;
						right: 20px;
						display: inline-block !important;
						border-right: 6px solid transparent;
						border-left: 6px solid transparent;
						border-bottom: 7px solid lighten($quick-sidebar-bg-color, 10%);
						content: '';
					}

					> li {
                        > a {
                        	padding: 10px 15px;
	                        color: lighten($quick-sidebar-font-color, 10%); 

	                        > i {
	                            color: lighten($quick-sidebar-font-color, 8%); 
	                        }
	                    }

	                    &:hover {
	                    	> a {
	                    		background: lighten($quick-sidebar-bg-color, 13%); 
	                        	color: lighten($quick-sidebar-font-color, 10%); 

	                        	> i {
	                            	color: lighten($quick-sidebar-font-color, 11%); 
	                        	}
	                    	}
	                    }
	                        
	                    &.active {
	                        > a {
	                        	background: lighten($quick-sidebar-bg-color, 11%); 
	                        	color: lighten($quick-sidebar-font-color, 10%); 
	                    	}
	                    }
                    }

                    > li.divider {
                    	background-color: lighten($quick-sidebar-bg-color, 13%); 
                    }
	            }

	            &.open {
	            	> a.dropdown-toggle {
	            		border-bottom: 3px solid #f3565d;
	            		background: none;
	            		text-decoration: none;
	            		color: lighten($quick-sidebar-font-color, 7%);
	            	}
	            }	             
			}
		}

		/* Quick sidebar tabs content */
		.tab-content {
			margin: 0;
			padding: 0;
		}

		/* Quick sidebar general list heading */
		.list-heading {
			font-size: 16px;
			margin: 10px 10px;
			color: darken($quick-sidebar-font-color, 5%); 
		}

		/* Quick sidebar general list-items */
		.list-items {
			margin: 0;
			padding: 0;
			list-style: none;

			> li {
				margin: 0;
		        padding: 15px;
		        background: none;
		        border-bottom-width: 1px;
		        border-bottom-style: solid;
		        border-bottom-color: lighten($quick-sidebar-bg-color, 3%); 

                &:hover { 
                    background: lighten($quick-sidebar-bg-color, 3%); 
                }

	            &:last-child {
		            border-bottom: 0;
		        }
	    	}

	    	&.borderless {
	    		li {
	    			border: 0;  
		        }
	    	}
		}

		/* Inner content */
		// .inner-content {
		// 	margin: 10px 10px;
		// }
	}
}

/*命名不规范*/
.ml-sidebar {
    margin-left: $sidebar-width;
}

/*左边过滤栏*/
.page-quick-sidebar {
    .filter-title {
        border-left: 4px solid #ea912a;
        padding-left: 4px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    .show-button {
        text-decoration: none;
        .down-icon {
            transition: All 0.4s ease-in-out;
            margin-left: 6px;
            font-size: 1.6rem;
        }
    }
    .show-button.collapsed {
        .down-icon {
            transform: rotate(180deg);
            text-decoration: none;
        }
    }
    /*duration*/
    .customads-rundiv {
        .irs {
            .irs-line {
                height: 18px;
                border-radius: 4px;
                top: 0px;
                .irs-line-left,
                .irs-line-right,
                .irs-line-mid {
                    background: #e8ebf0;
                    height: 100%;
                }
            }
            .irs-bar {
                height: 18px;
                background: #fba745;
                top: 0px;
            }
            .irs-slider {
                top: -2px;
                background: #eb7e00;
                width: 4px;
                height: 22px;
            }
            .irs-from,
            .irs-to {
                top: 24px;
                color: #eb7e00;
                background: none;
            }
            .irs-from:after,
            .irs-to:after {
                border: 0px;
                background: none;
            }
            .irs-min,
            .irs-max {
                top: 24px;
                padding: 1px 0px;
                background: none;
            }
        }
    }
    .table-engamentfilter {
        tbody>tr>td,
        tbody>tr>th,
        tfoot>tr>td,
        tfoot>tr>th,
        thead>tr>td,
        thead>tr>th {
            border-top: 0px;
            vertical-align: middle;
            border-bottom: 1px solid #e7ecf1;
            padding-left: 0px;
            padding-right: 0px;
        }
        .engagement-item {
            color: #555;
            padding-left: 0px;
            padding-right: 8px;
        }
        input {
            border-radius: 2px;
            text-align: center;
            border: 1px solid #d6d9e2;
            width: 100%;
            padding: 5px 2px;
            color: #555;
        }
        input:focus {
            border-color: #ea7e00;
            color: #ea7e00;
        }
        /*去掉number类型输入框的上下箭头*/
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none !important;
        }
        input[type="number"] {
            -moz-appearance: textfield;
        }
        label {
            text-align: center;
            color: #b5bcc6;
        }
        .clearitem-button {
            min-width: 20px;
            text-align: center;
        }
        button.close {
            margin: 0 auto;
            float: none;
            display: block;
        }
    }
    .filterapply-bitton {
        .btn {
            width: 100%;
            padding: 15px 0px;
        }
    }
    .xg-clrbtn {
        margin: 0px;
        text-decoration: none;
        color: #e87f02;
    }
}



.page-quick-sidebar {
    .input-group {
        margin-bottom: 10px;
        .xg-lock-unauthorised {
            position: absolute;
            margin-top: 10px;
            margin-left: -25px;
            z-index: 10;
            color: #6f6f6f !important;
        }
    }
    form {
        i {
            color: #000;
        }
        span.select2,
        .select2-selection {
            border-radius: 0 4px 4px 0;
            // border-left:0px;
        }
        span.select2-container {
            width: 100% !important;
        }
        .input-group-addon {
            background-color: #FFF;
            color: #000;
        }
        .has_left_icon {
            // border-left:0px;
        }
    }
    .apply-button {
        margin: 5px 0;
    }
    .dropdown {
        button {
            font-size: 14px !important;
            font-weight: 500 !important;
        }
    }
    /*统一placeholder字体颜色*/
    .input-group {
        input::-webkit-input-placeholder,
        textarea::-webkit-input-placeholder {
            color: #999;
        }
        input:-moz-placeholder,
        textarea:-moz-placeholder {
            color: #999;
        }
        input::-moz-placeholder,
        textarea::-moz-placeholder {
            color: #999;
        }
        input:-ms-input-placeholder,
        textarea:-ms-input-placeholder {
            color: #999;
        }
    }
    /*覆盖select2 的原有样式*/
    .select2-dropdown {
        border-color: #66afe9 !important;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    }
    .select2-container--default.select2-container--focus .select2-selection--multiple {
        border-color: #66afe9;
    }
    .select2 .select2-selection--multiple {
        min-height: 34px;
    }
    .select2-container--default {
        .select2-selection--multiple .select2-selection__choice {
            color: #555;
            border-radius: 4px;
            cursor: default;
            float: left;
            margin: 2px 0 2px 6px;
            padding: 0 6px;
            background-color: #eee;
            border: 1px solid #eee;
        }
        .select2-results__option[aria-disabled=true] {
            background-color: #e1e5ec;
            color: #262626;
            cursor: default;
        }
        .select2-selection__rendered {
            padding: 0px !important;
        }
    }
    form {
        span.select2,
        .select2-selection {
            border-radius: 0 4px 4px 0;
            border-color: #ccc;
        }
        .select2-selection {
            display: flex;
            align-items: center;
        }
        span.select2-container {
            width: 100% !important;
            li:first-child .select2-search__field {
                width: 100% !important;
                padding: 6px 12px;
                margin-top: 0;
                line-height: 1.42857143;
            }
            .select2-dropdown {
                border-color: #66afe9;
            }
        }
    }
    .xg-lock {
        margin-left: 5px;
        color: #6f6f6f !important;
    }
}
