<div cg-busy="$ctrl.cancelPromise">
    <div class="clearfix" ng-if="$ctrl.canCancel">
        <div class="col-md-6">
            <p class="cancelpaln-text">
                We are sorry you are considering canceling your BIGBIGADS subscription. Is there anything we can do to help you stay?
                <a href="http://support.bigbigads.com" target="_blank"> Our support agents are ready and able to assist you</a> now with any questions you may have.
            </p>
        </div>
        <div class="col-md-6 cancelpaln-btn-wrapper">
            <a class="btn profile-btn-cancel" ng-click="$ctrl.cancel()">Cancel Plan</a>
        </div>
    </div>
</div>