<div id="permission-reminder">
    <i class="fa fa-star-half-o notifi-bg-icon"></i>
    <div class="modal-header notifi-tite">
        <h4 class="modal-title ads-weight-600">Terms of Service</h4>
    </div>
    <div class="modal-body notifi-content">
        <p>We've updated: terms <a href="#">A</a>, <a href="#">B</a> and <a href="#">C</a>, read these terms carefully and <a href="#">you can learn more about what changed</a>.</p>
        <p>You must agree to the updated terms to continue using <a href="#">Bigbigads</a>.</p>
    </div>
    <div class="modal-footer">
        <a class="btn btn-lg xg-subscribe-color" ng-click="enter()">Enter</a>
    </div>

</div>