<div class="dashboard-stat dashboard-stat-v2 xg-upgrade-banner" >
	<div class="xg-upgrade-banner-head" >
	</div>
	<div class="text-center xg-upgrade-banner-body">
		<br>
		<h4 class="text-center">
			<p>Please cancel your select of locked feature to continue your exploration. You can press the <a class="xg-clear-all" ng-click="clearAll()">"Clear All"</a> button on the down-left side to restart.</p>
		</h4>
		<br>
		<div class="alert alert-warning margin-top-10 text-left" ng-show="currIlleageOption">
			<div ng-if="currIlleageOption.date">Last See Time Frame:  {{currIlleageOption.date.startDate}} ~ {{currIlleageOption.date.endDate}}</div>
			<div ng-if="currIlleageOption.firstSee">First See Time Frame:  {{currIlleageOption.firstSee.startDate}} ~ {{currIlleageOption.firstSee.endDate}}</div>
			<div ng-if="currIlleageOption.search.text">Search Text:  {{currIlleageOption.search.text}}</div>
			<div ng-if="currIlleageOption.ads_type">Media Type:  {{currIlleageOption.ads_type | mediaType}}</div>
			<div ng-if="currIlleageOption.formatSelected">Ad Type:  {{currIlleageOption.formatSelected | formatType}}</div>
			<div ng-if="currIlleageOption.lang">Language:  {{currIlleageOption.lang}}</div>
			<div ng-if="currIlleageOption.state">Country:  {{currIlleageOption.state}}</div>
			<div ng-if="currIlleageOption.domain.text">Domain:  {{currIlleageOption.domain.text}}({{currIlleageOption.domain.exclude ? "Not Contain" : "Must Contain"}})</div>
			<div ng-if="currIlleageOption.category">Category:  {{currIlleageOption.category}}</div>
			<div ng-if="currIlleageOption.callToAction">Call To Action:  {{currIlleageOption.callToAction}}</div>
			<div ng-if="currIlleageOption.range">Search Mode:  {{currIlleageOption.range}}</div>
			<div ng-if="currIlleageOption.tracking">Tracking Tool:  {{currIlleageOption.tracking}}</div>
			<div ng-if="currIlleageOption.affiliate">affiliate:  {{currIlleageOption.affiliate}}</div>
			<div ng-if="currIlleageOption.ecommerce">E_Commerce:  {{currIlleageOption.ecommerce}}</div>
			<div ng-if="currIlleageOption.audienceAge">Audience Age:  {{currIlleageOption.audienceAge}}</div>
			<div ng-if="currIlleageOption.audienceGender">Audience Gender:  {{currIlleageOption.audienceGender}}</div>
			<div ng-if="currIlleageOption.audienceInterest">Audience Interest:  {{currIlleageOption.audienceInterest}}</div>
			<div ng-if="currIlleageOption.objective">Objective:  {{currIlleageOption.objective}}</div>
			<div ng-if="currIlleageOption.sort">Sort by:  {{currIlleageOption.sort}}</div>
			<div ng-if="currIlleageOption.duration">Duration Range:  {{currIlleageOption.duration.from}}~{{currIlleageOption.duration.to}}</div>
			<div ng-if="currIlleageOption.seeTimes">See Times Range:  {{currIlleageOption.seeTimes.from}}~{{currIlleageOption.seeTimes.to}}</div>
			<br>
			<div ng-if="currIlleageOption.likes || currIlleageOption.shares || currIlleageOption.comments || currIlleageOption.views || currIlleageOption.engagements">Engagements Filters:
				<div ng-if="currIlleageOption.likes">Likes: {{currIlleageOption.likes.min}}~{{currIlleageOption.likes.max}}</div>
				<div ng-if="currIlleageOption.shares">Shares: {{currIlleageOption.shares.min}}~{{currIlleageOption.shares.max}}</div>
				<div ng-if="currIlleageOption.comments">Comments: {{currIlleageOption.comments.min}}~{{currIlleageOption.comments.max}}</div>
				<div ng-if="currIlleageOption.views">Video Views: {{currIlleageOption.views.min}}~{{currIlleageOption.views.max}}</div>
				<div ng-if="currIlleageOption.engagements">Engagements: {{currIlleageOption.engagements.min}}~{{currIlleageOption.engagements.max}}</div>
			</div>
		</div>
        <a class="btn btn-lg xg-subscribe-color" ng-click="goPlans()">Upgrade Now. Get the advantage!</a>
    </div>
    <br><br>
    <div class="xg-upgrade-banner-foot"></div>
</div>