    <div class="modal-header" >
        <button type="button" class="close" ng-click="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Edit Bookmark Name</h4>
    </div>
    <form role="form" ng-submit="save(item)" cg-busy="promise" name="addBookmarkListForm">
    <div class="modal-body" ng-class="{'has-error': addBookmarkListForm.name.$dirty && addBookmarkListForm.$invalid}">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="item.name" required ng-maxlength="25" name="name" id="name" placeholder="Folder Name">
            <span class="text-danger">
                <span ng-if="addBookmarkListForm.name.$dirty && addBookmarkListForm.name.$error.maxlength">The bookmark list name should no more 25 character</span>
                <span ng-if="addBookmarkListForm.name.$dirty && addBookmarkListForm.name.$error.required">Required</span>
              </span>
            </span>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btna ads-btn-cancel" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn ads-btn-save" type="submit" ng-disabled="addBookmarkListForm.$invalid">Done</button>
    </div>
    </form>
