APP_ENV=local # 应用环境设置，生产环境应为production
APP_KEY=base64:9sQQMUuhljKvsr8F/oEx18b+PhAekm1R0jNNzM7VSRw=
APP_DEBUG=true # 出错时显示错误栈，生产环境应该设置为false
APP_LOG=daily 
APP_LOG_LEVEL=debug # 记录日志的级别，生产环境应该为info
APP_URL=http://localhost # 应与当前运行的域名一致

# 以下为数据库配置

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=bigbigads2
DB_USERNAME=pheye
DB_PASSWORD=

# 排名数据库与本地数据库不是同一个，以下为排名数据库配置
RANKDB_CONNECTION=mysql
RANKDB_HOST=127.0.0.1
RANKDB_PORT=3306
RANKDB_DATABASE=ads_analysis
RANKDB_USERNAME=pheye
RANKDB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# 既然需要同时使用多个mail driver，那么MAIL_DRIVER在smtp与mailgun之间调整便没有太大意义
# 因此将其设置为smtp，如果要调试，就设置为log
MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=info@bigbigads.com
MAIL_PASSWORD=info_password@1qaz2wsx
MAIL_ENCRYPTION=tls

# mailgun作为一个独立驱动，与MAIL_DRIVER同时使用
# 如果不使用mailgun，就将MAILGUN_USERNAME设置为空
MAILGUN_USERNAME=test@ad.papamk.com
MAILGUN_DOMAIN=ad.papamk.com #请使用二级域名，不能使用主域名，防止主域名被列入黑名单
MAILGUN_SECRET=key-9203415666cb2dcaec683230b05ac3ee #从mailgun获取

MAIL2_HOST=smtp.gmail.com
MAIL2_PORT=25
MAIL2_USERNAME=info@bigbigads.com
MAIL2_PASSWORD=password
MAIL2_ENCRYPTION=

PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=

BRAINTREE_ENV=sandbox
BRAINTREE_MERCHANT_ID=svjdgf4mf94mfkdv
BRAINTREE_PUBLIC_KEY=ygh9txfjt8cv5kp2
BRAINTREE_PRIVATE_KEY=2616a406dba36832b23db9b0d8e6f4e8


# Paypal Rest App设置
PAYPAL_APPID=papamk # App ID，实际没用上 
PAYPAL_CLIENT_ID=AUgGIqlxMh4QZ9_69m3ab0aHA5TdgA9p38EmHw_1pG-F2CGFP-2IBs4MD0_ppryQKbajf3nBxvIKnq4j
PAYPAL_CLIENT_SECRET=EHbyytk5HhKOAhjJTRohvMZ0rYAHTuPsUn9kVLyWjb4DuXgm8XX-MxemGrNXER92kqjYGVgqNs689RUw
PAYPAL_WEBHOOK=https://bigbigads.dev/onPayWebhooks # Webhook用于接收支付消息，比如支付成功，过期等。这个需要在Paypal开发者平台的webhook先做配置，然后再填到这里来，两者名称必须一致，同时要求必须是https协议。请将域名换成自己的，后面的onPayWebhook应保留不变
PAYPAL_RETURNURL=https://bigbigads.dev/onPay # 回调接口，在支付的时候需要先跳到Paypal的网站上完成支付，然后Paypal将跳回该回调地址完成最后操作。请将域名换成自己的，onPay保持不变。
PAYPAL_MODE=sandbox # 生产模式下应为live
PAYPAL_WEBHOOK_ID=7B70661132330724M

# Paypal EC支付
PAYPAL_EC_USERNAME=95496875-facilitator_api1.qq.com
PAYPAL_EC_PASSWORD=GM8G8QUF96Z4SM5K
PAYPAL_EC_SIGNATURE=AFcWxV21C7fd0v3bYYYRCpSSRl31AXAjyVXCseIVl89pjDWPgVXyKvaa
PAYPAL_EC_ENV=sandbox

# Stripe 支付
STRIPE_PUBLISHABLE_KEY=pk_test_tSiRZVAEDacYgCCEieZkOCfl
STRIPE_SECRET_KEY=sk_test_Kt5AA7gt1X2xwR4zYVR2gVr7

# 设置bigbigads的广告搜索源，默认使用的是阿里云服务器，需要设置时取消下面的注释
#AD_SEARCH_URL=
#ADSER_ANALYSIS_URL=
#ADSER_ANALYSIS_URL=
#TRENDS_URL=
#ADSER_SEARCH_URL=http://121.41.107.126:8080/adser_search

# Github的OAuth 2.0应用信息
GITHUB_KEY=525a4f3529fb156b32f2 
GITHUB_SECRET=2580bf326c8c40fbcc8666e99c401d84d95f638a
GITHUB_REDIRECT_URI=http://phenye.tunnel.2bdata.com/socialite/github/callback

# LinkedIn的OAuth 2.0应用信息
LINKEDIN_KEY=86z93tds0csl7g
LINKEDIN_SECRET=BpPnTqkc691OMpUD
LINKEDIN_REDIRECT_URI=http://phenye.tunnel.2bdata.com/socialite/linkedin/callback

# Google的OAuth 2.0应用信息
GOOGLE_KEY=280840612780-9ddf71r4v8dugrjp8sptu53qnkvket1h.apps.googleusercontent.com
GOOGLE_SECRET=KGFz-hgHYN-7jY8xJIqxC3w4
GOOGLE_REDIRECT_URI=http://phenye.tunnel.2bdata.com/socialite/google/callback

# Facebook的OAuth 2.0应用信息
FACEBOOK_KEY=1904721709740105
FACEBOOK_SECRET=3bfb033d958624b458892bb02d798540
FACEBOOK_REDIRECT_URI=http://phenye.tunnel.2bdata.com/socialite/facebook/callback

# reCaptcha验证码的配置
RECAPTCHA_PUBLIC_KEY=6LdofygUAAAAALKqt2WFp7QrCoHkFFNVDxMwLmNX
RECAPTCHA_PRIVATE_KEY=6LdofygUAAAAAJaxLT0dXkqeK1sIerIgpG_dwAho

# 接收通知的系统邮箱，比如用户请求退款
ADMIN_EMAIL="95496875@qq.com"
