<!-- begin ad description -->
<div class="aditem-desc">
    <!-- begin Carousel -->
    <div class="clearfix" style="height:300px">
        <div>{{card.message}}</div>
        <uib-carousel active="card.active" no-wrap="true">
            <uib-slide ng-repeat="slide in card.watermark track by $index" index="$index">
                <div class="text-center">
                    <img ng-src="{{settings.imgRemoteBase + slide.source}}" alt="">
                </div>
                <div class="carousel-caption">
                </div>
            </uib-slide>
        </uib-carousel>

        <div class="aditem-caption margin-top-10" ng-hide="empty(card.caption)">
            <label class="label label-sm label-warning">{{card.caption}}</label>
        </div>
    </div>
    <!-- End Carousel -->
</div>
<!-- end description -->
<hr>
<div class="aditem-footer">
    <i class="fa fa-link fa-fw"></i>
    <a href="#">{{card.link}}</a>
    <i class="fa fa-comment fa-fw"></i>
    <span>{{card.comments}}</span>
    <i class="fa fa-heart fa-fw"></i>
    <span>{{card.likes}}</span>
    <i class="fa fa-share-alt fa-fw"></i>
    <span>{{card.shares}}</span>
</div>
</div>
