<!-- begin ad description -->
<div class="aditem-desc">
    <!-- begin Carousel -->
    <div class="clearfix">

		<div class="xg-span-message"><span ng-bind-html="card.message | toHtml"></span></div>
        <uib-carousel active="card.active" no-wrap="true">
            <uib-slide ng-repeat="slide in card.watermark track by $index" index="$index">
                <div class="text-center mt-element-overlay">
                    <div class="xg-margin-bottom">
                        <a  fancybox ng-href="{{settings.imgRemoteBase + card.local_picture[$index].source}}" rel="group{{card.event_id}}">
                            <!-- 为防止无限加载时图片加载后高度改变导致浏览位置变化，在加载图片前就设定好高度，这就要求图片URL一定要符合格式，否则不能正常显示 -->
                            <img class="img-loading" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" lazy-img="{{settings.imgRemoteBase + slide.source}}" width="{{slide.source | getImageSize:0}}px" height="{{slide.source | getImageSize:1}}px" alt="">
                        </a>
                    </div>
                </div>
            </uib-slide>
        </uib-carousel>
        <div class="h5">
            <div class="pull-right" ng-if="card.buttondesc[card.active]!=''">
                <a href="{{card.buttonlink[card.active]}}" class="xg-a-likepage xg-label" target="_blank">{{card.buttondesc[card.active]}}</a>
            </div>
            <div class="xg-span-name">
                <span ng-bind-html="card.name[card.active] | toHtml"></span>
            </div>
        </div>
		<p class="xg-span-description xg-p-margin" ng-if="card.description[card.active]" >
			<span ng-bind-html="card.description[card.active] | toHtml"></span>
		</p>
      </div>
    <!-- End Carousel -->
    <div class="aditem-caption margin-top-10" ng-if="card.caption">
        <label class="xg-label-caption label label-sm label-warning" ng-bind-html="card.caption | toHtml"></label>
    </div>
</div>
<!-- end description -->

<div class="aditem-footer" ng-show="!card.indetail">
    <hr class="xg-p-margin">
    <div ng-if="card.link[card.active]">
        <i class="fa fa-link fa-fw"></i>
        <a ng-href="{{card.link[card.active]}}" class="adlink xg-link-width">{{card.link[card.active] | clearHttps}}</a>
    </div>
    <div>
        <span ng-show="card.views">
            <i class="xg-icon xg-icon-video"></i>
            {{card.views | addUnit}}
        </span>
        <span ng-show="card.likes" >
            <i class="fa fa-thumbs-up" ></i>
            {{card.likes | addUnit}}
        </span>
        <span ng-show="card.comments" >
            <i class="xg-icon xg-icon-comment"></i>
            {{card.comments | addUnit}}
        </span>
        <span ng-show="card.shares">
            <i class="xg-icon xg-icon-share"></i>
            {{card.shares | addUnit}}
        </span>
    </div>
</div>

<div class="carousel-caption" ng-show="card.caption">
    {{card.caption}}
</div>

