<!-- begin ad description -->
<div class="aditem-desc">
    <!-- Begin SingleVideo -->
    <div>
        <div class="xg-span-message"><span ng-bind-html="card.message | toHtml"></span></div>
        <div class="text-center">
            <!-- <div class="poster"> -->
            <!--     <img ng-src="settings.imgRemoteBase + card.watermark" alt=""> -->
                <!--     <a class="playbtn"><i class="fa fa-play-circle-o fa-4x"></i></a> -->
            <!-- </div> -->
            <video advideo ng-src="{{(settings.imgRemoteBase + card.local_picture.video) | trusted}}" 
                    preload="none" controls="controls" preview="{{(settings.imgRemoteBase + card.watermark) | trusted}}">
            </video>
        </div>
        <div class="h5">
            <div class="pull-right" ng-if="card.buttondesc">
                <a href="{{card.buttonlink}}" class="xg-a-likepage xg-label" target="_blank">{{card.buttondesc}}</a>
            </div>
            <div class="xg-span-name">
                <span ng-bind-html="card.name | toHtml"></span>
            </div>
        </div>

        <p class="xg-span-description clearfix">
            <span ng-bind-html="card.description | toHtml"></span>
        </p>
        <div class="xg-label-caption aditem-caption margin-top-10" ng-hide="empty(card.caption)">
            {{card.caption}}
        </div>
    </div>
    <!-- End SingleVideo -->
</div>
<!-- end description -->
<div class="aditem-footer" ng-show="!card.indetail">
    <hr class="xg-p-margin">
    <i class="fa fa-link"></i>
    <a href="{{card.link}}" class="adlink" uib-popover-template="'views/snapshot-popover.html'" popover-placement="top" popover-title="Snapshot" popover-is-open="card.popup" ng-mouseenter="card.popup=true" ng-mouseleave="card.popup=false" >{{card.link}}</a>
    <span ng-show="card.views">
        <i class="xg-icon xg-icon-video"></i>
        {{card.views}}
    </span>
    <span ng-show="card.likes">
        <i class="fa fa-thumbs-up" ></i>
        {{card.likes}}
    </span>
    <span ng-show="card.comments">
        <i class="xg-icon xg-icon-comment"></i>
        {{card.comments}}
    </span>  
    <span ng-show="card.shares">
        <i class="xg-icon xg-icon-share"></i>
        {{card.shares}}
    </span>
</div>
