<!-- begin ad description -->
<div class="aditem-desc">
    <!-- begin SingleImage -->
    <div>
        <div class="xg-span-message"><span ng-bind-html="card.message | toHtml"></span></div>
        <div class="text-center mt-element-overlay">
                <div class="xg-margin-bottom">
                    <a fancybox ng-href="{{settings.imgRemoteBase + card.local_picture}}">
                        <img src="../assets/global/img/input-spinner.gif" lazy-img="{{settings.imgRemoteBase + card.watermark}}" alt="">
                    </a>
                </div>
        </div>
        <div class="h5">
            <div class="pull-right" ng-if="card.buttondesc">
                <a href="{{card.buttonlink}}" class="xg-a-likepage xg-label" target="_blank">{{card.buttondesc}}</a>
            </div>
            <div class="xg-span-name">
                <span ng-bind-html="card.name | toHtml"></span>
            </div>
        </div>

        <p class="xg-span-description xg-p-margin" ng-if="card.description!=''">
            <span ng-bind-html="card.description | toHtml"></span>
        </p>
        <div class="aditem-caption margin-top-10" ng-if="card.caption!=''">
            <label class="xg-label-caption">{{card.caption}}</label>
        </div>
    </div>
    <!-- end SingleImage -->
</div>
<!-- end description -->
<div class="aditem-footer" ng-show="!card.indetail">
    <hr class="xg-p-margin">
    <div ng-if="card.link!=''">
        <i class="fa fa-link fa-fw"></i>
        <a href="{{card.link}}" class="adlink xg-link-width">{{card.link | clearHttps}}</a>
    </div>
    <div>
        <span ng-show="card.views">
            <i class="xg-icon xg-icon-video"></i>
            {{card.views | addUnit}}
        </span>
        <span ng-show="card.likes">
            <i class="fa fa-thumbs-up" ></i>
            {{card.likes | addUnit}}
        </span>
        <span ng-show="card.comments">
            <i class="xg-icon xg-icon-comment"></i>
            {{card.comments | addUnit}}
        </span>
        <span ng-show="card.shares">
            <i class="xg-icon xg-icon-share"></i>
            {{card.shares | addUnit}}
        </span>
    </div>
</div>
