//## Base theme color file

/****
Boby
****/

body {
    background-color: $bg-color;  

    &.page-md {
        background: lighten($bg-color, 5%);
    }
}
 
/******
General 
******/

/* Theme Font Color */
.theme-font {
    color: $brand-main-color !important; 
}

/* Pace - Page Progress */
.pace .pace-progress {
    background: $brand-main-color;
}

/* Theme Light Portlet */
.portlet.light {
    .btn.btn-circle.btn-icon-only.btn-default {
        border-color: lighten(#ACB5C3, 5%);

        > i {
            font-size: 13px;
            color: darken(#ACB5C3, 2%);   
        }

        &:hover,
        &.active {
            color: #fff;
            background: $brand-main-color;
            border-color: $brand-main-color;

            > i {
                color: #fff;
            }
        }
    }
}



/******
Page Footer 
******/
.page-prefooter {
    background: $footer-pre-bg-color;
    color: $footer-pre-font-color;

    h2 {
        color: $brand-main-color;
    }

    a {
        color: $brand-main-color;
    }

    .subscribe-form {
        .form-control {
            background: darken($footer-pre-bg-color, 9%);
            border-color: darken($footer-pre-bg-color, 9%);
            color: $footer-pre-font-color;

            @include placeholder(darken($footer-pre-font-color, 5%));
        }

        .btn {
            @include button-variant(#fff, lighten($brand-main-color, 3%), lighten($brand-main-color, 3%)); 
        }  
    }
}

.page-footer {
    background: $footer-bg-color;
    color: $footer-default-font-color;
}

/* Scroll Top */

.scroll-to-top {
    > i {
        color: $footer-scroll-top-icon-color;
        font-size: 32px;
        @include opacity(0.7);
    }
}

@media (min-width: $screen-md-min) { /* 992px */    
    .page-header {
        /* Page Header Menu */
        .page-header-menu {
            &.fixed {
                width: 100%;
                position: fixed;
                top: 0;
                left: 0;
                z-index: $zindex-header-fixed;
            }            
        }
    }
}

@media (max-width: $screen-sm-max) { /* 991px */
    .page-header {

        .page-header-menu {
            background: $page-content-bg-color;

            /* Horizontal mega menu */
            .hor-menu {
                .navbar-nav {
                    background: #fff !important;

                    /* Mega menu content */
                    > li.mega-menu-dropdown {

                        > .dropdown-menu {
                            box-shadow: none;

                            .mega-menu-content {

                                .mega-menu-submenu {
                                    border-right: none !important;

                                    li {
                                        > h3 {
                                            color: #72808a;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    /* Classic menu */
                    > li {   
                        border-bottom: 1px solid #F0F0F0;

                        &:last-child {
                            border-bottom: 0;  
                        }

                        > a {
                            background: none !important;
                            color: $header-mobile-hor-menu-default-link-font-color !important;  

                            > i {
                                color: $header-mobile-hor-menu-default-link-font-color !important;
                            }   

                            &:focus,
                            &:active,
                            &:hover {
                                 background: none !important;
                            }
                        }

                        &:hover > {
                            a {
                                background: none !important;
                                color: $header-mobile-hor-menu-default-link-font-color-on-hover !important;

                                > i {
                                    color: $header-mobile-hor-menu-default-link-font-color-on-hover !important;
                                }
                            }
                        }

                        &.open,
                        &.active,
                        &.current {
                            > a,
                            > a:hover {
                                color: $header-mobile-hor-menu-default-link-font-color-on-active !important;
                                background: $header-mobile-hor-menu-default-link-bg-color-on-active !important; 

                                > i {
                                    color: $header-mobile-hor-menu-default-link-font-color-on-active !important;
                                }  
                            }
                        }

                        .dropdown-menu {
                            border: 0 !important;
                            border-top: 1px solid #eee;
                            box-shadow: none !important;
                            background: #fff !important;

                            li {
                                &.divider {
                                    border-bottom: 1px solid #F0F0F0;
                                }

                                &:first-child {
                                    margin-top: 1px; 
                                }

                                > a {
                                    color: $header-mobile-hor-menu-default-link-font-color !important;  

                                    > i {
                                        color: $header-mobile-hor-menu-default-link-font-color !important;
                                    }   
                                }

                                &:hover > {
                                    a {
                                        background: none !important;
                                        color: $header-mobile-hor-menu-default-link-font-color-on-hover !important;

                                        > i {
                                            color: $header-mobile-hor-menu-default-link-font-color-on-hover !important;
                                        }
                                    }
                                }

                                &.open,
                                &.active,
                                &.current {
                                    > a,
                                    > a:hover {
                                        color: $header-mobile-hor-menu-default-link-font-color-on-active !important;
                                        background: $header-mobile-hor-menu-default-link-bg-color-on-active !important; 

                                        > i {
                                            color: $header-mobile-hor-menu-default-link-font-color-on-active !important;
                                        }  
                                    }
                                }
                            }
                        }
                    }    

                    > li.classic-menu-dropdown {
                        .dropdown-menu > {
                            li.dropdown-submenu.active > a:after,
                            li.dropdown-submenu.open > a:after {
                                color: $header-mobile-hor-menu-default-link-font-color-on-active !important;
                            }
                        }
                    }        
                }

                .nav {
                    border: 0 !important;
                    margin: 0 !important;

                    .dropdown-submenu.open > a,
                    .dropdown-submenu.open > a:hover {
                        border: 0 !important;
                        margin: 0 !important;
                        color: #fff !important;
                        background: lighten($brand-main-color, 5%) !important;

                        > i {
                            color: #fff !important;
                        }
                    }
                }
            } 
        }

        .search-form {
            background: #fff !important;
    
            .input-group {   
                background: #fff !important; 

                .form-control {
                    background: #fff !important;
                }

                .input-group-btn {
                    .btn.submit {
                        i {
                            color: #fff !important;
                        }

                        background: $brand-main-color;

                        &:hover,
                        &:focus,
                        &:active,
                        &.active {
                            background: darken($brand-main-color, 8%);
                        }
                    }
                }
            }
        }
    }    
}

@media (max-width: $screen-xs-min) { /* 480px */

    .page-header {
        /* Top menu */  
        .top-menu {
            background-color: $bg-color; 

            .page-header-fixed-mobile & {
                background-color: $header-bg-color;  
            }
            
            .navbar-nav {
                > li.dropdown-user {
                    .dropdown-toggle {                    
                        background-color: lighten($header-top-menu-bg-hover-color, 1%);

                        .page-header-fixed-mobile & {
                            background: none;
                        }

                        &:hover {
                            background-color: $header-top-menu-bg-hover-color;
                        }
                    }
                }
            }
        }
    }

} 

/****
 CSS3 Spinner Bar
****/  

