//## Base theme color file

/****
Boby
****/

 
/******
General 
******/

/* Theme Font Color */
.theme-font {
    color: $brand-main-color !important; 
}

/* Pace - Page Progress */
.pace .pace-progress {
    background: $brand-main-color;
}

/* Theme Light Portlet */
.portlet.light {
    .btn.btn-circle.btn-icon-only.btn-default {
        border-color: lighten(#ACB5C3, 5%);

        > i {
            font-size: 13px;
            color: darken(#ACB5C3, 2%);   
        }

        &:hover,
        &.active {
            color: #fff;
            background: $brand-main-color;
            border-color: $brand-main-color;

            > i {
                color: #fff;
            }
        }
    }
}



/******
Page Footer 
******/
.page-prefooter {
    background: $footer-pre-bg-color;
    color: $footer-pre-font-color;

    h2 {
        color: $brand-main-color;
    }

    a {
        color: $brand-main-color;
    }

    .subscribe-form {
        .form-control {
            background: darken($footer-pre-bg-color, 9%);
            border-color: darken($footer-pre-bg-color, 9%);
            color: $footer-pre-font-color;

            @include placeholder(darken($footer-pre-font-color, 5%));
        }

        .btn {
            @include button-variant(#fff, lighten($brand-main-color, 3%), lighten($brand-main-color, 3%)); 
        }  
    }
}

.page-footer {
    background: $footer-bg-color;
    color: $footer-default-font-color;
}

/* Scroll Top */

.scroll-to-top {
    > i {
        color: $footer-scroll-top-icon-color;
        font-size: 32px;
        @include opacity(0.7);
    }
}


/****
 CSS3 Spinner Bar
****/  

