
/* here you can put your own css to customize and override the theme */ 
$play-btn-size:100px;
.inline {
    display:inline-block;
}
.vmiddle {
    vertical-align:middle;
}
.deckgrid   {
}
.deckgrid[deckgrid]::before {
    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
    content: '3 .column.column-1-4';
    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}

.deckgrid .column {
    float: left;
}

.deckgrid .column-1-4 {
    width: 33.33333%;
}

.lh48 {
    line-height:48px;
}
.aditem {
    margin:16px;
    i {
        // display:inline-block;
        // margin-right:3px;
    }
    .avatar {
        max-width:100%;
    }
    .adlink {
        display:inline-block;
        max-width:50%;
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
        vertical-align:middle;
    }
    .aditem-footer {
        font-size:small;
    }
    .video {
        position:relative;
        .playbtn {
            position:absolute;
            left:50%;
            top:50%;
            margin-top:-$play-btn-size/2;
            margin-left:-$play-btn-size/2;
            width:$play-btn-size;
            height:$play-btn-size;
            line-height:$play-btn-size;

        }
    }
    video {
        max-width:100%;
    }
}

.advideo {
    min-height:200px;
}
//在过滤器上填出日志范围选择时，z-index太小会被盖住
.daterangepicker.dropdown-menu {
    z-index:20000 !important;
}

.collapse-panel {
    height:300px;
    overflow-y:hidden;
}

.select2-dropdown {
    z-index:99999 !important;
}

//广告分析的类
#ad {
    .avatar {
        max-width:80px;
        padding:16px;
    }
    .dashboard-stat2 {
        padding-bottom:15px !important;
    }

}
.rank-title {
    margin-bottom:5px;
    border-bottom:1px solid #eee;
    h4 {
        font-weight:600;
        color:#AAB5BC
    }
}
.rankboard {
}
