<div ng-controller="AdserAnalysisController" id="adser-analysis">
    <div class="container analy-body">
        
        <div class="analy-overview row" >
            <div class="filter-bg" style="background-image: url(//image2.bigbigads.com:88{{card.info.large_photo}});"></div>
            <div class="analy-head"></div>
            <div class="overview-wrapper">
                <div class="analy-adser-head">
                    <a ng-href="//www.facebook.com/{{username}}" target="_blank">
                        <img src="//image2.bigbigads.com:88{{card.info.large_photo}}" alt="" class="adser-head">
                    </a>
                    <div class="adser-name ads-font-18 text-left" ng-if="card.info.name || card.info.username">
                        <span class="">{{card.info.adser_name ? card.info.adser_name : card.info.username}}</span>
                        <i class="fa fa-check-circle analy-veri-icon ads-verified-blue" ng-if="card.info.page_verified == 'blue_verified'"></i>
                        <i class="fa fa-check-circle-o analy-veri-icon ads-verified-gray" ng-if="card.info.page_verified == 'gray_verified'"></i>
                    </div>
                    <div class="adser-name ads-font-18 text-danger" ng-if="!card.info.name && !card.info.username">No Data</div>
                </div>
                <div class="overview-info">
                    <div class="info-head"></div>
                    <div class="info-date">
                        <div class="data-card">
                            <p class="card-title ads-font-16">Total Ads</p>
                            <p class="ads-font-22 card-number" ng-if="card.info.tl_ad_count">{{card.info.tl_ad_count | number:0}}</p>
                            <p class="text-danger ads-font-22" ng-if="!card.info.tl_ad_count">
                                No Data
                            </p>
                        </div>
                        <div class="data-card">
                            <p class="card-title ads-font-16">avg Duration</p>
                            <p class="ads-font-22 card-number">{{card.info.avg_duration}}</p>
                        </div>
                        <div class="data-card">
                            <p class="card-title ads-font-16">Avg Impression</p>
                            <p class="ads-font-22 card-number">{{card.info.avg_impression | number:0}}</p>
                        </div>
                        <div class="data-card">
                            <p class="card-title ads-font-16">Avg Engagement</p>
                            <p class="ads-font-22 card-number">{{card.info.avg_engagement | number:0}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="analy-menu row">
            <div class="menu-list" ng-click="turnAnaly('analyMenu1')" ng-class="{'active': analyMenu1}">Overview</div>
            <div class="menu-list" ng-click="turnAnaly('analyMenu2')" ng-class="{'active': analyMenu2}">Audience Targeting</div>
            <div class="menu-list" ng-click="turnAnaly('analyMenu3')" ng-class="{'active': analyMenu3}">Ad Rank</div>
        </div>

        <div ng-if="analyMenu1">
            <div class="analy-title">
                Website Audience
            </div>
            <div class="analy-audience">
                <div class="row">
                    <div class="col-md-4 ">
                        <div class="panel audience-card ">
                            <div class="audience-card-head">
                                <p class="card-title ads-font-22 panel-title">Total Impression</p>
                                <p class="card-time">
                                    {{card.info.first_see | date:'MMM yyyy' }} -- {{card.info.last_see | date:'MMM yyyy'}}
                                </p>
                            </div>
                            <div class="panel-body card-number">
                                <p class="ads-font-22">
                                    <span ng-if="card.info.sum_impression" class="analy-blue">{{card.info.sum_impression | adsCount}}</span>
                                    <span ng-if="!card.info.sum_impression" class="text-danger">No Data</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="panel audience-card">
                            <div class="audience-card-head">
                                <p class="card-title ads-font-22 panel-title">Total Impression</p>
                                <p class="card-time">
                                    {{card.info.first_see | date:'MMM yyyy' }} -- {{card.info.last_see | date:'MMM yyyy'}}
                                </p>
                            </div>
                            <div class="card-number devchart-wrapper">
                                <div class="charts-wrapper" ng-if="card.devicePieCharts">
                                    <highchart config='card.devicePieCharts' ng-if="card.devicePieCharts"></highchart>
                                </div>
                                <div class="charts-wrapper ads-font-22 text-danger text-center" ng-if="!card.devicePieCharts">Not Data</div>
                                <div class="charts-number">
                                    <div class="number-list number-desktop">
                                        <span class="fa fa-tv list-icon ads-font-22"></span> {{(card.info.pc_impression_rate * 100).toFixed(1)}}%
                                    </div>
                                    <div class="number-list number-mobile">
                                        <span class="fa fa-mobile list-icon ads-font-28"></span> {{(100 - (card.info.pc_impression_rate * 100)).toFixed(1)}}%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="alert audience-card">
                            <div class="audience-list">
                                <span class="list-icon fa fa-heartbeat"></span>
                                <span class="list-name">Avg Frequency</span>
                                <span class="list-data">{{card.info.avg_frequency}}</span>
                            </div>
                            <div class="audience-list">
                                <span class="list-icon fa fa-eye"></span>
                                <span class="list-name">Monthly Impression 
                            </span>
                                <span class="list-data">76.755</span>
                            </div>
                            <div class="audience-list">
                                <span class="list-icon fa fa-history"></span>
                                <span class="list-name">Avg.Ad Duration</span>
                                <span class="list-data">
                                <span ng-if="card.info.avg_duration">{{card.info.avg_duration}}</span>
                                <span ng-if="!card.info.avg_duration" class="ads-font-14 text-danger">Not Engouth Data</span>
                                </span>
                            </div>
                            <div class="audience-list">
                                <span class="list-icon fa fa-signal"></span>
                                <span class="list-name">Impression/Ad</span>
                                <span class="list-data">{{(card.info.avg_impression / card.info.tl_ad_count).toFixed(2)}}</span>
                            </div>
                            <div class="audience-list">
                                <span class="list-icon fa fa-podcast"></span>
                                <span class="list-name">Avg Reach</span>
                                <span class="list-data">{{card.info.avg_reach | adsCount}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="analy-title">
                Geography
            </div>
            <div class="analy-geography">
                <div class="row geo-row clearfix">
                    <div class="col-md-6 geo-impression">
                        <div class="geo-title">Engagement by Impression &amp; Engagement</div>
                        <div class="geo-suptitle">
                            Showing the number of user over the past 30 days
                        </div>
                        <div class="charts-wrapper" ng-if="card.impressionCharts">
                            <highchart config="card.impressionCharts"></highchart>
                        </div>
                        <div ng-if="!card.impressionCharts" class="analy-nodata">
                            <img src="/images/analysis/bg_nodata.png" alt="">
                            <br>
                            <span class="ads-font-26 ads-weight-600 text-danger">Not Enough Data</span>
                            <!-- <p><a href="">Download BIGBIGADS Extension</a></p> -->
                        </div>
                    </div>
                    <div class="col-md-6 geo-engagement">
                        <div class="geo-title">Audience engagement</div>
                        <div class="geo-suptitle">
                            Showing the number of user over the past 30 days
                        </div>
                        <div class="charts-wrapper" ng-if="card.engagementsCharts">
                            <highchart config="card.engagementsCharts"></highchart>
                        </div>
                        <div ng-if="!card.engagementsCharts" class="analy-nodata">
                            <img src="/images/analysis/bg_nodata.png" alt="">
                            <br>
                            <span class="ads-font-26 ads-weight-600 text-danger">Not Enough Data</span>
                            <!-- <p><a href="">Download BIGBIGADS Extension</a></p> -->
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div ng-if="analyMenu2">
            <div class="analy-geography">
                <div class="row geo-row clearfix">
                    <div class="col-md-6 geo-engagement">
                        <div class="geo-title">Engagement by Age &amp; Gender</div>
                        <div class="geo-suptitle">
                            Showing the number of user over the past 30 days
                        </div>
                        <div class="" ng-if="card.gnederPieCharts && card.ageBarCharts">
                            <div class="col-sm-6">
                                <div class="charts-wrapper" ng-if="card.gnederPieCharts">
                                    <highchart config="card.gnederPieCharts"></highchart>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="charts-wrapper" ng-if="card.ageBarCharts">
                                    <highchart config="card.ageBarCharts"></highchart>
                                </div>
                            </div>
                        </div>
                        <div ng-if="!card.gnederPieCharts || !card.ageBarCharts" class="analy-nodata">
                            <img src="/images/analysis/bg_nodata.png" alt="">
                            <br>
                            <span class="ads-font-26 ads-weight-600 text-danger">Not Enough Data</span>
                            <!-- <p><a href="">Download BIGBIGADS Extension</a></p> -->
                        </div>
                    </div>
                    <div class="col-md-6 geo-interest">
                        <div class="geo-title">Audience interests</div>
                        <div class="geo-suptitle">
                            Showing the number of user over the past 30 days
                        </div>
                        <div class="interest-list" ng-if="card.interestsArr" ng-init="interstPageNum = 1">
                            <div class="interest-wrapper">
                                <div class="stat-wrapper" ng-repeat="interstItem in card.interestsArr | limitTo:(interstPageNum * 6)" ng-if="$index+1 > (interstPageNum * 6 - 6)">
                                    <i class="fa fa-bookmark-o ads-font-18 stat-icon"></i>
                                    <div class="stat-name ads-text-ellipsis">
                                        <span title="{{interstItem.name}}">{{interstItem.name}}</span>
                                    </div>
                                    <div class="progress stat-progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{(interstItem.value / card.interestsArr.count) * 100}}%;">
                                        </div>
                                    </div>
                                    <div class="stat-number">{{((interstItem.value / card.interestsArr.count) * 100).toFixed(2)}}%</div>
                                </div>
                            </div>
                            <div class="text-right interest-footer">
                                <span class="page-num"> {{interstPageNum}} / {{ ceil(card.interestsArr.length / 6)}}</span>
                                <button class="fa fa-caret-left turnpage-button" ng-disabled="interstPageNum == 1" ng-click="interstPageNum = interstPageNum - 1"></button>
                                <button class="fa fa-caret-right turnpage-button" ng-disabled="interstPageNum == ceil(card.interestsArr.length / 6)" ng-click="interstPageNum = interstPageNum + 1"></button>
                            </div>
                        </div>
                        <div ng-if="!card.interestsArr" class="analy-nodata">
                            <img src="/images/analysis/bg_nodata.png" alt="">
                            <br>
                            <span class="ads-font-26 ads-weight-600 text-danger">Not Enough Data</span>
                            <!-- <p><a href="">Download BIGBIGADS Extension</a></p> -->
                        </div>
                    </div>
                </div>
                <div class="row geo-row clearfix">
                    <div class="col-md-12">
                        <div class="geo-title">
                            What are the top countries by sessions?
                        </div>
                        <div class="geo-suptitle">
                            Sessions over the 30 days
                        </div>
                        <div class="geo-countries clearfix" ng-if="card.addrMapCharts && card.addrTable">
                            <div class="col-md-6 geo-map">
                                <div class="mapcharts-wrapper">
                                    <highchart config="card.addrMapCharts"></highchart>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="geo-map-table">
                                    <div class="map-table-wrappe">
                                        <table class="table table-striped map-table" ng-init="tabelePageNum = 1">
                                            <thead>
                                                <tr class="ads-font-16 ads-weight-bold text-left">
                                                    <td></td>
                                                    <td>Country</td>
                                                    <td>Share</td>
                                                    <td></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="adsItems in card.addrTable | limitTo:(tabelePageNum * 7)" ng-if="$index+1 > (tabelePageNum * 7 - 7)">
                                                    <td class="map-td1">{{$index + 1}}</td>
                                                    <td class="map-td2">
                                                        <div class="country-name ads-text-ellipsis">{{adsItems.name}}</div>
                                                    </td>
                                                    <td class="map-td3">
                                                        <div class="percent-number">{{((adsItems.value / card.addrTable.count) * 100).toFixed(2)}} %</div>
                                                    </td>
                                                    <td class="map-td4">
                                                        <div class="progress-wrapper">
                                                            <div class="progress">
                                                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:{{((adsItems.value / card.addrTable.count) * 100)}}%;">
                                                                    <span class="sr-only">{{((adsItems.value / card.addrTable.count) * 100).toFixed(2)}} % Complete</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="map-table-footer text-right">
                                        <span class="page-num"> {{tabelePageNum}} / {{ ceil(card.addrTable.length / 7)}}</span>
                                        <button class="fa fa-caret-left turnpage-button" ng-disabled="tabelePageNum == 1" ng-click="tabelePageNum = tabelePageNum - 1"></button>
                                        <button class="fa fa-caret-right turnpage-button" ng-disabled="tabelePageNum == ceil(card.addrTable.length / 7)" ng-click="tabelePageNum = tabelePageNum + 1"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="!card.addrMapCharts || !card.addrTable" class="analy-nodata">
                            <img src="/images/analysis/bg_nodata.png" alt="">
                            <br>
                            <span class="ads-font-26 ads-weight-600 text-danger">Not Enough Data</span>
                            <!-- <p><a href="">Download BIGBIGADS Extension</a></p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="analy-object row">
                <div class="col-md-4 object-charts">
                    <div class="panel panel-primary">
                        <div class="panel-heading object-title ads-weight-bold">
                            Ad Objective Share
                        </div>
                        <div class="panel-body chart-wrapper">
                            
                            <highchart config="card.objectPieCharts" ng-if="card.objectPieCharts"></highchart>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4 object-charts">
                    <div class="panel panel-primary">
                        <div class="panel-heading object-title ads-weight-bold">
                            Ad Placement Share
                        </div>
                        <div class="panel-body chart-wrapper">
                            <highchart config="card.adsNumPieCharts" ng-if="card.adsNumPieCharts"></highchart>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 object-charts">
                    <div class="panel panel-primary">
                        <div class="panel-heading object-title ads-weight-bold">
                            Ad Type Share
                        </div>
                        <div class="panel-body chart-wrapper">
                            <highchart config="card.adsTypeCharts" ng-if="card.adsTypeCharts"></highchart>
                            <div class="chart-data hidden">
                                <p class="data-list">
                                    <span>Images:</span>
                                    <span ng-if="card.info.image_ad_count">{{card.info.image_ad_count}}</span>
                                    <span ng-if="!card.info.image_ad_count">Not engouth Data</span>
                                </p>
                                <p class="data-list">
                                    <span>Carousels:</span>
                                    <span ng-if="card.info.carousel_ad_count">{{card.info.carousel_ad_count}}</span>
                                    <span ng-if="!card.info.carousel_ad_count">Not engouth Data</span>
                                </p>
                                <p class="data-list">
                                    <span>Other:</span>
                                    <span ng-if="card.info.canvas_ad_count">{{card.info.canvas_ad_count}}</span>
                                    <span ng-if="!card.info.canvas_ad_count">Not engouth Data</span>
                                </p>
                                <p class="data-list">
                                    <span>Videos:</span>
                                    <span ng-if="card.info.video_ad_count">{{card.info.video_ad_count}}</span>
                                    <span ng-if="!card.info.video_ad_count">Not engouth Data</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row adser-analy-rate" ng-if="analyMenu3">
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="panel panel-info" >
                    <div class="panel-heading">
                        <span class="ads-font-22 ads-weight-600">Like Rate</span>
                    </div>
                    <div  ng-if="card.like_rate"  ng-init="likeRatePage = 1">
                        <div class="panel-body rate-items-wrapper" >
                            <div class="rate-weapper" ng-repeat="items in card.like_rate | limitTo:(likeRatePage * 5)" ng-if="$index+1 > (likeRatePage * 5 - 5)">
                                <a ng-href="./adAnalysis/{{items.event_id}}" target="_blank" ng-if="!items.fullDataFlag" class="rate-link">
                                    <div class="rate-body">
                                        <span class="rate-sort ads-font-16">{{$index + 1}}</span>
                                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" lazy-img="{{items.image}}" alt="" class="rate-ads-img">
                                        <div class="rate-info text-right">
                                            <div class="ads-font-18 ads-weight-600 text-info">{{items.type}}</div>
                                            <div>
                                                <span class="ads-font-16">{{(items.like_rate * 1000).toFixed(2)}}‰</span>
                                                (<span class="ads-font-14" ng-class="{'text-success': items.likes_per_30d > 0, 'text-muted' : items.likes_per_30d == 0}">
                                                    <i class="fa fa-long-arrow-up" ng-if="items.likes_per_30d > 0"></i>
                                                {{((items.likes_per_30d  / (items.likes - items.likes_per_30d)) * 100).toFixed(2)}}%</span>)
                                            </div>
                                            <div class="text-muted ads-font-12">Last See: {{items.last_see | date}}</div>
                                        </div>

                                    </div>
                                </a>
                                <a ng-href="../extension" ng-if="items.fullDataFlag" class="rate-down-exten text-center">
                                    <fa class="fa fa-download rate-down-icon"></fa> BIGBIGADS Extension
                                </a>
                            </div>
                        </div>
                        <div class="rate-footer panel-footer text-right">
                            <button class="fa fa-caret-left" ng-disabled="likeRatePage == 1" ng-click="likeRatePage = likeRatePage - 1"></button>
                            <span>{{likeRatePage}} / {{ ceil(card.like_rate.length / 5)}}</span>
                            <button class="fa fa-caret-right " ng-disabled="likeRatePage == ceil(card.like_rate.length / 5)" ng-click="likeRatePage = likeRatePage + 1"></button>
                        </div>
                    </div>
                    <div ng-if="!card.like_rate" class="panel-body rate-items-wrapper analy-nodata">
                        <img src="/images/analysis/bg_nodata.png" alt="">
                        <br>
                        <span class="ads-font-26 ads-weight-600 text-danger">Not Enough Data</span>
                        <!-- <p><a href="">Download BIGBIGADS Extension</a></p> -->
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="panel panel-info" >
                    <div class="panel-heading">
                        <span class="ads-font-22 ads-weight-600">Share Rate</span>
                    </div>
                    <div  ng-if="card.share_rate"  ng-init="likeRatePage = 1">
                        <div class="panel-body rate-items-wrapper" >
                            <div class="rate-weapper" ng-repeat="items in card.share_rate | limitTo:(likeRatePage * 5)" ng-if="$index+1 > (likeRatePage * 5 - 5)">
                                <a ng-href="./adAnalysis/{{items.event_id}}" target="_blank" ng-if="!items.fullDataFlag" class="rate-link">
                                    <div class="rate-body">
                                        <span class="rate-sort ads-font-16">{{$index + 1}}</span>
                                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" lazy-img="{{items.image}}" alt="" class="rate-ads-img">
                                        <div class="rate-info text-right">
                                            <div class="">
                                                <span class="ads-font-18">{{(items.share_rate * 1000).toFixed(2)}}‰</span>
                                                (<span class="ads-font-14" ng-class="{'text-success': items.shares_per_30d > 0, 'text-muted' : items.shares_per_30d == 0}">
                                                    <i class="fa fa-long-arrow-up" ng-if="items.shares_per_30d > 0"></i>
                                                {{((items.shares_per_30d  / (items.shares - items.shares_per_30d)) * 100).toFixed(2)}}%</span>)</div>
                                            <div class="text-muted ads-font-12">
                                                Last See: {{items.last_see | date: "yyyy.MM.dd"}}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a ng-href="../extension" ng-if="items.fullDataFlag" class="rate-down-exten text-center">
                                    <fa class="fa fa-download rate-down-icon"></fa> BIGBIGADS Extension
                                </a>
                            </div>
                        </div>
                        <div class="rate-footer panel-footer text-right">
                            <button class="fa fa-caret-left" ng-disabled="likeRatePage == 1" ng-click="likeRatePage = likeRatePage - 1"></button>
                            <span>{{likeRatePage}} / {{ ceil(card.share_rate.length / 5)}}</span>
                            <button class="fa fa-caret-right " ng-disabled="likeRatePage == ceil(card.share_rate.length / 5)" ng-click="likeRatePage = likeRatePage + 1"></button>
                        </div>
                    </div>
                    <div ng-if="!card.share_rate" class="panel-body rate-items-wrapper analy-nodata">
                        <img src="/images/analysis/bg_nodata.png" alt="">
                        <br>
                        <span class="ads-font-26 ads-weight-600 text-danger">Not Enough Data</span>
                        <!-- <p><a href="">Download BIGBIGADS Extension</a></p> -->
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="panel panel-info" >
                    <div class="panel-heading">
                        <span class="ads-font-22 ads-weight-600">Comments Rate</span>
                    </div>
                    <div  ng-if="card.comment_rate"  ng-init="likeRatePage = 1">
                        <div class="panel-body rate-items-wrapper" >
                            <div class="rate-weapper" ng-repeat="items in card.comment_rate | limitTo:(likeRatePage * 5)" ng-if="$index+1 > (likeRatePage * 5 - 5)">
                                <a ng-href="./adAnalysis/{{items.event_id}}" target="_blank" ng-if="!items.fullDataFlag" class="rate-link">
                                    <div class="rate-body">
                                        <span class="rate-sort ads-font-16">{{$index + 1}}</span>
                                        <img ng-src="{{items.image}}" alt="" class="rate-ads-img">
                                        <div class="rate-info text-right">
                                            <div class="ads-font-18">{{items.comments}}</div>
                                            <div>
                                                {{((items.comment_rate)*100).toFixed(2)}}%
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a ng-href="../extension" ng-if="items.fullDataFlag" class="rate-down-exten text-center">
                                    <fa class="fa fa-download rate-down-icon"></fa> BIGBIGADS Extension
                                </a>
                            </div>
                        </div>
                        <div class="rate-footer panel-footer text-right">
                            <button class="fa fa-caret-left" ng-disabled="likeRatePage == 1" ng-click="likeRatePage = likeRatePage - 1"></button>
                            <span>{{likeRatePage}} / {{ ceil(card.comment_rate.length / 5)}}</span>
                            <button class="fa fa-caret-right " ng-disabled="likeRatePage == ceil(card.comment_rate.length / 5)" ng-click="likeRatePage = likeRatePage + 1"></button>
                        </div>
                    </div>
                    <div ng-if="!card.comment_rate" class="panel-body rate-items-wrapper analy-nodata">
                        <img src="/images/analysis/bg_nodata.png" alt="">
                        <br>
                        <span class="ads-font-26 ads-weight-600 text-danger">Not Enough Data</span>
                        <!-- <p><a href="">Download BIGBIGADS Extension</a></p> -->
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="panel panel-info" >
                    <div class="panel-heading">
                        <span class="ads-font-22 ads-weight-600">Total Impression</span>
                    </div>
                    <div  ng-if="card.total_impression"  ng-init="likeRatePage = 1">
                        <div class="panel-body rate-items-wrapper" >
                            <div class="rate-weapper" ng-repeat="items in card.total_impression | limitTo:(likeRatePage * 5)" ng-if="$index+1 > (likeRatePage * 5 - 5)">
                                <a ng-href="./adAnalysis/{{items.event_id}}" target="_blank" ng-if="!items.fullDataFlag" class="rate-link">
                                    <div class="rate-body">
                                        <span class="rate-sort ads-font-16">{{$index + 1}}</span>
                                        <img ng-src="{{items.image}}" alt="" class="rate-ads-img">
                                        <div class="rate-info text-right">
                                            <div class="ads-font-18">{{items.total_impression | number:0}}</div>
                                            <div>
                                                {{items.type}}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a ng-href="../extension" ng-if="items.fullDataFlag" class="rate-down-exten text-center">
                                    <fa class="fa fa-download rate-down-icon"></fa> BIGBIGADS Extension
                                </a>
                            </div>
                        </div>
                        <div class="rate-footer panel-footer text-right">
                            <button class="fa fa-caret-left" ng-disabled="likeRatePage == 1" ng-click="likeRatePage = likeRatePage - 1"></button>
                            <span>{{likeRatePage}} / {{ ceil(card.total_impression.length / 5)}}</span>
                            <button class="fa fa-caret-right " ng-disabled="likeRatePage == ceil(card.total_impression.length / 5)" ng-click="likeRatePage = likeRatePage + 1"></button>
                        </div>
                    </div>
                    <div ng-if="!card.total_impression" class="panel-body rate-items-wrapper analy-nodata">
                        <img src="/images/analysis/bg_nodata.png" alt="">
                        <br>
                        <span class="ads-font-26 ads-weight-600 text-danger">Not Enough Data</span>
                        <!-- <p><a href="">Download BIGBIGADS Extension</a></p> -->
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="panel panel-info" >
                    <div class="panel-heading">
                        <span class="ads-font-22 ads-weight-600">Frequency</span>
                    </div>
                    <div  ng-if="card.frequency"  ng-init="likeRatePage = 1">
                        <div class="panel-body rate-items-wrapper" >
                            <div class="rate-weapper" ng-repeat="items in card.frequency | limitTo:(likeRatePage * 5)" ng-if="$index+1 > (likeRatePage * 5 - 5)">
                                <a ng-href="./adAnalysis/{{items.event_id}}" target="_blank" ng-if="!items.fullDataFlag">
                                    <div class="rate-body">
                                        <img ng-src="{{items.image}}" alt="" class="rate-ads-img">
                                        <div class="rate-info text-right">
                                            <div class="ads-font-18">{{items.frequency}}</div>
                                            <div>
                                                {{items.type}}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a ng-href="../extension" ng-if="items.fullDataFlag" class="rate-down-exten text-center">
                                    <fa class="fa fa-download rate-down-icon"></fa> BIGBIGADS Extension
                                </a>
                            </div>
                        </div>
                        <div class="rate-footer panel-footer text-right">
                            <button class="fa fa-caret-left" ng-disabled="likeRatePage == 1" ng-click="likeRatePage = likeRatePage - 1"></button>
                            <span>{{likeRatePage}} / {{ ceil(card.frequency.length / 5)}}</span>
                            <button class="fa fa-caret-right " ng-disabled="likeRatePage == ceil(card.frequency.length / 5)" ng-click="likeRatePage = likeRatePage + 1"></button>
                        </div>
                    </div>
                    <div ng-if="!card.frequency" class="panel-body rate-items-wrapper analy-nodata">
                        <img src="/images/analysis/bg_nodata.png" alt="">
                        <br>
                        <span class="ads-font-26 ads-weight-600 text-danger">Coming Soon</span>
                        <!-- <p><a href="">Download BIGBIGADS Extension</a></p> -->
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="panel panel-info" >
                    <div class="panel-heading">
                        <span class="ads-font-22 ads-weight-600">Reach</span>
                    </div>
                    <div  ng-if="card.reach"  ng-init="likeRatePage = 1">
                        <div class="panel-body rate-items-wrapper" >
                            <div class="rate-weapper" ng-repeat="items in card.reach | limitTo:(likeRatePage * 5)" ng-if="$index+1 > (likeRatePage * 5 - 5)">
                                <a ng-href="./adAnalysis/{{items.event_id}}" target="_blank" ng-if="!items.fullDataFlag">
                                    <div class="rate-body">
                                        <img ng-src="{{items.image}}" alt="" class="rate-ads-img">
                                        <div class="rate-info text-right">
                                            <div class="ads-font-18">{{items.reach}}</div>
                                            <div>
                                                {{items.type}}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a ng-href="../extension" ng-if="items.fullDataFlag" class="rate-down-exten text-center">
                                    <fa class="fa fa-download rate-down-icon"></fa> BIGBIGADS Extension
                                </a>
                            </div>
                        </div>
                        <div class="rate-footer panel-footer text-right">
                            <button class="fa fa-caret-left" ng-disabled="likeRatePage == 1" ng-click="likeRatePage = likeRatePage - 1"></button>
                            <span>{{likeRatePage}} / {{ ceil(card.reach.length / 5)}}</span>
                            <button class="fa fa-caret-right " ng-disabled="likeRatePage == ceil(card.reach.length / 5)" ng-click="likeRatePage = likeRatePage + 1"></button>
                        </div>
                    </div>
                    <div ng-if="!card.reach" class="panel-body rate-items-wrapper analy-nodata">
                        <img src="/images/analysis/bg_nodata.png" alt="">
                        <br>
                        <span class="ads-font-26 ads-weight-600 text-danger">Coming Soon</span>
                        <!-- <p><a href="">Download BIGBIGADS Extension</a></p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<script type="text/ng-template" id="competitorSearch.html">
    <div ng-controller="CompetitorSearcherController">
        <!-- BEGIN HEADER SEARCH BOX -->
        <p>
            <form class="search-form form-inline" ng-submit="search()">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" ng-model="searchOpt.text">
                </div>
                <button type="submit" class="btn btn-circle btn-icon-only btn-default" ng-disabled="searchOpt.inprogress">
                    <i class="icon-magnifier"></i>
                </button>
            </form>
        </p>
        <div class="alert alert-warning" ng-if="searchOpt.error">{{searchOpt.error}}</div>
        <div class="list-group">
            <a ng-repeat="item in searchOpt.items" ng-click="notify(item)" class="list-group-item"> {{item.adser_name ? item.adser_name:item.adser_username}} </a>
        </div>
        <!-- END HEADER SEARCH BOX -->
    </div>
</script>