#adser-analysis{
    .ads-label-beta {
        display: inline-block;
        font-weight: 200;
        background: #4fc3a0;
        font-size: 12px;
        padding: 0 6px;
        border-radius: 8px;
        color: #fff;
        margin: 0 5px;
    } // 超出神略号
    .ads-text-ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .analy-body{
        background: rgba(255,255,255,.75);
    }
    .analy-title{
        font-size: 22px;
        color:#3598dc;
        padding: 15px;
        border-bottom: 1px solid rgba(53, 152, 220, 0.32);
        margin-top:35px;
        font-weight: 800;
    }
    .analy-dowm{
        
        font-size: 14px;
        margin-right: 8px;
    }
    .analy-up{
        font-size: 14px;
        margin-right: 8px;
    }
    .analy-nodata{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
        min-height: 300px;
    }
    .analy-blue{
        color:#7cb5ec;
    }
    .analy-veri-icon{
        color: #ffeb3b;
        margin-left: 5px;
    }
    // facebook objective 原生图标
    .fb-oj-icon {
        background: url('/images/analysis/object_icon_01.png') no-repeat;
        box-sizing: content-box;
        height: 24px;
        width: 24px;
        overflow: hidden;
        display: inline-block;
    }
    .oj-APP_INSTALLS {
        background-position: 0 -77px;
    }

    .oj-BRAND_AWARENESS {
        background-position: 0 -102px;
    }

    .oj-CANVAS_APP_INSTALLS {
        background-position: 0 -51px;
    }

    .oj-EVENT_RESPONSES {
        background-position: 0 -126px;

    }

    .oj-LEAD_GENERATION {
        background-position: 0 -152px;
    }

    .oj-LINK_CLICKS {
        background-position: 0 -352px;
    }

    .oj-LOCAL_AWARENESS {
        background-position: 0 -177px;
    }

    .oj-PAGE_LIKES {
        background-position: 0 -227px;
    }

    .oj-POST_ENGAGEMENT {
        background-position: 0 -251px;
    }

    .oj-PRODUCT_CATALOG_SALES {
        background-position: 0 -2px;    
    }

    .oj-REACH {
        background-position: 0 -277px;
    }

    .oj-STORE_VISITS {
        background-position: 0 -302px;
    }

    .oj-VIDEO_VIEWS {
        background-position: 0 -327px;
    }

    .oj-WEBSITE_CONVERSIONS {
        background-position: 0 -377px;
    }
    .ads-verified-blue{
        color:#5890ff;
    }
    .ads-verified-gray{
        color:#9298a4;
    }
    // overview
    .analy-body{
        .overview-adser{
            height: 190px;
            .ads-head-wrapper{
                background: rgba(204, 204, 204, 0.90);
                padding: 15px;
                height: 80px;
                overflow: visible;
            }
        }
    }
    .analy-overview{
        border-bottom: 1px solid #eee;
        
        position: relative;
        overflow: hidden;
        .filter-bg{
            /**  格式，filer: blur(模糊半径)
             *  模糊半径，取值范围0~Npx，0为无效果
             */
            background-size: 102% auto;
            background-repeat: no-repeat;
            background-position: center;
             position: absolute;
             height: 100%;
             width: 100%;
             left: 0;
             top:0;
             -webkit-filter: blur(10px);
             -moz-filter: blur(10px);
             -o-filter: blur(10px);
             -ms-filter: blur(10px);
             filter: blur(30px);
        }
        .analy-head{
            height: 100px;
            background: rgba(0,0,0,.3);
            position: relative;
        }
        .overview-wrapper{
            position: relative;
            display: flex;
            background: rgba(255, 255, 255, 0.90);
            padding-bottom: 15px;
        }
        .analy-adser-head{
            margin-top: -60px; 
            width: 200px;
            .adser-head{
                margin: 0 auto;
                display: block;
                width: 120px;
                height: 120px;
                border-radius: 60px;
                border:1px solid #e5e5e5;
                background: #fff;
                overflow: hidden;
            }
            .adser-name{
                width: 130px;
                margin: 0 auto;
                margin-top: 15px;
            }
        }
        .overview-info{
            position: relative;
            flex:1;
            margin-top: -60px;
            .info-head{
                height: 60px;
            }
            .info-date{
                display: flex;
                margin-top: 20px;
                flex-wrap: wrap;
                .data-card{
                    flex:1;
                    min-width: 150px;
                    padding: 15px 0;
                    margin:5px 0;
                    padding-left: 15px;
                    border:1px dashed #ccc;
                    border-left: 4px solid #ccc;
                    border-radius: 4px;
                    overflow: hidden;
                    margin-right: 15px;
                    p{
                        margin: 0px;
                    }
                    .card-title{
                        color:#eb6130;
                    }
                    .card-number{
                        font-weight: 600;
                        color:#555;
                    }
                }
            }
        }

    }
    //analy-audience
    .analy-audience{
        margin-top: 20px;
        .audience-card{
            background: #fff;
            display: flex;
            flex-direction: column;
            height: 250px;
            .audience-card-head{
                padding: 15px;
                border-bottom: 1px solid #eee;
            }
            .card-title {
                font-size: 22px;
                font-weight: 100;
            }
            .card-time{
                font-size: 14px;
                font-weight: 400;
                color:#bbb;
                margin-bottom: 0;
            }
            .card-number{
                flex:1;
                display: flex;
                align-items:center;
                .charts-wrapper{
                    height: 100%;
                    width: 50%;
                    min-width: 150px;
                    highchart{
                        padding: 0;
                        height: 100%;
                        width: 100%;
                        display: block;

                    }
                }
                .charts-number{
                    flex:1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .number-list{
                        margin-top: 5px;
                        margin-bottom: 5px;
                        display: flex;
                        align-items: center;
                        .list-icon{
                            width: 28px;
                            text-align: center;
                            margin-right: 4px;
                        }
                    }
                    .number-desktop{
                        .list-icon{
                            color:#7cb5ec;
                        }
                    }
                    .number-mobile{
                        .list-icon{
                            color:#337ab7;
                        }
                    }


                }
                
            }
            .audience-list{
                flex:1;
                display: flex;
                align-items:center;
                .list-icon{
                    margin-right: 5px;
                    color:#337ab7;
                }
                .list-name{
                    max-width: 60%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                }
                .list-data{
                    flex:1;
                    text-align: right;
                    color:#3598dc;
                }
            }
        }
        .devchart-wrapper{
            display: -webkit-flex;
            display: flex;
            .charts-wrapper{
                flex:1;
                display: -webkit-flex;
                display: flex;
                justify-content: center;
                align-items:center;

                highchart{
                    min-height: 140px !important;
                    flex:1;
                }
            }
            .charts-number{
                flex:1
            }
        }
    }
    //analy-geography
    .analy-geography{
        margin-top: 20px;
        .geo-row{
            margin-top: 20px;
        }
        .geo-title{
            font-size: 22px;
            font-weight: 600;
            color: #eb6130;
        }
        .geo-suptitle{
            font-size: 16px;
            color: #ccc;
            margin: 15 0px;
        }
        .charts-wrapper{
            display: flex;
            background: #fff;
            min-height: 300px;
            padding: 15px;
            highchart{
                flex:1;
            }
        }
        .geo-interest{
            .interest-list{
                padding: 15px;
                background: #fff;
                min-height: 300px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                .interest-wrapper{
                    flex:1;
                    
                    .stat-wrapper{
                        display: flex;
                        align-items: center;
                        margin-bottom: 20px;
                        .stat-icon{
                            margin-right: 8px;
                            color: #eb6130;
                        }
                        .stat-name{
                            width: 26%;
                            padding-right: 8px;
                        }
                        .stat-progress{
                            flex: 1;
                            margin-bottom: 0px;
                            border-radius: 8px !important;
                            height: 16px;
                            overflow: hidden;
                        }
                        .stat-number{
                            width: 60px;
                            padding-left: 8px;
                        }
                    }
                }
                .interest-footer{
                    padding: 5px 10px;
                    background: #337ab7;
                    .page-num{
                        margin-right: 8px;
                        color:#fff;
                    }
                }
            }
        }
        .geo-countries{
            padding: 15px 0;
            background: #fff;
        }
        .geo-map-table{
            display: flex;
            min-height: 325px;
            flex-direction: column;
            justify-content: flex-end;
            .map-table-wrappe{
                flex:1;
                .map-table{
                    margin: 0;
                    thead{
                        background: #337ab7;
                        color:#fff;
                    }
                    td {
                        padding: 8px;
                    }
                    .map-td1{
                        width: 10%;
                        min-width: 20px;
                        text-align: center;
                    }
                    .map-td2{
                        width: 30%;
                        min-width: 50px;
                    }
                    .map-td3{
                        width: 15%;
                        min-width: 70px;
                    }
                    .map-td4{
                        vertical-align: top;
                        border-top: 1px solid #ddd;
                    }
                    .progress-wrapper {
                        height: 20px;
                        display: flex;
                        align-items: center;
                        .progress{
                            flex:1;
                            height: 80%;
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .map-table-footer {
                padding: 5px 10px;
                background: #b0d5f9;
            }
        }
        .geo-map{
            .mapcharts-wrapper{
                min-height: 325px;
                display: flex;
                highchart{
                    flex:1
                }
            }
        }
    }
    .analy-object{
        background: #fff;
        .object-title{

        }
        .object-charts{
            .chart-wrapper{
                display: flex;
                height: 400px;
                box-sizing: content-box;
                justify-content: center;
                highchart{
                    height: 250px;
                    width: 100%;
                    .highcharts-container {
                        overflow: visible !important;
                        .highcharts-root {
                            overflow: visible !important;
                            height: 250px !important;
                            .highcharts-background{
                            }
                        } 
                    }
                }
            }
        }
    }
    
    // 导航菜单
    .analy-menu{
        padding:0 15px;
        border-bottom: 1px solid #ccc;
        display: flex;
        .menu-list{
            padding: 15px;
            display: flex;
            align-items:center;
            justify-content: center;
            cursor: pointer;
            border-bottom:3px solid;
            border-color: transparent;
            margin-bottom: -1px;
            font-weight: 600;
            font-size: 18px;
            color: #337ab7;
            &:hover{
                color:#7cb5ec;
            }
            &.active{
                color:#eb6130;
                border-bottom: 3px solid #eb6130;
                cursor: default;
            }
        }
    }
    .adser-analy-rate {
        margin-top: 30px;
        .rate-title{
            color: #3598dc;
            padding: 15px;
            margin-bottom: 30px;
            font-weight: 800;
            border-bottom: 1px solid rgba(53, 152, 220, 0.32);
        }
        .rate-items-wrapper{
            min-height: 405px;
            padding: 0;
            .rate-down-exten {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                .rate-down-icon{
                    margin-right: 8px;
                }
            }
        }
        .analy-nodata{min-height: 446px;}
        .rate-weapper {
            border-bottom: 1px dashed #eee;
            padding: 5px 15px;
            &:hover{
                    background: #efefef;
                }
            .rate-link{
                 text-decoration: none;
                 &:hover{
                     text-decoration: none;
                 }
            }
            .rate-body {
                display: flex;
                align-items: center;
                height: 70px;
                overflow: hidden;
                text-decoration: none;

                .rate-sort{
                    padding: 5px 5px;
                    width: 30px;
                    display: flex;
                    align-items:flex-start;
                    height: 100%;
                }

                .rate-ads-img {
                    width: 120px;
                    height: 100%;
                    background: #ccc url('/static/images/common/loading_01.gif') no-repeat center center;
                }

                .rate-info {
                    flex: 1;
                    display: block;
                }
            }
        }
    }
}