<div ng-controller="AdAnalysisController" class="ad-analysis">

        <div class="sidebar" fixsidebar>
            <ul role="tablist" class="nav nav-pills nav-stacked text-center">
                
                <li>
                    <a href="#detail">
                        <i class="fa fa-envelope fa-2x font-yellow-gold"></i>
                        <div>Detail</div>
                    </a>
                </li>
                <li>
                    <a href="#similar">
                        <i class="fa fa-bar-chart fa-2x font-yellow-gold"></i>
                        <div>Similar Ads</div>
                    </a>
                </li>
                <li>
                    <a href="#Landpage">
                        <i class="fa fa-link fa-2x font-yellow-gold"></i>
                        <div>Landpage</div>
                    </a>
                </li>
                <li>
                    <a href="#Engements">
                        <i class="fa fa-feed fa-2x font-yellow-gold"></i>
                        <div>Engements</div>
                    </a>
                </li>
                <li>
                    <a href="#audience">
                        <i class="fa fa-eye fa-2x font-yellow-gold"></i>
                        <div>Audience</div>
                    </a>
                </li>
            </ul>
        </div>
    <!-- BEGIN MAIN CONTENT -->
    <div class="content">
        <div class="row">
        <div class="col-xs-12">
            <!-- BEGIN: ACCORDION DEMO -->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-yellow-gold">
                        <i class="icon-badge font-green-sharp"></i>
                        <span class="caption-subject bold">AD:{{id}}</span>
                        <span class="caption-helper hide"></span>
                    </div>
                    <div class="actions" ng-hide="true">
                        <a class="btn btn-circle btn-icon-only btn-default" ui-sref="adsearch">
                            <i class="icon-action-undo"></i>
                        </a>
                    </div>
                </div>
                <div class="portlet-body">

                    <div class="alert alert-warning ng-cloak" ng-show="card.end">AD {{id}} Not found!</div>
                    <div class="row" ng-show="!card.end">
                        <div class="col-xs-12" id="ad">
                            
                            <!--detal-->
                            <div id="detail">
                                
                                <h4 class="font-yellow-gold">Detail</h4>
                                <div class="portlet light bordered">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <div>
                                                <a ng-href="https://www.facebook.com/{{card.adser_username}}" target="_blank">
                                                    <img src="{{settings.imgRemoteBase + card.local_photo}}" alt="" class="rounded avatar">
                                                </a>
                                                <a ui-sref="adser({name:card.adser_name, adser:card.adser_username})">
                                                    <span ng-bind-html="card.adser_name | toHtml" ng-show="card.adser_name"></span>
                                                    <span ng-show="!card.adser_name">{{card.adser_username}}</span>
                                                </a>
                                            </div>
                                            <single-image ng-if="card.type == 'SingleImage'" card="card">
                                            </single-image>
                                            <single-video ng-if="card.type == 'SingleVideo'" card="card"></single-video>
                                            <carousel ng-if="card.type == 'Carousel'" card="card">
                                            </carousel>
                                            <adcanvas ng-if="card.type == 'Canvas'" card="card"></adcanvas>
                                        </div>
                                        <!--overview-->
                                        <div class="col-xs-12 col-md-6">
                                            <div id="overview">
                                                <h4 class="font-yellow-gold">Overview</h4>
                                

                                                <!-- Begin date, duration, see_date -->
                                                <div class="row">
                                                    <div class="col-xs-12 dashboard-stat2">
                                                        <div class="display">
                                                            <h3>
                                                                <i class="fa fa-calendar pull-left font-yellow-gold fa-fw"></i>
                                                            </h3>
                                                            <div class="number">
                                                                <small>DATA</small>
                                                            
                                                                <h4 class="font-yellow-gold">{{card.first_see}}~{{card.last_see}}</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--存活时间-->
                                                    <div class="col-sm-12 col-md-6 dashboard-stat2">
                                                        <div class="display">
                                                            <h3>
                                                                <i class="fa fa-clock-o pull-left font-yellow-gold fa-fw"></i>
                                                            </h3>
                                                            
                                                            <div class="number">
                                                                <small>Duration</small>
                                                                <h4 class="font-yellow-gold">
                                                                {{card.duration_days}}
                                                                </h4>
                                                            </div>
                                                        </div> 
                                                    </div>
                                                    <!--see-view-->
                                                    <div class="col-sm-12 col-md-6 dashboard-stat2">
                                                        <div class="display">
                                                            <h3>
                                                                <i class="fa fa-eye pull-left font-yellow-gold fa-fw"></i>
                                                            </h3>
                                                            
                                                            <div class="number">
                                                                <small>view count</small>
                                                                <h4 class="font-yellow-gold">
                                                                {{card.see_date}}
                                                                </h4>
                                                            </div>
                                                        </div> 
                                                    </div>
                                                    <div class="col-sm-12 col-md-6 dashboard-stat2">
                                                        <div class="display">
                                                            <h3>
                                                                <i class="fa glyphicon glyphicon-flag pull-left font-yellow-gold fa-fw"></i>
                                                            </h3>
                                                            
                                                            <div class="number">
                                                                <small>country</small>
                                                                <h4 class="font-yellow-gold">
                                                                {{ad.proxy_country}}
                                                                </h4>
                                                            </div>
                                                        </div> 
                                                    </div> 
                                                    <!--language-->
                                                    <div class="col-sm-12 col-md-6 dashboard-stat2">
                                                        <div class="display">
                                                            <h3>
                                                                <i class="fa glyphicon glyphicon-font pull-left font-yellow-gold fa-fw"></i>
                                                            </h3>
                                                            
                                                            <div class="number">
                                                                <small>language</small>
                                                                <h4 class="font-yellow-gold">
                                                                {{ad.ad_lang}}
                                                                </h4>
                                                            </div>
                                                        </div> 
                                                    </div>  
                                                    <!--ad position-->
                                                    <div class="col-sm-12 col-md-6 dashboard-stat2">
                                                        <div class="display">
                                                            <h3>
                                                                <i class="fa glyphicon glyphicon-tag pull-left font-yellow-gold fa-fw"></i>
                                                            </h3>
                                                            
                                                            <div class="number">
                                                                <small>position</small>
                                                                <h4 class="font-yellow-gold">
                                                                News Feed
                                                                </h4>
                                                            </div>
                                                        </div> 
                                                    </div> 
                                                    <!--comments-->
                                                    <div class="col-sm-12 col-md-6 dashboard-stat2" ng-if="card.comments">
                                                        <div class="display">
                                                            <h3>
                                                                <i class="fa fa-comment pull-left font-yellow-gold fa-fw"></i>
                                                            </h3>
                                                            
                                                            <div class="number">
                                                                <small>Comments</small>
                                                                <h4 class="font-yellow-gold">
                                                                {{card.comments}}
                                                                </h4>
                                                            </div>
                                                        </div> 
                                                    </div>
                                                    <!--likes-->
                                                    <div class="col-sm-12 col-md-6 dashboard-stat2" ng-if="card.likes">
                                                        <div class="display">
                                                            <h3>
                                                                <i class="fa fa-heart pull-left font-yellow-gold fa-fw"></i>
                                                            </h3>
                                                            
                                                            <div class="number">
                                                                <small>Likes</small>
                                                                <h4 class="font-yellow-gold">
                                                                {{card.likes}}
                                                                </h4>
                                                            </div>
                                                        </div> 
                                                    </div> 
                                                    <!--shares-->
                                                    <div class="col-sm-12 col-md-6 dashboard-stat2 " ng-if="card.shares">
                                                        <div class="display">
                                                            <h3>
                                                                <i class="fa fa-share-alt pull-left font-yellow-gold fa-fw"></i>
                                                            </h3>
                                                            
                                                            <div class="number">
                                                                <small>shares</small>
                                                                <h4 class="font-yellow-gold">
                                                                {{card.shares}}
                                                                </h4>
                                                            </div>
                                                        </div> 
                                                    </div>    
                                                </div>
                                                <!-- end date, duration, see_date-->
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="similar" ng-if="card.similars.length > 0" >
                                <h4 class="font-yellow-gold">Similar Ads</h4>
                                <div class="row">
                                    <div ng-repeat="item in card.similars | limitTo:2" class="col-md-6 col-xs-12">
                                        <div class="portlet light bordered">
                                            <div>
                                                <a ng-href="">
                                                    <img src="{{settings.imgRemoteBase + item.local_photo}}" alt="" class="rounded avatar">
                                                </a>
                                                       
                                                <a ui-sref="adser({name:item.adser_name, adser:item.adser_username})">
                                                    <span ng-bind-html="item.adser_name | toHtml" ng-show="item.adser_name">
                                                    </span>
                                                    <span ng-show="!item.adser_name">{{item.adser_username}}</span>
                                                </a>
                                            </div>
                                            
                                                <a ui-sref=""  ui-sref-opts="{reload:false}">
                                                
                                            
                                            <img src="../assets/global/img/input-spinner.gif" lazy-img="{{settings.imgRemoteBase + item.watermark}}" class="img-responsive" ng-if="item.watermark"/></a>
                                            <H5>
                                                <div class="xg-span-name">
                                                {{item.name}}</div>
                                            </H5>

                                            <p class="xg-span-description">
                                                <span ng-bind-html="card.description | toHtml" class="ng-binding">{{item.description}}</span>
                                            </p>
                                            <div class="aditem-caption margin-top-10" ng-hide="empty(card.caption)">
                                                <label class="xg-label-caption ng-binding">{{item.caption}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <a class="btn font-yellow-gold btn-link ng-scope" ng-if="card.similars.length > 2" href="#" role="button">search more</a>
                            </div>
                            <!-- begin link-->
                            <div id="Landpage">
                                <h4 class="font-yellow-gold">Landpage</h4>
                                <div ng-if="card.type == 'Carousel'">

                                </div>
                                <div ng-if="card.type != 'Carousel'">
                                    <!--buttinlink-->
                                    <h5 ng-if="card.buttonlink">
                                            <a href="{{card.buttonlink}}" target="_blank" class="text-nowrap buttonlink-a">{{card.buttonlink}}</a>
                                        
                                            <span class="label label-default" >{{card.buttondesc}}</span>
                                    </h5>
                                    <h5 ng-if="card.link">
                                        <a  href="{{card.link}}" target="_blank" class="text-nowrap buttonlink-a">{{card.link}}</a>
                                        <span class="label label-default">Link</span></h5>
                                    
                                    <h5 ng-if="card.dest_site">
                                            <a href="{{card.dest_site}}" target="_blank" class="text-nowrap buttonlink-a">{{card.dest_site}}</a>
                                            <span class="label label-default" >description</span>
                                    </h5>
                                    <!-- <img src="../assets/global/img/input-spinner.gif" lazy-img="{{settings.imgRemoteBase + card.snapshot}}" class="img-responsive" ng-if="card.snapshot" /> -->
                                </div>
                            </div>
                            <!-- end link -->
                            <div id="Engements">
                                <h4 class="font-yellow-gold">Engements</h4>
                                <div class="text-center" ng-show="adSearcher.isLoadingCharts">
                                    <i class="fa fa-spinner fa-spin"></i>Loading Charts...
                                </div>
                                <div class="text-center" ng-show="adSearcher.noTrends">
                                    <span>no trends data...</span>
                                </div>
                                <div class="col-xs-12" ng-if="adSearcher.commentsTrend">
                                    <highchart  config="adSearcher.commentsTrend"></highchart>
                                </div>

                                <div class="col-xs-12" ng-if="adSearcher.engagementsTrend">
                                    <highchart  config="adSearcher.engagementsTrend"></highchart>
                                </div>

                                <div class="col-xs-12" ng-if="adSearcher.likesTrend">
                                    <highchart  config="adSearcher.likesTrend"></highchart>
                                </div>
                                <button  class="btn font-yellow-gold btn-link" ng-click="adSearcher.showAllTrend=true" ng-if="adSearcher.sharesTrend || adSearcher.viewsTrend" ng-show="!adSearcher.showAllTrend">More...</button>
                                <div class="col-xs-12" ng-if="adSearcher.sharesTrend" ng-show="adSearcher.showAllTrend">
                                    <highchart  config="adSearcher.sharesTrend"></highchart>
                                </div>

                                <div class="col-xs-12" ng-if="adSearcher.viewsTrend" ng-show="adSearcher.showAllTrend">
                                    <highchart  config="adSearcher.viewsTrend"></highchart>
                                </div>
                            </div>
                            <div id="audience">
                                <h4 class="font-yellow-gold">Audience</h4>
                                <table ng-if="card.whyseeads_all" class="table table-hover">
                                    <!-- <tr>
                                        <th>#</th>
                                        <th>Audience</th>
                                    </tr> -->
                                    <tr ng-repeat="item in card.whyseeads_all">
                                        <!-- <td>{{$index}}</td> -->
                                        <td><a title="All ads by this audience" target="_blank" href="adsearch?searchText={{item}}&searchFields=whyseeads,whyseeads_all">{{item}}</a></td>
                                    </tr>
                                </table>
                                <table ng-if="card.whyseeads" class="table table-hover">
                                    <!-- <tr>
                                        <th>#</th>
                                        <th>Audience</th>
                                    </tr> -->
                                    <tr ng-repeat="item in card.whyseeads">
                                        <!-- <td>{{$index}}</td> -->
                                        <td>{{item}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
