<!-- BEGIN PAGE BREADCRUMB -->

 <button type="button" class="btn-circle quick-sidebar-toggler" data-toggle="collapse">
			<span class="sr-only">Toggle Filter Sidebar</span>
			<i class="icon-grid"></i>
 </button>

 <div data-ng-include="'tpl/quick-sidebar.html'" data-ng-controller="QuickSidebarController" class="page-quick-sidebar-wrapper"></div>
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a ui-sref="dashboard">Blank Page</a>
        <i class="fa fa-circle"></i>
    </li>
</ul>

<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row" ng-controller="AdsearchController">
    <div class="col-md-12">
        <!-- BEGIN: ACCORDION DEMO -->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-yellow-gold">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Page Portlet</span>
                    <span class="caption-helper hide"></span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default" href="#">
                        <i class="icon-cloud-upload"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default" href="#">
                        <i class="icon-wrench"></i>
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-6">
                        <!-- BEGIN HEADER SEARCH BOX -->
                        <form class="search-form form-inline" ng-submit="search()">
                            <div class="">
                                <input type="text" class="form-control input-inline" placeholder="Search" ng-model="adSearcher.searchOption.text">
                                <select class="form-control input-inline" ng-model="adSearcher.searchOption.type" ng-options="item.key as item.value for item in settings.searchSetting.adsTypes">
                                    <option value="">ALL</option>
                                </select>
						<button type="submit" class="btn btn-circle btn-icon-only btn-default">
							<i class="icon-magnifier"></i>
						</button>
                            </div>
                        </form>
                <!-- END HEADER SEARCH BOX -->
                    </div>
                <div class="col-md-6">
                <button class="btn blue btn-outline btn-md">Export</button>
                <button class="btn default btn-outline btn-md " disabled="disabled">Subscribe</button>
                </div>

                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="pull-right">
                <form class="form-inline">
                <div class="form-group">
                    <button class="btn btn-warning btn-sm" ng-class="{'active':!adSearcher.params.sort.order}" ng-click="reverseSort()">Reverse</button>

                    <select class="form-control bs-select" ng-model="adSearcher.params.sort.field" ng-options="item.key as item.value for item in settings.searchSetting.orderBy" ng-change="adSearcher.filter()">
                        <option value="">Sort By</option>
                    </select>
                </div>
                </form>
            </div>
            <div>
                <span>About {{adSearcher.ads.total_count}} results</span>
            </div>
        </div>
        <div infinite-scroll="adSearcher.getMore()" infinite-scroll-distance="0" infinite-scroll-disabled="adSearcher.busy || adSearcher.isend">
            <div deckgrid source="adSearcher.ads.ads_info" class="deckgrid" cardTemplate="views/adsearch-card.html">
            </div>
            <div class="clearfix">
            </div>
			<div class="text-center" ng-show="adSearcher.busy">
				<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
				<span class="sr-only">Loading...</span>
			</div>
        </div>
    </div>
</div>


<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script>
    // call any jquery or angularjs code ehre
</script>
<!-- BEGIN MAIN JS -->
