<div ng-controller="AdsearchController" class="ml-sidebar">
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN: ACCORDION DEMO -->
        <div class="">
            <div class="mb10">
                <div class="row">
                    <div class="col-xs-12 ">
                        <!-- BEGIN HEADER SEARCH BOX -->
                        <form class="search-form" ng-submit="search()">
                                <div class="col-xs-8">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-lg xg-search-height" placeholder="Search" ng-model="adSearcher.searchOption.search.text">
                                        <span class="input-group-addon xg-type-select">
                                            <select class="bs-select" data-width="150px" ng-model="filterOption.type" >
                                                <option value="" >ALL</option>
                                                <option policy-lock ng-repeat="item in settings.searchSetting.adsTypes" value="{{item.key}}" key="platform" val="{{item.key}}">
                                                {{item.value}}
                                                </option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                <button type="submit" class="btn yellow-gold btn-lg">
                                    Search
                                </button>
                                <!-- <button class="btn yellow-gold btn-lg" ng-click="showStatics()">analysis</button> -->
                                </div>
                        </form>
                <!-- END HEADER SEARCH BOX -->
                        <!-- <button policy-lock class="btn blue btn-outline btn-md disabled" key="export">Export</button> -->
                        <!-- <button class="btn blue btn-outline btn-md " disabled="disabled">Subscribe</button> -->
                    </div>
                </div>
                <div class="alert alert-warning margin-top-10" ng-show="currSearchOption.isdirty">
                    <div ng-if="currSearchOption.search.text">Search Text:{{currSearchOption.search.text}}</div>
                    <div ng-if="currSearchOption.filter.type">Media Type:{{currSearchOption.filter.type}}</div>
                    <div ng-if="currSearchOption.filter.date.startDate && currSearchOption.filter.date.endDate">Date:{{currSearchOption.filter.date.startDate.format("YYYY-MM-DD")}} ~ {{currSearchOption.filter.date.endDate.format("YYYY-MM-DD")}}</div>
                    <div ng-if="currSearchOption.filter.lang">Language:{{currSearchOption.filter.lang}}</div>
                    <div ng-if="currSearchOption.filter.state">Country:{{currSearchOption.filter.state}}</div>
                    <div ng-if="currSearchOption.domain.text">Domain:{{currSearchOption.domain.text}}({{currSearchOption.domain.exclude ? "Not Contain" : "Must Contain"}})</div>
                    <div ng-if="currSearchOption.audience.text">Audience:{{currSearchOption.audience.text}}({{currSearchOption.audience.exclude ? "Not Contain" : "Must Contain"}})</div>
                    <div ng-if="currSearchOption.category">Category:{{currSearchOption.category}}</div>
                    <div ng-if="currSearchOption.format">Format:{{currSearchOption.format}}</div>
                    <div ng-if="currSearchOption.buttondesc">Button Description:{{currSearchOption.buttondesc}}</div>
                    <div ng-if="currSearchOption.range">Range:{{currSearchOption.range}}</div>
                    <div ng-if="currSearchOption.filter.isDurationDirty()">Duration Range:{{currSearchOption.filter.duration.from}}~{{currSearchOption.filter.duration.to}}</div>
                    <div ng-if="currSearchOption.filter.isSeeTimesDirty()">See Times Range:{{currSearchOption.filter.seeTimes.from}}~{{currSearchOption.filter.seeTimes.to}}</div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="pull-right">
                <form class="form-inline">
                <div class="form-group">
                    <!-- <button policy-lock key="search_sortby" class="btn yellow-gold btn-sm" ng-class="{'active':!adSearcher.params.sort.order}" ng-click="reverseSort()">Reverse</button> -->
                    <span class="xg-mr5">Sort By</span>
                    <select class="form-control bs-select" ng-disabled="!User.can('search_sortby')" data-width="150px" ng-model="adSearcher.params.sort.field"  ng-change="adSearcher.filter()">
                        <option policy-lock key="search_sortby" value="{{item.key}}" ng-repeat="item in settings.searchSetting.orderBy" ng-class='{"xg-order-border":item.last}'>
                            {{item.value}}
                        </option>
                    </select>
                </div>
                </form>
            </div>
            <div>
                <span>About {{adSearcher.ads.total_count}} results</span>
                <!-- <button class="btn yellow-gold btn-lg" ng-click="showStatics()">analysis</button> -->
                <i class="fa fa-hand-o-right font-yellow-gold xg-analysis" ng-click="showStatics()"></i>
            </div>
        </div>
        <div infinite-scroll="adSearcher.checkAndGetMore()" infinite-scroll-distance="0" infinite-scroll-disabled="adSearcher.busy || adSearcher.isend">
            <div deckgrid source="adSearcher.ads.ads_info" class="deckgrid" cardTemplate="views/adsearch-card.html">
            </div>
            <div class="clearfix">
            </div>
			<div class="text-center" ng-show="adSearcher.busy">
				<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
				<span class="sr-only">Loading...</span>
			</div>
        </div>
    </div>
</div>

<!-- sidebar and sidebar controller -->
 <!-- <button type="button" class="quick-sidebar-toggler bg-yellow-gold" data-toggle="collapse"> -->
			<!-- <span class="sr-only">Toggle Filter Sidebar</span> -->
			<!-- <i class="icon-grid"></i> -->
 <!-- </button> -->

 <div data-ng-include="'tpl/quick-sidebar.html'" data-ng-controller="QuickSidebarController" class="page-quick-sidebar-wrapper"></div>

 <!-- <button type="button" class="bg-yellow-gold statics-btn" ng-click="showStatics()"> -->
 <!--     <span class="sr-only">Toggle Statics Dialog</span> -->
 <!--     <i class="icon-bar-chart font-white fa-2x"></i> -->
 <!-- </button> -->

</div>
<!-- END MAIN CONTENT -->
<script type="text/ng-template" id="statics-dlg.html">
  <div class="modal-header">
        <h3 class="modal-title" id="modal-title">AD Search Statics</h3>
        </div>
        <div class="modal-body ad-analysis" id="modal-body">
            <!-- begin sidebar -->
                <div class="sidebar" fixsidebar >
                    <ul role="tablist" class="nav nav-pills nav-stacked text-center">
                        <li>
                            <a href="#statics_overview">
                                <i class="fa fa-bar-chart fa-2x font-yellow-gold"></i>
                                <div>Overview {{card.end}}</div>
                            </a>
                        </li>

                        <li>
                            <a href="#statics_chart">
                                <i class="fa fa-feed fa-2x font-yellow-gold"></i>
                                <div>Interactive</div>
                            </a>
                        </li>
                        <li>
                            <a href="#statics_link">
                                <i class="fa fa-link fa-2x font-yellow-gold"></i>
                                <div>Link</div>
                            </a>
                        </li>
                        <li>
                            <a href="#statics_audience">
                                <i class="fa fa-eye fa-2x font-yellow-gold"></i>
                                <div>Audience</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- end sidebar -->
                <!-- begin content -->
                <div class="content row">
                    <div class="row" id="statics_overview">
                        <div class="col-md-4 col-sm-4">
                            <rank-board title="Total Count">
                                <div class="clearfix">
                                    <h5 class="pull-left"> </h5>
                                    <h5 class="font-yellow-gold pull-right">{{statics.total_count}}</h5>
                                </div>
                            </rank-board>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <rank-board title="Distinct Total Count">
                                <div class="clearfix">
                                    <h5 class="pull-left"> </h5>
                                    <h5 class="font-yellow-gold pull-right">{{statics.distinct_total_count}}</h5>
                                </div>
                            </rank-board>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <rank-board title="Summary Views">
                                <div class="clearfix">
                                    <h5 class="pull-left"></h5>
                                    <h5 class="font-yellow-gold pull-right">{{statics.sum_views}}</h5>
                                </div>
                            </rank-board>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <rank-board title="Summary Shares">
                                <div class="clearfix">
                                    <h5 class="pull-left"></h5>
                                    <h5 class="font-yellow-gold pull-right">{{statics.sum_shares}}</h5>
                                </div>
                            </rank-board>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <rank-board title="Summary Likes">
                                <div class="clearfix">
                                    <h5 class="pull-left"></h5>
                                    <h5 class="font-yellow-gold pull-right">{{statics.sum_likes}}</h5>
                                </div>
                            </rank-board>
                        </div>


                        <div class="col-md-4 col-sm-4">
                            <rank-board title="Summary Engagements">
                                <div class="clearfix">
                                    <h5 class="pull-left"></h5>
                                    <h5 class="font-yellow-gold pull-right">{{statics.sum_engagements}}</h5>
                                </div>
                            </rank-board>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <rank-board title="Summary Comments">
                                <div class="clearfix">
                                    <h5 class="pull-left"></h5>
                                    <h5 class="font-yellow-gold pull-right">{{statics.sum_comments}}</h5>
                                </div>
                            </rank-board>
                        </div>
                    </div>
             <!-- 图表表示 -->         
            <div class="row" id="statics_chart">
                <div class=" col-xs-12" ng-if="statics.adLangConfig">
                    <highchart id="adLangChart" config="statics.adLangConfig"></highchart>
                </div>
                <div class=" col-xs-12" ng-if="statics.adserNameConfig">
                    <highchart id="adserNameChart" config="statics.adserNameConfig"></highchart>
                </div>
                <div class="col-xs-12" ng-if="statics.adserUsernameConfig">
                    <highchart id="adserUsernameChart" config="statics.adserUsernameConfig"></highchart>
                </div>
                <div class=" col-xs-12" ng-if="statics.categoryConfig">
                    <highchart id="categoryChart" config="statics.categoryConfig"></highchart>
                </div>
                <div class=" col-xs-12" ng-if="statics.mediaTypeConfig">
                    <highchart id="mediaTypeChart" config="statics.mediaTypeConfig"></highchart>
                </div>
            </div>
            <div class="container-fluid" id="statics_link">
                <!-- 内容太长，改以表格表示 -->
                <div class="row" ng-if="statics.button_link">
                    <h4 class="font-yellow-gold">Button Link:</h4>
                    <div>
                        <table class="table table-hover linktable" >
                            <tr>
                                <th>#</th>
                                <th>Link</th>
                                <th>Number</th>
                            </tr>
                            <tr ng-repeat="(key, val) in statics.button_link">
                                <td>{{$index + 1}}</td>
                                <td>{{key}}</td>
                                <td>{{val}}</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row" ng-if="statics.link">
                    <h4 class="font-yellow-gold">Link:</h4>
                    <div>
                        <table class="table table-hover linktable" >
                            <tr>
                                <th>#</th>
                                <th>Link</th>
                                <th>Number</th>
                            </tr>
                            <tr ng-repeat="(key, val) in statics.link">
                                <td>{{$index + 1}}</td>
                                <td>{{key}}</td>
                                <td>{{val}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row" ng-if="statics.dest_site">
                    <h4 class="font-yellow-gold">Destsite Link:</h4>
                    <div>
                        <table class="table table-hover linktable" >
                            <tr>
                                <th>#</th>
                                <th>Link</th>
                                <th>Number</th>
                            </tr>
                            <tr ng-repeat="(key, val) in statics.dest_site">
                                <td>{{$index + 1}}</td>
                                <td>{{key}}</td>
                                <td>{{val}}</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row" ng-if="statics.whyseeads" id="statics_audience">
                    <h4 class="font-yellow-gold">Audience:</h4>
                    <div>
                        <table class="table table-hover linktable" >
                            <tr>
                                <th>#</th>
                                <th>Audience</th>
                                <th>Number</th>
                            </tr>
                            <tr ng-repeat="(key, val) in statics.whyseeads">
                                <td>{{$index + 1}}</td>
                                <td>{{key}}</td>
                                <td>{{val}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- end content -->
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="close()">Close</button>
        </div>
    </div>
</script>
