<div class="a-card fade-in-up">
    <div class="portlet light aditem">
        <div class="portlet-title">
            <div class="pull-right">
                <button ng-if="card.whyseeads_all || card.whyseeads" ng-click="mother.swal(card.whyseeads ? card.whyseeads : card.whyseeads_all)">
                    <i class="fa fa-users font-yellow-gold"></i>
                </button>
            </div>
            <span class="font-yellow-gold ">ads_id:{{card.event_id}}</span><br/>
            <i class="fa fa-calendar font-yellow-gold fa-fw"></i><span>{{card.first_see}}~{{card.last_see}}</span>
            <i class="fa fa-clock-o font-yellow-gold fa-fw"></i><span>{{card.duration_days}}</span>
            <i class="fa fa-eye font-yellow-gold  fa-fw"></i><span>{{card.see_date}}</span>
            <p/>
            <div>
                <i class="fa fa-share-alt fa-3x font-yellow-gold"  ng-show="mother.adSearcher.getAdsType(card, mother.adSearcher.ADS_TYPE.timeline)"></i>
                <i class="fa fa-columns fa-3x font-yellow-gold"  ng-show="mother.adSearcher.getAdsType(card, mother.adSearcher.ADS_TYPE.rightcolumn)"></i>
                <i class="fa fa-mobile font-yellow-gold  fa-3x" ng-show="mother.adSearcher.getAdsType(card, mother.adSearcher.ADS_TYPE.mobile)"></i>
            </div>
        </div>

        <!-- avatar and adser info -->
        <div class="aditem-ader row margin-bottom-10">
            <div class="col-md-3 text-center ">
                <a  ng-href="https://www.facebook.com/{{card.adser_username}}" target="_blank">
                    <img src="{{mother.settings.imgRemoteBase + card.local_photo}}" alt="" class="rounded avatar">
                </a>
            </div>
            <div class="col-md-9">
                <div class="margin-bottom-5">
                    <a ui-sref="adser({name:card.adser_name, adser:card.adser_username})">
                        <span ng-bind-html="card.adser_name | toHtml" ng-show="card.adser_name"></span>
                        <span ng-show="!card.adser_name">{{card.adser_username}}</span>
                    </a>
                </div>
                <div class="pull-left">
                Sponsored
                </div>
                <div class="pull-right">
                    <a href="https://www.facebook.com/{{card.adser_username}}" class="label label-sm label-warning" ng-hide="empty(card.likepage)"> <i class="fa fa-thumbs-up blue"></i>Like Page</a>
                </div>
            </div>
        </div>
        <!-- end avatar and adser info -->
        <single-image ng-if="card.type == 'SingleImage'" card="card">
        </single-image>
        <single-video ng-if="card.type == 'SingleVideo'" card="card"></single-video>
        <carousel ng-if="card.type == 'Carousel'" card="card">
        </carousel>
        <adcanvas ng-if="card.type == 'Canvas'" card="card"></adcanvas>
    </div>
</div>
