<div ng-controller="AdserAnalysisController">
    <!-- BEGIN MAIN CONTENT -->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN: ACCORDION DEMO -->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-yellow-gold">
                        <i class="icon-badge font-green-sharp"></i>
                        <span class="caption-subject bold"> Adser:{{username}}</span>
                        <span class="caption-helper hide"></span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-circle btn-icon-only btn-default" ui-sref="adsearch">
                            <i class="icon-action-undo"></i>
                        </a>
                    </div>
                </div>
                <!-- portlet body -->
                <div class="portlet-body">
                    <div class="row">
                        <!-- BEGIN MENU -->
                        <div class="col-xs-2">
                            <ul role="tablist" class="nav nav-pills nav-stacked text-center">
                                <li>
                                    <a href="#overview">
                                        <i class="fa fa-bar-chart fa-2x font-yellow-gold"></i>
                                        <div>Overview</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#audience">
                                        <i class="fa fa-eye fa-2x font-yellow-gold"></i>
                                        <div>Audience</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#curve">
                                        <i class="fa fa-envelope fa-2x font-yellow-gold"></i>
                                        <div>Curve</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tops">
                                        <i class="fa fa-link fa-2x font-yellow-gold"></i>
                                        <div>Top</div>
                                    </a>
                                </li>
                                <li class="disabled">
                                    <a href="#related">
                                        <i class="fa fa-feed fa-2x font-yellow-gold"></i>
                                        <div>Related</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- END MENU-->
                        <!-- BEGIN CONTENT-->
                        <div class="col-xs-10" id="ad">
                            <div id="overview">
                                <h4 class="font-yellow-gold">
                                        Overview &nbsp;&nbsp;
                                        <button class="btn btn-md yellow-gold"  uib-popover-template="'competitorSearch.html'" popover-placement="bottom" popover-title="Search Competitor" popover-is-open="competitorPopover" ><i class="fa fa-plus"></i>Add Competitors</button>
                                </h4>
                                <div class="row">
                                    <!-- begin avatar info -->
                                    <div class="inline">
                                        <a ng-href="https://www.facebook.com/{{card.username}}" target="_blank">
                                            <img src="../assets/global/img/input-spinner.gif" lazy-img="{{settings.imgRemoteBase + card.local_photo}}" alt="" class="rounded avatar">
                                        </a>
                                        <a ui-sref="adser({name:card.name, adser:card.username})">
                                            <span ng-show="card.name">{{card.name}}</span>
                                            <span ng-show="!card.name">{{card.username}}</span>
                                        </a>

                                        <span><i class="fa fa-thumbs-o-up fa-fw font-yellow-gold"></i>{{card.page_like_count}}</span>
                                    </div>
                                    <!-- end avatar info -->
                                    <!-- begin competior info -->
                                    <div class="inline" ng-repeat="competitor in competitors">
                                        <h3 class="inline font-yellow-gold" > Vs.</h3>
                                        <a ng-href="https://www.facebook.com/{{competitor.username}}" target="_blank">
                                            <img src="../assets/global/img/input-spinner.gif" lazy-img="{{settings.imgRemoteBase + competitor.local_photo}}" alt="" class="rounded avatar">
                                        </a>
                                        <a ui-sref="adser({name:competitor.name, adser:competitor.username})">
                                            <span ng-bind-html="competitor.name | toHtml" ng-show="competitor.name"></span>
                                            <span ng-show="!competitor.name">{{competitor.username}}</span>
                                        </a>

                                        <span><i class="fa fa-thumbs-o-up fa-fw font-yellow-gold"></i>{{competitor.page_like_count}}</span>
                                        <a ng-click="remove($index)">
                                            <i class="icon-close"></i>
                                        </a>
                                    </div>
                                    <!-- end competitor info -->
                                </div>
                                <div ng-hide="competitors.length > 0">
                                    <p>
                                    Category:{{card.page_category}}
                                    </p>
                                    <p>
                                    <label class="label label-default"><i class="fa fa-facebook-official font-blue fa-2x bg-white vmiddle margin-right-5"></i>Facebook</label>
                                    <i class="fa fa-check-circle fa-2x vmiddle" ng-class="{'font-blue':card.page_verified=='blue_verified','font-gray':card.page_verified=='grey_verified'}" ng-show="card.page_verified"></i>
                                    </p>
                                    <p ng-if="card.page_website">
                                    Website:<a ng-href="{{card.page_website}}">{{card.page_website}}</a>
                                    </p>
                                    <p>
                                    <span>Buttons:</span>
                                    <span ng-repeat="item in card.button_desc" ><button class="btn btn-outline yellow-gold disabled "  ng-show="item">{{item}}</button> </span>
                                    </p>
                                </div>
                                <!-- rank2 -->
                                <h4>Summary</h4>
                                <div class="row">

                                    <div class="col-md-4">
                                        <rank-board title="TotalAds">
                                            <div class="clearfix">
                                                <h5 class="pull-left">{{card.name}}</h5>
                                                <h5 class="font-yellow-gold pull-right">{{card.total_ads}}</h5>
                                            </div>
                                            <div class="clearfix" ng-repeat="competitor in competitors">
                                                <h5 class="pull-left">{{competitor.name}}</h5>
                                                <h5 class="font-yellow-gold pull-right">{{competitor.total_ads}}</h5>
                                            </div>
                                        </rank-board>
                                    </div>
                                    <div class="col-md-4">
                                        <rank-board title="Average Duration">
                                            <div class="clearfix">
                                                <h5 class="pull-left">{{card.name}}</h5>
                                                <h5 class="font-yellow-gold pull-right">{{card.avg_duration}}</h5>
                                            </div>
                                            <div class="clearfix" ng-repeat="competitor in competitors">
                                                <h5 class="pull-left">{{competitor.name}}</h5>
                                                <h5 class="font-yellow-gold pull-right">{{competitor.avg_duration}}</h5>
                                            </div>
                                        </rank-board>
                                    </div>

                                    <div class="col-md-4">
                                        <rank-board title="Summary Views">
                                            <div class="clearfix">
                                                <h5 class="pull-left">{{card.name}}</h5>
                                                <h5 class="font-yellow-gold pull-right">{{card.sum_views}}</h5>
                                            </div>
                                            <div class="clearfix" ng-repeat="competitor in competitors">
                                                <h5 class="pull-left">{{competitor.name}}</h5>
                                                <h5 class="font-yellow-gold pull-right">{{competitor.sum_views}}</h5>
                                            </div>
                                        </rank-board>
                                    </div>
                                </div>
                                <!-- end rank2-->
                                <!-- rank4 -->
                                <div class="row">
                                    <div class="col-md-4">
                                        <rank-board title="First See">
                                            <div class="clearfix">
                                                <h5 class="pull-left">{{card.name}}</h5>
                                                <h5 class="font-yellow-gold pull-right">{{card.first_see}}</h5>
                                            </div>
                                            <div class="clearfix" ng-repeat="competitor in competitors">
                                                <h5 class="pull-left">{{competitor.name}}</h5>
                                                <h5 class="font-yellow-gold pull-right">{{competitor.first_see}}</h5>
                                            </div>
                                        </rank-board>
                                    </div>
                                    <div class="col-md-4">
                                        <rank-board title="Last See">
                                            <div class="clearfix">
                                                <h5 class="pull-left">{{card.name}}</h5>
                                                <h5 class="font-yellow-gold pull-right">{{card.last_see}}</h5>
                                            </div>
                                            <div class="clearfix" ng-repeat="competitor in competitors">
                                                <h5 class="pull-left">{{competitor.name}}</h5>
                                                <h5 class="font-yellow-gold pull-right">{{competitor.last_see}}</h5>
                                            </div>
                                        </rank-board>
                                    </div>
                                </div>
                                <!-- end rank4 -->
                                <!-- top rank-->
                                <h4>Rank</h4>
                                <div class="row">
                                    <div class="col-md-4">
                                        <rank-board title="Global Rank">
                                            <div class="clearfix">
                                                <h5 class="pull-left">{{card.name}}</h5>
                                                <h5 class="font-yellow-gold pull-right">{{card.global_rank}}</h5>
                                            </div>
                                            <div class="clearfix" ng-repeat="competitor in competitors">
                                                <h5 class="pull-left">{{competitor.name}}</h5>
                                                <h5 class="font-yellow-gold pull-right">{{competitor.global_rank}}</h5>
                                            </div>
                                        </rank-board>
                                    </div>
<!--
                                    <div class="col-md-4">
                                        <rank-board title="Country Rank">
                                            <div class="clearfix">
                                                <h5 class="pull-left">{{card.adser_name}}</h5>
                                                <h5 class="font-yellow-gold pull-right">{{card.country_rank}}</h5>
                                            </div>
                                            <div class="clearfix" ng-repeat="competitor in competitors">
                                                <h5 class="pull-left">{{competitor.adser_name}}</h5>
                                                <h5 class="font-yellow-gold pull-right">{{competitor.country_rank}}</h5>
                                            </div>
                                        </rank-board>
                                    </div>

                                    <div class="col-md-4">
                                        <rank-board title="Category Rank">
                                            <div class="clearfix">
                                                <h5 class="pull-left">{{card.adser_name}}</h5>
                                                <h5 class="font-yellow-gold pull-right">{{card.category_rank}}</h5>
                                            </div>
                                            <div class="clearfix" ng-repeat="competitor in competitors">
                                                <h5 class="pull-left">{{competitor.adser_name}}</h5>
                                                <h5 class="font-yellow-gold pull-right">{{competitor.category_rank}}</h5>
                                            </div>
                                        </rank-board>
                                    </div>
-->
                                </div>
                                <!-- end rank-->
                                <div class="row" ng-hide="competitors.length >  0">
                                        <h4>Land Page(Total:{{card.landpage_num}})</h4>
                                        <table class="table table-hover linktable">
                                            <tr>
                                                <th>#</th>
                                                <th>Link</th>
                                            </tr>
                                            <tr ng-repeat="item in card.land_page">
                                                <td>{{$index + 1}} 
                                                    <label class="label label-success" ng-show="item.flag=='redirect'">R</label>
                                                    <label class="label label-primary" ng-show="item.flag=='facebook'">F</label>
                                                </td>
                                                <td><a ng-href="{{item.link}}">{{item.link}}</a></td>
                                            </tr>
                                        </table>
                                </div>

                                <div class="row" ng-hide="competitors.length > 0">
                                    <h4>Dest Site(Total:{{card.destsite_num}})</h4>
                                    <table class="table table-hover linktable">
                                        <tr>
                                            <th>#</th>
                                            <th>Link</th>
                                        </tr>
                                        <tr ng-repeat="item in card.dest_site">
                                            <td>{{$index + 1}}</td>
                                            <td><a ng-href="{{item}}">{{item}}</a></td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                            <!-- begin audience -->
                            <div id="audience" ng-hide="competitors.length > 0">
                                <h4 class="font-yellow-gold">Audience(Total:{{card.audience_all_num}})</h4>
                                <div>
                                    <table class="table table-hover" ng-if="card.audience_all">
                                        <tr>
                                            <th>#</th>
                                            <th>Audience</th>
                                        </tr>
                                        <tr ng-repeat="item in card.audience_all">
                                            <td>{{$index + 1}}</td>
                                            <td>{{item}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- end audience -->

                            <!-- begin curve-->
                            <div id="curve" class="clearfix">
                                <h4 class="font-yellow-gold">Curve</h4>
                                <div ng-hide="competitors.length > 0">
                                    <div class="col-md-offset-2 col-md-8" ng-if="card.mediaTypeConfig">
                                        <highchart id="mediaTypeChart" config="card.mediaTypeConfig"></highchart>
                                    </div>

                                    <div class="col-md-offset-2 col-md-8" ng-if="card.adLangConfig">
                                        <highchart id="mediaTypeChart" config="card.adLangConfig"></highchart>
                                    </div>
                                    <div class="col-md-offset-2 col-md-8" ng-if="card.showwayConfig">
                                        <highchart config="card.showwayConfig"></highchart>
                                    </div>

                                    <div class="col-md-offset-2 col-md-10" ng-if="card.likesTrendConfig">
                                        <highchart  config="card.likesTrendConfig"></highchart>
                                    </div>

                                    <div class="col-md-offset-2 col-md-10" ng-if="card.sharesTrendConfig">
                                        <highchart  config="card.sharesTrendConfig"></highchart>
                                    </div>

                                    <div class="col-md-offset-2 col-md-10" ng-if="card.viewsTrendConfig">
                                        <highchart  config="card.viewsTrendConfig"></highchart>
                                    </div>

                                    <div class="col-md-offset-2 col-md-10" ng-if="card.newAdsTrendConfig">
                                        <highchart  config="card.newAdsTrendConfig"></highchart>
                                    </div>
                                </div>
                                <div ng-show="competitors.length > 0">
                                    <div class="col-md-offset-2 col-md-8" ng-if="competitorsChart.mediaTypeOpt">
                                        <highchart id="mediaTypeChart" config="competitorsChart.mediaTypeOpt"></highchart>
                                    </div>
                                    <div class="col-md-offset-2 col-md-8" ng-if="competitorsChart.langOpt">
                                        <highchart id="mediaTypeChart" config="competitorsChart.langOpt"></highchart>
                                    </div>

                                    <div class="col-md-offset-2 col-md-8" ng-if="competitorsChart.showwayOpt">
                                        <highchart id="mediaTypeChart" config="competitorsChart.showwayOpt"></highchart>
                                    </div>
                                    <div class="col-md-offset-2 col-md-10" ng-if="competitorsChart.likesTrendOpt">
                                        <highchart  config="competitorsChart.likesTrendOpt"></highchart>
                                    </div>

                                    <div class="col-md-offset-2 col-md-10" ng-if="competitorsChart.sharesTrendOpt">
                                        <highchart  config="competitorsChart.sharesTrendOpt"></highchart>
                                    </div>

                                    <div class="col-md-offset-2 col-md-10" ng-if="competitorsChart.viewsTrendOpt">
                                        <highchart  config="competitorsChart.viewsTrendOpt"></highchart>
                                    </div>

                                    <div class="col-md-offset-2 col-md-10" ng-if="competitorsChart.newAdsTrendOpt">
                                        <highchart  config="competitorsChart.newAdsTrendOpt"></highchart>
                                    </div>
                                </div>
                            </div>
                            <!-- end curve-->
                            <!-- top list -->
                            <div id="tops" class="clearfix" ng-hide="competitors.length > 0">
                                <h4 class="font-yellow-gold">Tops</h4>

                                <!-- keyword cloud -->
                                <div id="keywords" class="clearfix" ng-hide="competitors.length > 0 || card.words.length == 0">
                                    <h5 class="font-yellow-gold text-center">Top Keywords</h5>
                                    <div>
                                        <jqcloud words="card.words" width="600" height="350"  steps="10"></jqcloud>
                                    </div>
                                </div>
                                <div class="row">
                                <div class="col-md-6">
                                    <h5 class="text-center">Top Duration</h5>
                                    <table class="table table-hover">
                                        <tr>
                                            <th>#</th>
                                            <th>id</th>
                                            <th>Duration</th>
                                            <th>See Date</th>
                                            <th>Type</th>
                                        </tr>
                                        <tr ng-repeat="item in card.top_duration"> 
                                            <td>{{$index+1}}</td>
                                            <td><button class="btn btn-link" ng-click="openAd(item.event_id)">{{item.event_id}}</button></td>
                                            <td>{{item.duration_days}}</td>
                                            <td>{{item.see_date}}</td>
                                            <td>{{item.type}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <h5 class="text-center">Top Engagements</h5>
                                    <table class="table table-hover">
                                        <tr>
                                            <th>#</th>
                                            <th>id</th>
                                            <th>Engagements</th>
                                            <th>See Date</th>
                                            <th>Type</th>
                                        </tr>
                                        <tr ng-repeat="item in card.top_engagements"> 
                                            <td>{{$index+1}}</td>
                                            <td><button class="btn btn-link" ng-click="openAd(item.event_id)">{{item.event_id}}</button></td>
                                            <td>{{item.engagements}}</td>
                                            <td>{{item.see_date}}</td>
                                            <td>{{item.type}}</td>
                                        </tr>
                                    </table>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-6">
                                    <h5 class="text-center">Top First See</h5>
                                    <table class="table table-hover">
                                        <tr>
                                            <th>#</th>
                                            <th>id</th>
                                            <th>First See</th>
                                            <th>See Date</th>
                                            <th>Type</th>
                                        </tr>
                                        <tr ng-repeat="item in card.top_first_see"> 
                                            <td>{{$index+1}}</td>
                                            <td><button class="btn btn-link" ng-click="openAd(item.event_id)">{{item.event_id}}</button></td>
                                            <td>{{item.first_see}}</td>
                                            <td>{{item.see_date}}</td>
                                            <td>{{item.type}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <h5 class="text-center">Top Last See</h5>
                                    <table class="table table-hover">
                                        <tr>
                                            <th>#</th>
                                            <th>id</th>
                                            <th>Last See</th>
                                            <th>See Date</th>
                                            <th>Type</th>
                                        </tr>
                                        <tr ng-repeat="item in card.top_last_see"> 
                                            <td>{{$index+1}}</td>
                                            <td><button class="btn btn-link" ng-click="openAd(item.event_id)">{{item.event_id}}</button></td>
                                            <td>{{item.last_see}}</td>
                                            <td>{{item.see_date}}</td>
                                            <td>{{item.type}}</td>
                                        </tr>
                                    </table>
                                </div>
                                </div>

                            </div>
                            <!-- end top list-->
                            <!-- begin related-->
                            <div id="related">

                            </div>
                            <!-- end related-->
                        </div>
                        <!-- END CONTENT-->
                    </div>
                </div>
            </div>
            <!-- END: ACCORDION DEMO-->
        </div>
    </div>
    <!-- end MAIN CONTENT-->
</div>
<!-- END MAIN CONTENT -->

<script type="text/ng-template" id="competitorSearch.html">
<div ng-controller="CompetitorSearcherController">
        <!-- BEGIN HEADER SEARCH BOX -->
        <p>
        <form class="search-form form-inline" ng-submit="search()">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" ng-model="searchOpt.text">
            </div>
            <button type="submit" class="btn btn-circle btn-icon-only btn-default" ng-disabled="searchOpt.inprogress">
                <i class="icon-magnifier"></i>
            </button>
        </form>
        </p>
        <div class="alert alert-warning" ng-if="searchOpt.error">{{searchOpt.error}}</div>
        <div class="list-group">
            <a ng-repeat="item in searchOpt.items" ng-click="notify(item)" class="list-group-item"> {{item.adser_name ? item.adser_name:item.adser_username}} </a>
        </div>
        <!-- END HEADER SEARCH BOX -->
</div>
</script>
