<!-- BEGIN PAGE BREADCRUMB -->
<div ng-controller="AdserController" class="ml-sidebar">
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a ui-sref="adsearch">ad search</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a  ui-sref="adser({adser:adser.username})"><span ng-bind-html="adser.username | toHtml"></span></a>
    </li>
</ul>

<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">

                <div class="alert alert-warning margin-top-10 xg-alert" ng-show="currSearchOption.isdirty">
                    <!-- <div> -->
                    <!--     <h4><a ng-click="clearSearch()">Clear Search</a></h4> -->
                    <!-- </div> -->
                    <div ng-if="currSearchOption.search.text">Search Text:{{currSearchOption.search.text}}</div>
                    <div ng-if="currSearchOption.filter.type">Media Type:{{currSearchOption.filter.type}}</div>
                    <div ng-if="currSearchOption.filter.date.startDate && currSearchOption.filter.date.endDate">Date:{{currSearchOption.filter.date.startDate.format("YYYY-MM-DD")}} ~ {{currSearchOption.filter.date.endDate.format("YYYY-MM-DD")}}</div>
                    <div ng-if="currSearchOption.filter.lang.length">Language:{{currSearchOption.filter.lang}}</div>
                    <div ng-if="currSearchOption.filter.state">Country:{{currSearchOption.filter.state}}</div>
                    <div ng-if="currSearchOption.domain.text">Domain:{{currSearchOption.domain.text}}({{currSearchOption.domain.exclude ? "Not Contain" : "Must Contain"}})</div>
                    <div ng-if="currSearchOption.audience.text">Audience:{{currSearchOption.audience.text}}({{currSearchOption.audience.exclude ? "Not Contain" : "Must Contain"}})</div>
                    <div ng-if="currSearchOption.category">Category:{{currSearchOption.category}}</div>
                    <div ng-if="currSearchOption.format">Format:{{currSearchOption.format}}</div>
                    <div ng-if="currSearchOption.callToAction">Call To Action:{{currSearchOption.callToAction}}</div>
                    <div ng-if="currSearchOption.range">Range:{{currSearchOption.range}}</div>
                    <div ng-if="currSearchOption.filter.isDurationDirty()">Duration Range:{{currSearchOption.filter.duration.from}}~{{currSearchOption.filter.duration.to}}</div>
                    <div ng-if="currSearchOption.filter.isSeeTimesDirty()">See Times Range:{{currSearchOption.filter.seeTimes.from}}~{{currSearchOption.filter.seeTimes.to}}</div>
                    <div ng-if="currSearchOption.filter.isEngagementsDirty()">Engagements Filters:
                        <div ng-if="currSearchOption.filter.engagements.likes.min || currSearchOption.filter.engagements.likes.max">Likes: {{currSearchOption.filter.engagements.likes.min}}~{{currSearchOption.filter.engagements.likes.max}}</div>
                        <div ng-if="currSearchOption.filter.engagements.shares.min || currSearchOption.filter.engagements.shares.max">Shares: {{currSearchOption.filter.engagements.shares.min}}~{{currSearchOption.filter.engagements.shares.max}}</div>
                        <div ng-if="currSearchOption.filter.engagements.comments.min || currSearchOption.filter.engagements.comments.max">Comments: {{currSearchOption.filter.engagements.comments.min}}~{{currSearchOption.filter.engagements.comments.max}}</div>
                        <div ng-if="currSearchOption.filter.engagements.views.min || currSearchOption.filter.engagements.views.max">Video Views: {{currSearchOption.filter.engagements.views.min}}~{{currSearchOption.filter.engagements.views.max}}</div>
                        <div ng-if="currSearchOption.filter.engagements.engagements.min || currSearchOption.filter.engagements.engagements.max">Engagements: {{currSearchOption.filter.engagements.engagements.min}}~{{currSearchOption.filter.engagements.engagements.max}}</div>
                    </div>
                </div>
        <!-- BEGIN: ACCORDION DEMO -->
        <div class="clearfix">
            <div class="pull-right">
                <form class="form-inline">
                    <div class="form-group">
                        <!-- <button class="btn yellow-gold btn-sm" ng-class="{'active':!adSearcher.params.sort.order}" ng-click="reverseSort()">Reverse</button> -->
                        <span class="xg-mr5">Sort By</span>
                        <select class="form-control bs-select"  data-width="150px" ng-model="adSearcher.params.sort.field"  ng-change="adSearcher.filter()">
                            <option policy-lock key="{{item.permission}}" trigger="lockButton" value="{{item.key}}" ng-repeat="item in settings.searchSetting.orderBy" ng-class='{"xg-order-border":item.last}'>
                                {{item.value}}
                            </option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="xg-count-mt">
                <span ng-if="adSearcher.ads.total_count!=0">About {{adSearcher.ads.total_count | adsCount}} results</span>
                <span ng-if="adSearcher.ads.total_count==0">Your search did not match any results.</span>
            </div>
        </div>
        <div infinite-scroll="adSearcher.checkAndGetMore()" infinite-scroll-distance="0" infinite-scroll-disabled="adSearcher.busy || adSearcher.isend">
            <div deckgrid source="adSearcher.ads.ads_info" class="deckgrid" cardTemplate="views/adsearch-card.html">
            </div>
            <div class="clearfix">
            </div>
			<div class="text-center" ng-show="adSearcher.busy">
				<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
				<span class="sr-only">Loading...</span>
			</div>
            <div ng-if="(User.info.user.role.name =='Free') && adSearcher.isend" ng-include="'adser-limited-banner.html'" ng-class='{"xg-limited-banner-mt6":adSearcher.isNoResult}'></div>
            <div ng-if="(User.info.user.role.name !='Free') && adSearcher.isNoResult" class="text-center col-md-12" >
                <hr style="border-top:1px solid #dbdee6">
                <div>
                   <img src="/assets/global/img/the_end.png">
                </div>
            </div>
        </div>
    </div>

</div>
<!-- END MAIN CONTENT -->

<!-- sidebar and sidebar controller -->
 <!-- <button type="button" class="quick-sidebar-toggler bg-yellow-gold" data-toggle="collapse"> -->
			<!-- <span class="sr-only">Toggle Filter Sidebar</span> -->
			<!-- <i class="icon-grid"></i> -->
 <!-- </button> -->

 <div data-ng-include="'tpl/quick-sidebar.html'" data-ng-controller="QuickSidebarController" class="page-quick-sidebar-wrapper"></div>
 <script type="text/ng-template" id="adser-limited-banner.html">
    <div class="dashboard-stat dashboard-stat-v2 col-md-12 xg-limited-banner">
        <div ng-if="adSearcher.ads.total_count!=0">
            <div class="text-center col-md-12">
                <p>There are <span ng-if="adSearcher.ads.total_count-10>0">{{adSearcher.ads.total_count-10 | adsCount}}</span> more ads results for "{{adser.username | toHtml}}" with Bigbigads Standard</p>
                <h4>Subscribe now to get full & complete access to the full database,plus all future ads</h4>
            </div>
            <div class="col-md-12">
                <div class="pull-left col-md-5">
                    <p class="plus">Plus:</p>
                    <ul>
                        <li>Set up a <strong>content alert for "{{adser.username | toHtml}}"</strong></li>
                        <li>Export data to Excel</li>
                        <li>Get extra search filters</li>
                        <li>Run Content Analysis Reports</li>
                        <li>and lots more!</li>
                    </ul>
                </div>
                <div class="col-md-2"></div>
                <div class="text-center col-md-5 xg-buybut-mt60">
                    <a ng-href="/login" class="btn btn-lg xg-subscribe-color" ng-if="!User.info.login">Try Bigbigads Standard</a>
                    <a ui-sref="plans" class="btn btn-lg xg-subscribe-color" ng-if="User.info.login">Try Bigbigads Standard</a>
                </div>
            </div>
            <div class="col-md-12 text-center xg-subscribe">
                <a href="/product">Learn more about Bigbigads Standard</a>
            </div>
        </div>
        <div ng-if="adSearcher.ads.total_count==0">
            <div class="col-md-12">
                <div class="pull-left col-md-5">
                    <p class="plus">Don&apos;t feel lucky? Here are our suggestions:</p>
                    <ul>
                        <li>Make sure all words are spelled correctly</li>
                        <li>Make sure you clear the filter when you start a new search</li>
                        <li>Try a different keyword - for example： shoe and shoes are different.</li>
                        <li>Try fewer keywords.</li>
                        <li>Check here for more tips.</li>
                        <li> Learn more about Bigbigads.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 text-center xg-subscribe">
                <a href="/product">Learn more about Bigbigads</a>
            </div>
        </div>
    </div>
</script>
