<div class="a-card fade-in-up">
    <div class="portlet light aditem">
        <div class="portlet-title">
            <span class="font-yellow-gold ">ads_id:{{card.event_id}}</span><br/>
            <i class="fa fa-calendar font-yellow-gold fa-fw"></i><span>{{card.first_see}}~{{card.last_see}}</span>
            <i class="fa fa-clock-o font-yellow-gold fa-fw"></i><span>{{card.duration_days}}</span>
            <i class="fa fa-eye font-yellow-gold  fa-fw"></i><span>{{card.see_date}}</span>
            <p/>
            <div>
                <i class="fa fa-share-alt fa-3x font-yellow-gold"  ng-show="mother.adSearcher.getAdsType(card, mother.adSearcher.ADS_TYPE.timeline)"></i>
                <i class="fa fa-columns fa-3x font-yellow-gold"  ng-show="mother.adSearcher.getAdsType(card, mother.adSearcher.ADS_TYPE.rightcolumn)"></i>
                <i class="fa fa-mobile font-yellow-gold  fa-3x" ng-show="mother.adSearcher.getAdsType(card, mother.adSearcher.ADS_TYPE.mobile)"></i>
            </div>
        </div>

        <!-- avatar and adser info -->
        <div class="aditem-ader row margin-bottom-10">
            <div class="col-md-2 text-center ">
                <img src="{{mother.settings.imgRemoteBase + card.local_photo}}" alt="" class="rounded">
            </div>
            <div class="col-md-10">
                <div class="margin-bottom-5"><span ng-bind-html="card.adser_name | toHtml"></span></div>
                <div class="pull-left">
                Sponsored
                </div>
                <div class="pull-right">
                    <a href="https://www.facebook.com/{{card.adser_username}}" class="label label-sm label-success " ng-hide="empty(card.likepage)"> <i class="fa fa-thumbs-up blue"></i>Like Page</a>
                </div>
            </div>
        </div>
        <!-- end avatar and adser info -->
        <!-- begin ad description -->
        <div class="aditem-desc">
            <div>{{card.message}}</div>
            <div ng-if="card.type == 'SingleImage'">
                <div class="text-center">
                    <img ng-src="{{mother.settings.imgRemoteBase + card.watermark}}" alt="">
                </div>
                <div>
                    <span>{{card.name}}</span>
                    <!-- <a href="#" class="label label-sm label-default">Learn more</a> -->
                </div>
                <div>
                    {{card.description}}
                </div>
            </div>
            <div ng-if="card.type == 'Carousel'" class="clearfix" style="height:300px">
                <uib-carousel active="card.active" no-wrap="true"  >
                    <uib-slide ng-repeat="slide in card.watermark track by $index" index="$index">
                        <div class="text-center">
                            <img ng-src="{{mother.settings.imgRemoteBase + slide.source}}" alt="">
                        </div>
                        <div class="carousel-caption">
                        </div>
                    </uib-slide>
                </uib-carousel>
            </div>
            <!-- Begin Canvas -->
            <div ng-if="card.type == 'Canvas'">
                <h2>Canvas</h2>
            </div>
            <!-- End Canvas -->
            <!-- Begin SingleVideo -->
            <div ng-if="card.type == 'SingleVideo'">
                <h2>SingleVideo</h2>
            </div>
            <!-- End SingleVideo -->
            <div class="aditem-caption margin-top-10" ng-hide="empty(card.caption)">
                <label class="label label-sm label-warning">{{card.caption}}</label>
            </div>
        </div>
        <!-- end description -->
        <hr>
        <div class="aditem-footer">
            <i class="fa fa-link fa-fw"></i>
            <a href="#">www.baidu.com</a>
            <i class="fa fa-comment fa-fw"></i>
            <span>{{card.comments}}</span>
            <i class="fa fa-heart fa-fw"></i>
            <span>{{card.likes}}</span>
            <i class="fa fa-share-alt fa-fw"></i>
            <span>{{card.shares}}</span>
        </div>
    </div>
</div>
