<div ng-controller="BookmarkController">
    <!-- BEGIN MAIN CONTENT -->
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" ng-if="bookmark.error">
                You have not authroized!
            </div>
            <div ng-if="!bookmark.error">
                <uib-tabset active="bookmark.type">
                    <uib-tab index="0" heading="Ads">
                        <div class="alert alert-info" ng-if="!ads.ads_info">
                            No ads yet!
                        </div>
                        <div deckgrid source="ads.ads_info" class="deckgrid" cardTemplate="views/adsearch-card.html">
                        </div>

                        <div class="clearfix"></div>
                    </uib-tab>
                    <uib-tab index="1" heading="Advertisers"> 
                        <div class="alert alert-info" ng-if="!adsers.adser">
                            No advertisers yet!
                        </div>
                        <div deckgrid source="adsers.adser" class="deckgrid" cardTemplate="views/adser-search-card.html">
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->


    <button type="button" class="btn-circle quick-sidebar-toggler" data-toggle="collapse" ng-show="!bookmark.error">
    <span class="sr-only">Toggle Filter Sidebar</span>
    <i class="icon-grid"></i>
</button>


    <div class="page-quick-sidebar-wrapper">
        <div class="page-quick-sidebar">
            <div class="portlet light">
                <div class="portlet-title">
                    <a href="javascript:;" class="filterbar-toggler">
                        <i class="icon-logout font-yellow-gold"></i>
                    </a>
                </div>
                <div class="portlet-body">
                    <p>
                        <button class="btn btn-block yellow-gold" ng-click="bookmark.addBookmark()">
                        <i class="fa fa-plus"></i>
                        Create New List
                        </button>
                    </p>
                    <div class="list-group">
                        <button type="button" ng-repeat="item in bookmark.items" class="list-group-item clearfix filterbar-toggler " ng-class='{"active":item.id==bookmark.bid}' ng-click="load(bookmark.type, item.id)">
                            <div class="pull-left ">{{item.name}}</div>
                            <div class="pull-right">
                                <a ng-click="bookmark.addBookmark(item)" class=""><i class="fa fa-pencil fa-fw text-success"></i></a> 
                                <a ng-click="bookmark.delBookmark(item)"><i class="fa fa-trash fa-fw text-danger"></i></a>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

