
<div ng-controller="BookmarkAddController" ng-init="card=$parent.card" cg-busy="queryPromise">
    <div ng-show="bookmark.items.length == 0">No Bookmark Yet!</div>
    <form ng-submit="add(card)">
    <ul class="nav nav-pills nav-stacked">
        <li ng-repeat="item in bookmark.items" >
            <div class="form-group">
                <label class="mt-checkbox mt-checkbox-outline"> {{item.name}}
                    <input type="checkbox" ng-model="select[$index]">
                    <span></span>
                </label>
            </div>
        </li>
    </ul>
    <button type="submit" class="btn btn-block yellow-gold" cg-busy="addPromise" ng-show="bookmark.items.length > 0">
    <i class="fa fa-plus fa-fw"></i>
    Add
    </button>
    </form>
    <button type="button" class="btn btn-block btn-default" >Create Catalog</button>
</div>
