<div ng-controller="BookmarkController" ng-class='{"ml-sidebar":!bookmark.error}'>

<!-- BEGIN PAGE BREADCRUMB -->
<div>
    <div class="pull-right" ng-show="bookmark.bid > 0">
        <a ng-click="bookmark.editBookmarkByBid(bookmark.bid)" class="btn btn-primary"><i class="fa fa-pencil fa-fw"></i></a> 
        <a ng-click="bookmark.delBookmarkByBid(bookmark.bid)" class="btn btn-danger"><i class="fa fa-trash fa-fw"></i></a>
    </div>
<ul class="page-breadcrumb breadcrumb">
    <li>
        Bookmark
        <i class="fa fa-circle"></i>
    </li>
    <li>
        {{bookmark.currItem.name}}       
    </li>
</ul>
</div>
<!-- END PAGE BREADCRUMB -->
    <!-- BEGIN MAIN CONTENT -->
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" ng-if="bookmark.error">
                You have not authroized!
            </div>
            <div ng-if="!bookmark.error">
                <uib-tabset active="bookmark.type">
                    <uib-tab index="0" heading="Ads">
                        <div class="alert alert-info" ng-if="!data.ads.ads_info">
                            No ads yet!
                        </div>
                        <div class="alert alert-warning" ng-if="data.ads.ads_info && data.ads.total_count != data.ads.wantedLength">
                            {{data.ads.wantedLength}} ads is wanted, but only find {{data.ads.total_count}}
                        </div>
                        <div deckgrid source="data.ads.ads_info" class="deckgrid" cardTemplate="views/adsearch-card.html">
                        </div>

                        <div class="clearfix"></div>
                    </uib-tab>
                    <uib-tab index="1" heading="Advertisers"> 
                        <div class="alert alert-info" ng-if="!data.adsers.adser" >
                            Please Upgrade Your Account!
                        </div>
                        <div class="alert alert-warning" ng-if="data.adsers.adser && data.adsers.total_adser_count != data.adsers.wantedLength">
                            {{data.adsers.wantedLength}} adsers is wanted, but only find {{data.adsers.total_adser_count}}
                        </div>
                        <div deckgrid source="data.adsers.adser" class="deckgrid" cardTemplate="views/adser-search-card.html">
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->


    <!-- <button type="button" class="bg-yellow-gold quick-sidebar-toggler" data-toggle="collapse" ng-show="!bookmark.error"> -->
    <!-- <span class="sr-only">Toggle Filter Sidebar</span> -->
    <!-- <i class="icon-grid"></i> -->
<!-- </button> -->


    <div class="page-quick-sidebar-wrapper" ng-if="!bookmark.error">
        <div class="page-quick-sidebar">
            <div class="portlet light">
                <div class="portlet-body">
                    <p>
                        <button class="btn btn-block yellow-gold" ng-click="bookmark.addBookmark()">
                        <i class="fa fa-plus"></i>
                        Create New List
                        </button>
                        <div class="text-center">
                            ({{bookmark.items.length + "/" + User.getPolicy("bookmark_list").value}})
                        </div>
                    </p>
                    <div class="list-group">
                        <button type="button" ng-repeat="item in bookmark.items" class="list-group-item clearfix" ng-class='{"active":item.id==bookmark.bid}' ng-click="load(bookmark.type, item.id)">
                            <div class="pull-left ">{{item.name}}</div>
                            <div class="pull-right">
                                <span class="badge">{{item.item_count}}</span>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

