<!-- BEGIN MAIN CONTENT -->
<div class="row" ng-controller="PlansController">
    <div class="col-md-12">
        <!-- BEGIN: ACCORDION DEMO -->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Plans</span>
                    <span class="caption-helper hide"></span>
                </div>
            </div>
            <div class="portlet-body" cg-busy="queryPromise"> 
            <div class="clearfix">
                <p>
                <input type="checkbox" bs-switch switch-on-text="&nbsp;Annually&nbsp;" switch-off-text="&nbsp;Monthly&nbsp;" ng-model="plans.annually">
                </p>
                <div class="row bg-default">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-2" ng-repeat="item in plans.items">
                        <p>
                        <h3 class="text-center">{{item.name}}</h3>
                        
                        <h4 class="text-center">
                            <span ng-if="!item.plans">
                                0
                            </span>
                            <span ng-if="item.plans && !plans.annually">
                                ${{item.plans.monthly.amount}} / Month
                            </span>
                            <span ng-if="item.plans && plans.annually">
                                ${{item.plans.annually.amount/12 | number:0}} / Month
                            </span>
                        </h4>
                        <div>
                        <a class="btn btn-block btn-primary" ng-class="{disabled:!userInfo || !userInfo.login || (item.name =='Advanced') || (item.name =='Pro')}"  ng-click="plans.goPlanID(item, plans.annually)" target="_blank" ng-show="userInfo.login&&!plans.isCurrentPlan(item)" >
                            <span ng-if="(item.name =='Free') || (item.name =='Standard')">Select</span>
                            <span ng-if="(item.name =='Advanced') || (item.name =='Pro')">Coming Soon</span>
                        </a>
                        <a class="btn btn-block btn-primary" ng-href="/login" ng-show="!userInfo.login&&!plans.isCurrentPlan(item)" ng-class="{disabled:(item.name =='Advanced') || (item.name =='Pro')}">
                            <span ng-if="(item.name =='Free') || (item.name =='Standard')">Select</span>
                            <span ng-if="(item.name =='Advanced') || (item.name =='Pro')">Coming Soon</span>
                        </a>

                            <a  class="btn btn-block btn-default disabled" ng-show="plans.isCurrentPlan(item)">Current</a>
                            
                        </div>
                        </p>
                    </div>
                </div>
                <!-- <div class="row" ng-repeat-start="(key, group) in groupPermissions">
                    <div class="col-xs-2 bg-default"> 
                        <h4 class="bold">{{key}}</h4>
                    </div>
                </div> -->
                <!-- <div ng-repeat="permission in group" class="row">
                    <div class="col-xs-2 bg-default">{{permission.key}}</div>
                    <div class="col-xs-2" ng-repeat="item in plans.items">
                        <span policy-formatter value="plans.getPolicy(item, permission.key, key)" data-format="%used / %value"></span>
                    </div>
                </div> -->
                <!-- <div ng-repeat-end ng-if="false">
                </div>
                <div class="row">
                    <div class="col-xs-2 bg-default">&nbsp;</div>
                </div> -->
                <section class="pricing-table clearfix">
                    <div class="">
                        <div class="clearfix radius tabel-div">
                            <table class="table">
                            <tbody class="table-head text-center">
                                <tr class="table-title">
                                    <td style="width:16%"></td>
                                    <td style="width:17.3%" class="td1"></td>
                                    <td style="width:17.3%" class="td2"></td>
                                    <td style="width:16.3%" class="td3"></td>
                                    <td style="width:17.8%" class="td4"></td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tr class="text-center text-content2">
                                    <td class="pricingitme-name">Daily Request Limits</td>
                                    <td><i class=""></i><span class="pricing-field">50</span></td>
                                    <td><i class=""></i><span class="pricing-field">1000</span></td>
                                    <td><i class=""></i><span class="pricing-field">3000</span></td>
                                    <td><i class=""></i><span class="pricing-field">5000</span></td>
                                    <td></td>
                            </tr>
                            <tr class="text-center text-content2">
                                    <td class="pricingitme-name">Millions of Ad Creative</td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td></td>
                            </tr>
                            <tr class="text-center text-content2">
                                    <td class="pricingitme-name">Update Frequency</td>
                                    <td><i class=""></i><span class="pricing-field">Weekly</span></td>
                                    <td><i class=""></i><span class="pricing-field">Weekly</span></td>
                                    <td><i class=""></i><span class="pricing-field">Daily</span></td>
                                    <td><i class=""></i><span class="pricing-field">Daily</span></td>
                                    <td></td>
                            </tr>     
                            <tbody class="table-content">
                                <tr class="text-center text-content2">
                                    <td class="pricingitme-name">Ad Position Filter</td>
                                    <td><i class=""></i></td>
                                    <td><i class=""></i></td>
                                    <td><i class=""></i></td>
                                    <td><i class=""></i></td>
                                    <td></td>
                                </tr>  
                                <tr class="text-center">
                                    <td class="pricingitme-name">Right Column Ad</td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td></td>
                                </tr>
                                <tr class="text-center">
                                    <td class="pricingitme-name">News Feed Ad</td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td></td>
                                </tr>
                                <tr class="text-center">
                                    <td class="pricingitme-name">Mobile Ad</td>
                                    <td><i class="error"></i></td>
                                    <td><i class="error"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td></td>
                                </tr>
                            </tbody>
                            
                            <!--Search Mode-->
                            <tbody class="table-content">
                                <tr class="text-center text-content2">
                                    <td class="pricingitme-name">Search Mode</td>
                                    <td><i class=""></i></td>
                                    <td><i class=""></i></td>
                                    <td><i class=""></i></td>
                                    <td><i class=""></i></td>
                                    <td></td>
                                </tr> 
                                <tr class="text-center">
                                    <td class="pricingitme-name">Search Advertiser</td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td></td>
                                </tr>
                                <tr class="text-center">
                                    <td class="pricingitme-name">Search URL</td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td></td>
                                </tr>
                                <tr class="text-center">
                                    <td class="pricingitme-name">Search Advertisement</td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td></td>
                                </tr>
                                <tr class="text-center">
                                    <td class="pricingitme-name">Search Audience</td>
                                    <td><i class="error"></i></td>
                                    <td><i class="error"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <!--Time filter-->
                            <tbody class="table-content">
                                <tr class="text-center text-content2">
                                    <td class="pricingitme-name">Time filter</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="text-center">
                                    <td class="pricingitme-name">Time Filter</td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td></td>
                                </tr>
                                <tr class="text-center">
                                    <td class="pricingitme-name">Custom Time Filter</td>
                                    <td><i class="error"></i></td>
                                    <td><i class="error"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td></td>
                                </tr>
                            </tbody>

                            <!--ad type filter-->
                            <tbody class="table-content">
                                <tr class="text-center text-content2">
                                    <td class="pricingitme-name">Ad Type Filter</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="text-center">
                                    <td class="pricingitme-name">Single Image</td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td></td>
                                </tr>
                                <tr class="text-center">
                                    <td class="pricingitme-name">Video</td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td></td>
                                </tr>
                                <tr class="text-center">
                                    <td class="pricingitme-name">Canvas</td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td></td>
                                </tr>
                                <tr class="text-center">
                                    <td class="pricingitme-name">Carousel</td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td></td>
                                </tr>
                            </tbody>
                            
                            <!--call to action-->
                            <tr class="text-center text-content2">
                                    <td class="pricingitme-name">Call To Action Filter</td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td></td>
                            </tr>
                            <tr class="text-center text-content2">
                                    <td class="pricingitme-name">Country Filter</td>
                                    <td><i class="error"></i></td>
                                    <td><i class="error"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td></td>
                            </tr>
                            <tr class="text-center text-content2">
                                    <td class="pricingitme-name">Language Filter</td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td></td>
                            </tr> 

                            <!--advanced filter-->
                            <tbody class="table-content">
                                <tr class="text-center text-content2">
                                    <td class="pricingitme-name">Advanced Filter</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="text-center">
                                    <td class="pricingitme-name">Customized Ad Duration</td>
                                    <td><i class="error"></i></td>
                                    <td><i class="error"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td></td>
                                </tr>
                                <tr class="text-center">
                                    <td class="pricingitme-name">Customized Ad See Times</td>
                                    <td><i class="error"></i></td>
                                    <td><i class="error"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td></td>
                                </tr>
                                <tr class="text-center">
                                    <td class="pricingitme-name">Customized Ad Engagement</td>
                                    <td><i class="error"></i></td>
                                    <td><i class="error"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td></td>
                                </tr>
                            </tbody> 

                            <!--compositor-->
                            <tbody class="table-content">
                                <tr class="text-center text-content2">
                                    <td class="pricingitme-name">Compositor(Sort by)</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="text-center">
                                    <td class="pricingitme-name">Last Seen/Video Views/Shares/Likes/Comments</td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td></td>
                                </tr>
                                <tr class="text-center">
                                    <td class="pricingitme-name">Engagement Growth</td>
                                    <td><i class="error"></i></td>
                                    <td><i class="error"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td></td>
                                </tr>
                            </tbody> 

                            <!--ad insight-->
                            <tbody class="table-content">
                                <tr class="text-center2 text-content2">
                                    <td class="pricingitme-name">AD insight</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="text-center">
                                    <td class="pricingitme-name">Overview</td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td></td>
                                </tr>
                                <tr class="text-center">
                                    <td class="pricingitme-name">Landing Page</td>
                                    <td><i class="error"></i></td>
                                    <td><i class="error"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td></td>
                                </tr>
                                <tr class="text-center">
                                    <td class="pricingitme-name">Audience</td>
                                    <td><i class="error"></i></td>
                                    <td><i class="error"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td></td>
                                </tr>
                                <tr class="text-center">
                                    <td class="pricingitme-name">Similar Ads</td>
                                    <td><i class="error"></i></td>
                                    <td><i class="error"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td></td>
                                </tr>
                                <tr class="text-center">
                                    <td class="pricingitme-name">Engagement Trends</td>
                                    <td><i class="error"></i></td>
                                    <td><i class="error"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td></td>
                                </tr>
                            </tbody> 

                            <!--keyword analysis-->
                            <tr class="text-center text-content2">
                                    <td class="pricingitme-name">Keyword Analysis</td>
                                    <td><i class="error"></i></td>
                                    <td><i class="error"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td></td>
                            </tr>

                            <!--advertiser-->
                            <tbody class="table-content">
                                <tr class="text-center text-content2">
                                    <td class="pricingitme-name">Advertiser </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="text-center">
                                    <td class="pricingitme-name">Advertiser Search</td>
                                    <td><i class="error"></i></td>
                                    <td><i class="error"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td></td>
                                </tr>
                                <tr class="text-center">
                                    <td class="pricingitme-name">Advertiser Analysis</td>
                                    <td><i class="error"></i></td>
                                    <td><i class="error"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td></td>
                                </tr>
                            </tbody>

                            <!--bookmark-->
                            <tbody class="table-content">
                                <tr class="text-center text-content2">
                                    <td class="pricingitme-name">Bookmark</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="text-center">
                                    <td class="pricingitme-name">Advertisement Bookmark</td>
                                    <td><i class=""></i><span class="pricing-field">Limited(1folder/30ads total)</span></td>
                                    <td><i class=""></i><span class="pricing-field">Limited(1folder/30ads total)</span></td>
                                    <td><i class=""></i><span class="pricing-field">Limited(5folder/150ads total)</span></td>
                                    <td><i class=""></i><span class="pricing-field">10 folder/500ads total</span></td>
                                    <td></td>
                                </tr> 
                                <tr class="text-center">
                                    <td class="pricingitme-name">Advertiser Bookmark</td>
                                    <td><i class="error"></i></td>
                                    <td><i class="error"></i></td>
                                    <td><i class="error"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td></td>
                                </tr>
                            </tbody>

                            <!--billboard-->
                            <tr class="text-center text-content2">
                                    <td class="pricingitme-name">Billboard</td>
                                    <td><i class="error"></i></td>
                                    <td><i class="error"></i></td>
                                    <td><i class="error"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td></td>
                            </tr>
                            <tr class="text-center text-content2">
                                    <td class="pricingitme-name">Monitor</td>
                                    <td><i class="error"></i></td>
                                    <td><i class="error"></i></td>
                                    <td><i class="error"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td></td>
                            </tr>
                            <tr class="text-center text-content2">
                                    <td class="pricingitme-name">Export</td>
                                    <td><i class="error"></i></td>
                                    <td><i class="error"></i></td>
                                    <td><i class="error"></i></td>
                                    <td><i class="glyphicon glyphicon-ok right"></i></td>
                                    <td></td>
                            </tr>
                        </table>
                    </div>      
                    </div>
                </section>
            </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
