<div ng-controller="RankingController">
    <!-- BEGIN MAIN CONTENT -->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN: ACCORDION DEMO -->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-yellow-gold">
                        <i class="icon-badge font-green-sharp"></i>
                        <span class="caption-subject bold"> Ranking</span>
                        <span class="caption-helper hide"></span>
                    </div>
                </div>
                <div class="portlet-body">
                   
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
