<div class="capacity-div dashboard-stat dashboard-stat-v2 xg-upgrade-banner" >
	<div class="xg-upgrade-banner-head text-center" >
		<img src="../assets/global/img/logo2.png">
	</div>
	<div class="text-center xg-upgrade-banner-body">
        <div class="row">
			<div class="col-md-6 border-left">
				<div uib-carousel active="0" interval="2500" no-wrap="false" no-transition="false" class="img-adscard">
      				<div uib-slide ng-repeat="slide in slides track by $index" index="$index">
        				<img ng-src="/static/images/show/{{slide.image}}" style="margin:auto;">
  					</div>
    			</div>
				<!-- <img src="/static/images/show/adscard_01.jpg" > -->

			</div>
			<div class="col-md-6" ng-include="'tpl/register.html'">
	         
			</div>
		</div>
    </div>
    <div class="xg-upgrade-banner-foot"><p class="text-center">&copy;2017&nbsp;&nbsp;BIGBIGADS.COM</p></div>
</div>