<div class="dashboard-stat dashboard-stat-v2 xg-upgrade-banner">
	<div class="xg-upgrade-banner-head" >
		<h3 class="text-center">
			<strong>Oops, you might need to upgrade your account.</strong>
		</h3>
	</div>
	<div class="text-center xg-upgrade-banner-body">
		<h5>You need to subscribe a plan to get access to your operation or request limit.</h5>
		<br><br>
        <a ui-sref="plans" class="btn btn-lg xg-subscribe-color" >Yes, I'd like to subscribe</a>
        <br><br>
        <h5>Already registered? Login here<a ng-href="/login">Login here.</a></h5>
    </div>
    <br><br>
    <div class="xg-upgrade-banner-foot"></div>
</div>