<!-- BEGIN PAGE CONTENT-->
<div ng-controller="ProfileController">
    <div class="portlet light bordered">
        <div class="portlet-body" cg-busy="userPromise"> 
            <div class="alert alert-danger" ng-if="!userInfo.login">
                Please Login First!
            </div>
            <uib-tabset active="profile.active" ng-if="userInfo.login">
                <uib-tab index="0" heading="Subscription Plan">
                    <div ng-controller="SubscriptionController">
                        <h3>Your Plan</h3>
                        <div>
                            <p>
                                You are currently on <span class="text-warning">{{subscription.braintree_plan.replace('_', ' ')}}</span> Plan
                            </p>
                            <p>
                            <a class="btn btn-primary" ui-sref="plans">Change Plan</a>
                            </p>
                        </div>
                        <!-- begin permssions & policies -->
                        <div id="permissions" class="container permissions margin-bottom-10">
                            <div class="row" ng-repeat-start="(key, group) in userInfo.groupPermissions">
                                <div class="col-xs-12"> 
                                    <h4 class="bold">{{key}}</h4>
                                </div>
                            </div>
                            <div ng-repeat="permission in group" class="row">
                                <div class="col-xs-2" >{{permission.key}}</div>
                                <div class="col-xs-4">

                                    <span policy-formatter value="User.getPolicy(permission.key)" key="{{permission.key}}" mode="usage"></span>
                                    <!-- {{User.getPolicy(permission.key)}} -->
                                </div>
                            </div>
                            <div ng-repeat-end ng-if="false">
                            </div>
                        </div>
                        <!-- end permissions & policies -->
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Billings">
                    <div ng-controller="BillingsController">
                    <table class="table table-striped " cg-busy="queryPromise">
                        <tr class="bg-default table-bordered">
                            <th>ID</th>
                            <th>Type</th>
                            <th>Start Date</th>
                            <th>Expire Date</th>
                            <th>Price</th>
                            <th>Status</th>
                            <th>Operation</th>
                        </tr>
                        <tr ng-repeat="item in billings.items">
                            <td>{{item.id}}</td>
                            <td>{{item.planId}}</td>
                            <td>{{beatifyDate(item.billingPeriodStartDate.date)}}</td>
                            <td>{{beatifyDate(item.billingPeriodEndDate.date)}}</td>
                            <td>${{item.price}}</td>
                            <td>{{item.status}}</td>
                            <td>
                                <a class="btn btn-default" ng-href="/invoice/{{item.invoice}}">Invoice</a>
                            </td>
                        </tr>
                    </table>
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="Account Settings">
                    <div class="portlet">
                    <div class="portlet-title">
                        <h3> Account Settings <i class="icon-pencil"></i></h3>
                    </div>
                    <div class="porlet-body">
                        <div class="row">
                            <div class="col-xs-3">
                                Member Email
                            </div>
                            <div class="col-xs-4">
                                {{user.email}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">Member Name</div>
                            <div class="col-xs-4">{{user.name}}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">Member since</div>
                            <div class="col-xs-4">{{user.created_at}}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">Password</div>
                            <div class="col-xs-4">
                                <button class="btn btn-primary" ng-click="changePwd()">Change</button>
                            </div>
                        </div>
                    </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
