<!-- BEGIN PAGE CONTENT-->
<div ng-controller="ProfileController">
    <div class="portlet light bordered">
        <div class="portlet-body"> 
            <div class="alert alert-danger" ng-if="!userInfo.login">
                Please Login First!
            </div>
            <uib-tabset active="profile.active" ng-if="userInfo.login">
                <uib-tab index="0" heading="Subscription Plan">
                    <div ng-controller="SubscriptionController">
                        <h4>Your Plan</h4>
                        <div>
                            <p>
                                You are currently on <span class="text-warning">{{subscription.braintree_plan.replace('_', ' ')}}</span> Plan
                            </p>
                            <p>
                            <a class="btn btn-primary" ui-sref="plans">Change Plan</a>
                            </p>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Billings">
                    <div ng-controller="BillingsController">
                    <table class="table table-striped " cg-busy="queryPromise">
                        <tr class="bg-default table-bordered">
                            <th>ID</th>
                            <th>Type</th>
                            <th>Start Date</th>
                            <th>Expire Date</th>
                            <th>Price</th>
                            <th>Status</th>
                            <th>Operation</th>
                        </tr>
                        <tr ng-repeat="item in billings.items">
                            <td>{{item.id}}</td>
                            <td>{{item.planId}}</td>
                            <td>{{item.billingPeriodStartDate.date | date:'yyyy-MM-dd'}}</td>
                            <td>{{item.billingPeriodEndDate.date | date:'yyyy-MM-dd'}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.status}}</td>
                            <td>
                                <a class="btn btn-default" ng-href="/invoice/{{item.invoice}}">Invoice</a>
                            </td>
                        </tr>
                    </table>
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="Account Settings">
                    <div ng-include="views/profile/account.html"></div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
