$main-color:                                                            #f2784b;
// Header
$header-height:             				            				75px  !default; // header height on table and desktop view. default: 42px
$header-height-xs:             											($header-height * 2) !default; // header height on mobile view
$page-header-top-height:												75px;
