<div class="container" id="owner-search">
    <!-- BEGIN MAIN CONTENT -->
    <div class="row">
        <!-- BEGIN: ACCORDION DEMO -->
        <div class="mb10">
            <div class="adser-search clearfix">
                <!-- BEGIN HEADER SEARCH BOX -->
                <form class="search-form" ng-submit="search()">
                    <div class="col-xs-12 col-md-6 col-md-offset-3">
                        <div class="adser-search-wrapper">
                            <input type="text" class="form-control" placeholder="Enter a keyword,url or Advertiser" ng-model="searchWord">
                            <button type="submit" class="fa fa-search ads-font-24  adser-search-btn" policy-lock key="adser_search" trigger="lockButton">
                            </button>
                        </div>
                    </div>
                </form>
                <!-- END HEADER SEARCH BOX -->
            </div>
            <hr style="border-top:1px solid #dbdee6">

            <div class="alert alert-warning" ng-if="searchText">
                <div>Search Text:{{searchText}}</div>
            </div>
            
        </div>

        <div class="search-result">
            <span>About <span class="font-yellow-gold">{{adSearcher.ads.total_adser_count | adsCount}}</span> results(Total <span class="font-yellow-gold">{{adSearcher.ads.total_ads_count | adsCount}}</span> ads)</span>
        </div>
        <!-- ture 禁用；false 不禁用-->
        <div infinite-scroll="getMore()" class="clearfix" infinite-scroll-distance="0" infinite-scroll-disabled="searchBusy || getMoreBusy || isEnd">
            <!-- <div deckgrid source="adSearcher.ads.adser_info" class="deckgrid clearfix" cardTemplateString="<adser-search-card />">
            </div> -->

            <div deckgrid source="ownerCardData" class="deckgrid clearfix" cardTemplateString="<adser-search-card />">
            </div>
            <div class="clearfix">
            </div>


            <div class="text-center " ng-if="getMoreBusy">
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            </div>
            <div class="text-center owber-search-loding" ng-if="searchBusy">
               <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            </div>
            <div class="text-center" ng-if="isEnd">
                <img src="/assets/global/img/the_end.png">
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->