// 引用在线字体
@import url('//fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900');
#methodology{
	 font-family: 'Raleway', 'Microsoft YaHei', '\5FAE\8F6F\96C5\9ED1', "Helvetica Neue", Helvetica, Arial, sans-serif;
	.meth-title{
		margin-top: 60px;
		color: #eb6130;
	}
	.meth-content{
		margin-top: 30px;
	}
	.meth-list{
		margin-top: 30px;
		ul{
			li{
				line-height: 30px;
			}
		}
	}
	.meth-bottom{
		margin-top: 30px;
		margin-bottom: 80px;
	}
}