/*基本样式*/
@import 'base';

html {
    font-size: calc(100vw / 10)
}

body {
    font-size: 16px !important;
}

.ads-underline {
    height: 1px;
    width: 100%;
    border-bottom: 1px solid #eee;
}


/*通用橘色按钮*/

.reg-sub-btn {
    width: 100%;
    background: #eb6130;
    background: linear-gradient(to bottom, #eb6130, #FF9800);
    color: #fff;
    padding: px(14);
    font-weight: 600;
    font-size: px(18);
    margin: px(20) 0;
    small {
        font-weight: 100;
        font-size: px(14);
        padding-left: px(4);
    }
    &:active {
        background: linear-gradient(to bottom, #b94a23, #FF9800);
    }
}

.btn:active,
.btn:focus,
.btn:hover,
.btn:visited {
    color: #fff !important;
}


#mobile {
    background: #f2f2f2;
    color: #323232;
    /*居中*/
    .ads-center {
        display: block;
        margin: 0 auto;
    }
    .header {
        width: 100%;
        padding: px(15);
        background: #fff;
        .header-login-button {
            display: block;
            margin-top: px(8);
            padding: px(4) px(15);
            border-radius: px(14);
            border: 1px solid #eb6130;
            color: #eb6130;
            font-weight: 200;
        }
        .ads-logo-png {
            height: px(40);
        }
    }
    .content {
        font-size: px(16);
        .introduce-div {
            background: url('/dist/images/mobile/bg_02.png') repeat;
            padding: px(15);
            .change-word-wrapper {
                height: px(160);
                display: flex;
                align-items: center;
            }
            .introduce-title {
                margin-top: px(15);
                color: #ccc;
                font-weight: 600;
            }
            .instroduce-bigword {
                font-family: 'Open Sans', sans-serif;
                font-size: px(54);
                font-weight: 700;
                color: #eb6130;
                margin: px(10);
                transition: all 1s;
                &:after {
                    transition: all 1s;
                }
            }
            .instroduce-text {
                font-weight: 100;
            }
            .instroduce-data {
                margin: px(15) 0;
                padding: px(15) 0;
                .instroduce-data-title {
                    margin-top: px(15);
                }
                .data-content {
                    background: rgba(255, 255, 255, .5);
                    border-radius: px(8);
                    margin-top: 0;
                    display: flex;
                    padding: px(10) 0 px(5) 0;
                    margin: px(10) 0;
                    text-align: center;
                    .data-number {
                        width: 50%;
                        font-weight: 100;
                        font-size: px(24);
                        margin-bottom: 0;
                        color: #333;
                    }
                    .data-text {
                        font-weight: 600;
                        font-size: px(28);
                        color: #eb6130;
                        margin-bottom: 0;
                    }
                    .data-roomdiv-left {
                        border-right: 1px dashed #ccc;
                    }
                }
            }
            .video-wrapper {
                margin-top: px(15);
                background: #000 url('./images/common/loading_01.gif') no-repeat center center;
                background-size: 45px 45px;
                height: px(300);
                .youtube-image {
                    height: 100%;
                    width: 100%;
                    position: relative;
                    background: url('./images/mobile/youtube_bg01.jpg') center center no-repeat;
                    background-size: auto px(300);
                    .play-button {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin-left: -34px;
                        margin-top: -34px;
                        font-size: 68px;
                        color: rgba(33, 33, 33, 0.6);
                        z-index: 99;
                    }
                    &:hover {
                        .play-button {
                            color: rgba(255, 0, 0, 1);
                        }
                    }
                }
            }
            .introduce-reg-btn {
                margin-top: px(30);
                width: 100%;
                display: block;
            }
        }
        .register-div {
            padding: px(30) px(15);
            width: 100%;
            background-image: linear-gradient(to top, #aaa 0%, #f6f6f8 52%, #ebebeb 42%);
            background-size: 100% 100%;
            min-height: 400px;
            .ads-reg-title {
                margin-top: px(15);
            }
            .ads-reg-text {
                font-weight: 100;
            }
            .ads-reg-btn {
                padding: px(14) 0;
                display: block;
                margin: 0 auto;
                margin-top: px(16);
                .reg-btn-icon {
                    font-size: px(22);
                    color: #fff;
                }
                .reg-btn-text {
                    color: #fff;
                    font-weight: 600;
                    margin-left: px(10);
                    vertical-align: bottom;
                }
            }
            /*facebook 登陆背景色*/
            .reg-with-fb {
                background-image: linear-gradient(0deg, #3e5792, #4e6eb6);
            }
            /*领英按钮背景色*/
            .reg-with-linkedin {
                background: #0077b5;
            }
            .reg-policy-text {
                margin-top: px(20);
            }
            .ads-reg-line {
                width: 60%;
                margin: 0 auto;
                display: flex;
                margin-top: px(10);
                .ads-underline {
                    flex: 1;
                    margin: px(10) 0;
                }
                .reg-line-text {
                    margin: 0 px(10);
                    vertical-align: middle;
                    font-weight: 200;
                    color: #eee;
                }
            }
        }


        .ads-show {
            padding: px(15);
            background: #fff;
            .show-content {}
            .show-img {
                margin-top: px(15);
                height: px(200);
                width: px(200);
                border-radius: px(100);
                overflow: hidden;
                border: 1px solid #ccc;
            }
            .show-ins-title {
                margin: px(20) 0;
            }
            .show-ins-text {
                font-weight: 200;
            }
        }
    }
    footer {
        background: #333;
        .container {
            padding: 0;
            .footer-top {
                padding: px(15) 0;
                background: #2c2c2c;
                color: #ccc;
                span {
                    display: inline-block;
                    padding: px(8) px(10);
                    a {
                        font-size: px(14);
                        font-weight: 200;
                        color: #ccc;
                    }
                }
            }
            .footer-bottom {
                padding: px(15) 0;
                background: #171717;
                color: #fff;
                .footer-bottom-icon {
                    .footer-icon {
                        display: inline-block;
                        height: px(30);
                        width: px(30);
                        border-radius: px(30);
                        color: #fff;
                        margin: 0 px(10);
                        background: #5c5c5c;
                        overflow: hidden;
                        font-size: px(16);
                        line-height: px(30);
                        text-align: center;
                    }
                }
                .footer-bottom-text {
                    font-size: px(14);
                }
            }
        }
        ul {
            li {
                color: #fff;
                list-style-type: none;
                a {
                    color: #fff;
                }
            }
        }
    }
}