#plan {
    background: #fff;
    .plan-right{
        display: block;
        margin: 0 auto;
        height: 20px;
        width: 20px;
        background: url(./images/svg/right_01.svg) no-repeat center center;
    }
    .plan-error{
        display: block;
        margin: 0 auto;
        height: 20px;
        width: 20px;
        background: url(./images/svg/error_01.svg) no-repeat center center;
    }
    .plan-beta{
        padding: 0px 6px;
        border-radius: 8px;
        margin-left: 5px;
        background: #28b873;
        font-size: 12px;
        font-weight: 200;
        color:#fff;
    }
    .plan-header{
        background: #F4F7F9;
        padding: 50px 0;
        .header-title{
            color: #1D96F3;
        }
        .header-suptitle{
            color: #98A7B4;
            margin-top: 30px;
        }
    }
    .plan-small{
        color: #1D96F3;
        font-size: 12px;
        font-weight: 200;
        margin-left: 5px;
    }
    .pricing-banner {
        width: 100%;
        background: url(./images/pricing/pricing_banner.jpg) no-repeat bottom center;
        height: 190px;
        background-size: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .pricing-banner-text {
            color: #0383d5;
            font-weight: 600;
        }
    }
    .content-title {
        .title-main {
            color: #eb6130;
            margin-top: 50px;
        }
    }

    // plan-card
    .plan-banner {
        padding-top: 50px;
        padding-bottom: 100px;
        margin-bottom: 80px;
        background-image: linear-gradient(to top, #ccc 0%, #68e0cf 100%);
        .plan-suptitle{
            margin-top: 30px;
        }
        .plan-card-wrapper{
            box-sizing: border-box;
            margin-top: 80px;
            .plan-card{
                width: 280px;
                background: #fff;
                box-shadow: 0 2px 2px 0 rgba(0,0,0,.15);
                position: relative;
                display: inline-block;
                vertical-align: top;
                margin: 0 30px 40px;
                height: 380px;
                text-align: left;
                box-sizing: border-box;

                transition: .6s;
                transform-style: preserve-3d;
                position: relative;
                border-radius: 6px;
                .card-header{
                    margin-left: -32px;
                    padding: 0px 15px;
                    color:#fff;
                    width: 70%;
                    height: 50px;
                    line-height: 50px;
                    border-left: 1px solid rgba(33, 33, 33, .35);
                    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.54);
                }
                .card-content{
                    margin-top: 50px;
                }
                .card-footer{
                    margin-top: 60px;
                    .btn{
                        width: 60%;
                        border-radius: 50vh;
                        padding: 8px 0px;
                        border: 1px solid rgba(0, 0, 0, 0.17);
                        color:#fff;
                        text-shadow: 0 1px 0 #ccc;
                    }
                }
                &.plan-card-orange{
                    .card-header{
                        background-color: #eb6130;
                    }
                    .card-footer{
                        .btn{
                            background: linear-gradient(to bottom, #eb6130, #FF9800)
                        }
                    }
                    .card-back{
                        .back-header{
                            background-color: #eb6130;
                        }
                    }
                }
                &.plan-card-green{
                    .card-header{
                        background-color: #99CC66;
                    }
                    .card-footer{
                        .btn{
                            background: linear-gradient(to bottom, #8BC34A, #CDDC39)
                        }
                    }
                }
                &.plan-card-blue{
                    .card-header{
                        background-color: #2196F3;
                    }
                     .card-footer{
                        .btn{
                            background: linear-gradient(to bottom, #2196F3, #3abcf7)
                        }
                    }
                }
                
                .card-body{
                    top: 0;
                    left: 0;
                    border-radius: 6px;
                }
                // 卡片正面
                .card-front{
                    padding: 45px 30px 0;
                    cursor: pointer;
                    height: 100%;
                    &:hover{
                        box-shadow: 0px 0px 5px 2px rgba(255, 87, 34, 0.35);
                    }
                }
                // 卡片背面
                .card-back{
                    width: 100%;
                    height: 100%;
                    padding-top: 0px;
                    background: #fff;
                    position: absolute;
                    z-index: -1;
                    transform: rotateY(180deg);
                    display: none;
                    .back-header{
                        height: 50px;
                        line-height: 50px;
                        color:#fff;
                        width: calc(100% + 4px);
                        border-left: 1px solid rgba(33, 33, 33, 0.35);
                        box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.54);
                        margin-left: -2px;
                        margin-right: -2px;
                        position: relative;
                        .back-button{
                            position: absolute;
                            top: 14px;
                            left: 14px;
                            cursor: pointer;
                            transition: 0.2s;
                            height: 24px;
                            width: 24px;
                            display: flex;
                            align-items:center;
                            justify-content: center;
                            border-radius: 12px;
                            &:hover{
                                transform: scale(1.1);
                                border: 1px solid #fff;
                            }
                        }
                    }
                    .price-list-wrapper{
                        display: flex;
                        flex-direction: column;
                        height: calc(100% - 50px);
                        padding: 15px;
                        .price-list{
                            flex:1;
                            display: inline-block;
                            width: 100%;
                            padding: 6px 15px;
                            margin: 6px 0;
                            border:1px solid #ccc;
                            overflow: hidden;
                            border-radius: 4px;
                            border-left: 4px solid #ccc;
                            transition: box-shadow 0.20s;
                            .price-list-text{
                                display: none;
                                margin-top: 10px;
                            }
                            &:hover{
                                border-color:#eb6130;
                                box-shadow: 0px 0px 5px 2px rgba(255, 87, 34, 0.18);
                                .price-list-text{
                                    color:#333;
                                    display: inline-block;
                                }
                            }
                            
                        }
                    }

                }
                &.transform-turn{
                    transform: rotateY(180deg);
                    .card-front{
                       
                        position: absolute;
                        z-index: -1;
                        display: none;
                    }
                    .card-back{
                        position: relative;
                        display: inline-block;
                    }
                }
            }
        }
    }

    .click-to-down{
        width: 50px;
        height: 0px;
        position: fixed;
        z-index: 99;
        bottom:50px;
        left: 50%;
        margin-left: -25px;
        min-height: 50px;
        margin-top: 10px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        .down-icon{
            width: 30px;
            height: 30px;
            border: 3px solid transparent;
            border-bottom: 3px solid #1D96F3;
            border-right: 3px solid #1D96F3;
            z-index: 99;
            opacity: .8;
            -webkit-transform: rotate(45deg);
            -webkit-animation: down-icon 1.0s infinite ease-in-out;
        }
        // 动画
        @keyframes down-icon {
            0% {
                opacity: 0;
                transform: translate(0, 0px) rotate(45deg)
            }
            25% {
                opacity: .75;
                transform: translate(0, 4px) rotate(45deg)
            }
            50% {
                opacity: 1;
                transform: translate(0, 8px) rotate(45deg)
            }
            75% {
                opacity: .75;
                transform: translate(0, 12px) rotate(45deg)
            }
            100% {
                opacity: 0;
                transform: translate(0, 16px) rotate(45deg)
            }
        }

    }
    .plan-table{
        margin-bottom: 50px;
        .table{
            ul{
                padding: 0;
                margin: 0;
            }
            
            td{
                vertical-align: middle;
                text-align: center;
                color: #565E66;
            }
            thead{
                td{
                    vertical-align: top;
                    p{
                        margin-bottom: 0;
                    }
                }
                td:first-child{
                    color:#98A7B4;
                    text-align: left;
                    font-weight: 400;
                    vertical-align: middle;
                }

            }
            tbody{
                td{
                    font-weight: 200;
                    vertical-align: middle;
                    text-align: center;
                    color: #1D96F3;
                }
                tr{
                    td:first-child{
                        text-align: left;
                        color: #565E66;
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }
            tfoot{
                td{
                    padding-top:15px;
                    padding-bottom: 15px; 
                    vertical-align: top;
                    border:none;
                    .btn{
                        margin-top: 20px;
                    }
                }
                td:first-child{
                    color:#98A7B4;
                    text-align: left;
                    font-weight: 400;
                    padding: 0;
                }
                
            }
        }
    }
}


@media screen and (max-width: 768px) {
    #plan {
        .pricing-banner {
            min-height: px(120);
            background-size: auto 100%;
        }
        .title-main {
            font-size: px(22);
        }
        .title-second {
            font-size: px(18);
            font-weight: 200;
        }
        .pricing-adscard {
            .card-div {
                .table {
                    tr {
                        td {
                            padding-left: px(25);
                        }
                    }
                }
            }
            .stand-card-div {
                .card-div {
                    margin-top: px(30);
                }
            }
            .stand-card-div.transform-rotatey {
                transform: rotateY(180deg);
                .pricing-card {
                    position: static;
                    z-index: 1;
                }
                .stand-card {
                    position: absolute;
                    z-index: -2;
                    display: none;
                }
            }
        }
        .pricing-adscard {
            .pricing-card {
                .pricingcrad-back {
                    font-size: px(18);
                    left: px(10) !important;
                    top: px(20) !important;
                }
                .card-banner {
                    font-size: px(14);
                    font-weight: 200;
                }
                .pricing-info-div {
                    padding-left: px(15);
                    padding-right: px(15);
                    margin-left: 0;
                    margin-right: 0;
                    height: px(117);
                    .pricing-cost-div {
                        padding: 0;
                    }
                    .select-btn-div {
                        padding: 0;
                    }
                }
            }
        }
    }
}


/*
* 对于广告卡需要不同屏幕进行适配
*/


/*
* pc界面
*/

@media screen and (min-width: 1024px) {
    #plan {
        .pricing-adscard {
            .stand-card-div {
                width: 404px;
            }
            .card-div {
                //固定死高度与宽度
                height: 520px;
                width: 404px;
                .pricing-info-div {
                    height: 117px;
                }
            }
        }
    }
}