<div id="changepwd">
    <form name="pwdForm" novalidate ng-submit="!pwdForm.$invalid && save()">
        <input type="password" name="password" class="hidden">
        <div class="pwd-form-wrapper">
            <div class="form-group edit-input-wrapper" ng-class="{'has-error': (pwdForm.oldpwd.$dirty && pwdForm.oldpwd.$invalid) || info.error}">
                <label class="pwd-item-name">Current password:</label>
                <input type="password" class="form-control" name="oldpwd" placeholder="Current password" ng-model="info.oldpwd" required  ng-maxlength='255' ng-minlength="6" autocomplete="off" ng-keyup="info.error = false"/>
                <label class="control-label edit-error-laebl">
                    <span ng-if="pwdForm.oldpwd.$error.required && !info.error">Required</span>
                    <span ng-if="!pwdForm.oldpwd.$error.required && pwdForm.oldpwd.$error.minlength">
                        Your password must contain at least 6 characters.
                    </span>
                    <span ng-if="pwdForm.oldpwd.$error.maxlength">Invalid Length</span>
                    <span ng-if="pwdForm.oldpwd.$invalid && info.error">Invalid PassWord</span>
                </label>
            </div>

            <div class="form-group edit-input-wrapper" ng-class="{'has-error': pwdForm.newpwd.$dirty && pwdForm.newpwd.$invalid}">
                <label class="pwd-item-name">New Password:</label>
                <input type="password" class="form-control" name="newpwd" placeholder="New Password" required ng-model="info.newpwd" ng-minlength="8" ng-maxlength='32' autocomplete="off"/>
                <label class="control-label edit-error-laebl">
                    <span ng-if="pwdForm.newpwd.$error.required">Required</span>
                    <span ng-if="!pwdForm.newpwd.$error.required && pwdForm.newpwd.$error.minlength">
                        Your password must contain at least 8 characters.
                    </span>
                    <span ng-if="pwdForm.newpwd.$error.maxlength">Invalid Length</span>
                </label>
            </div>

            <div class="form-group edit-input-wrapper" ng-class="{'has-error': (pwdForm.repeatpwd.$dirty && pwdForm.repeatpwd.$invalid) || (pwdForm.repeatpwd.$dirty && info.newpwd != info.repeatpwd)}">
                <label class="pwd-item-name">Confirm new password:</label>
                <input type="password" class="form-control" name="repeatpwd" placeholder="Confirm new password" required ng-model="info.repeatpwd" ng-minlength="8" ng-maxlength="32" autocomplete="off"/>
                <label class="control-label edit-error-laebl">
                    <span ng-if="pwdForm.repeatpwd.$error.required">Required</span>
                    <span ng-if="!pwdForm.repeatpwd.$error.required && pwdForm.repeatpwd.$error.minlength">
                       Your password must contain at least 6 characters.
                    </span>
                    <span ng-if="pwdForm.repeatpwd.$error.maxlength">Invalid Length</span>
                    <span ng-if="!pwdForm.repeatpwd.$invalid && info.newpwd != info.repeatpwd">Your passwords do not match.</span>
                </label>
            </div>
        </div>
        <div class="text-right changepwd-btn-wrapper">
            {{$ctrl.toggle}}
            <button type="button" class="btn profile-btn-cancel" ng-click="$ctrl.toggle('openPswEdit', false)">Cancel</button>
            <button type="submit" class="btn profile-btn-save" ng-disabled="pwdForm.$invalid || info.newpwd != info.repeatpwd || isbusy">Change password</button>
        </div>
    </form>
</div>