<div>
    <div class="portlet light bordered">
        <div class="portlet-body" cg-busy="userPromise"> 
            <div class="alert alert-danger" ng-if="!userInfo.login">
                Please Login First!
            </div>
            <uib-tabset active="profile.active" ng-if="userInfo.login">
                <uib-tab index="0" heading="Subscription Plan">
                    <subscription  />
                </uib-tab>
                <uib-tab index="1" heading="Billings">
                    <billings should-init="{{profile.active == 1}}" />
                </uib-tab>
                <uib-tab index="2" heading="Account Settings">
                    <div class="portlet">
                    <div class="portlet-title">
                        <h3> Account Settings <i class="icon-pencil"></i></h3>
                    </div>
                    <div class="porlet-body">
                        <div class="row">
                            <div class="col-xs-3">
                                Member Email
                            </div>
                            <div class="col-xs-4">
                                {{user.email}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">Member Name</div>
                            <div class="col-xs-4">{{user.name}}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">Member since</div>
                            <div class="col-xs-4">{{user.created_at}}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">Password</div>
                            <div class="col-xs-4">
                                <button class="btn btn-primary" ng-click="changePwd()">Change</button>
                            </div>
                        </div>
                    </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
