<div id="profile">
    <div class="portlet light bordered">
        <div class="portlet-body" cg-busy="userPromise"> 
            <div class="alert alert-danger" ng-if="!userInfo.login">
                Please Login First!
            </div>
            <uib-tabset active="profile.active" ng-if="userInfo.login">
                <uib-tab index="0" heading="Subscription Plan">
                    <subscription  />
                </uib-tab>
                <uib-tab index="1" heading="Billings">
                    <billings should-init="{{profile.active == 1}}" />
                </uib-tab>
                <uib-tab index="2" heading="Account Settings">
                    <div class="portlet">
                        <div class="profile-title">
                            <h3> Account Settings
                                <i class="icon-pencil"></i>
                            </h3>
                        </div>
                        <div class="porlet-body">
                            <label>{{profile.changeStatus}}</label>
                            <div class="profile-row">
                                <div class="col-xs-4 col-md-3 col-lg-2"> Member Email</div>
                                <div class="col-xs-4 col-md-4 col-lg-2">{{user.email}}</div>
                            </div>
                            <div class="profile-row">
                                <div class="col-xs-4 col-md-3 col-lg-2">Member Name <small class="text-danger">(beta)</small></div>
                                <div class="col-xs-4 col-md-4 col-lg-2"><input type="text" class="form-control" ng-model="user.name" value="{{user.name}}" /></div>
                                <div class="col-xs-4 col-md-2 col-lg-2">
                                    <button class="btn btn-primary" ng-click="change('name')">Edit</button>
                                </div>
                            </div>
                            <div class="profile-row">
                                <div class="col-xs-4 col-md-3 col-lg-2">Member since</div>
                                <div class="col-xs-4 col-md-4 col-lg-2">{{user.created_at}}</div>
                            </div>
                            <div class="profile-row">
                                <div class="col-xs-4 col-md-3 col-lg-2">Password</div>
                                <div class="col-xs-4 col-md-4 col-lg-2">******</div>
                                <div class="col-xs-4 col-md-2 col-lg-2">
                                    <button class="btn btn-primary" ng-click="change('pwd')">Edit</button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-aff">
                            <div class="profile-title">
                                <h3>Affiliate
                                    <i class="fa fa-paper-plane-o"></i>
                                </h3>
                            </div>
                            <div class="profile-row">
                                <div class="col-xs-4 col-md-3 col-lg-2">
                                    Affiliate
                                </div>
                                <div class="col-xs-7 col-md-5 col-lg-6">
                                    <!--自定义的复制到剪贴板指令，具体用法详见common.js:496-->
                                    <copy-dom value="{{user.affiliateUrl}}" button-text="Copy" success-text="Copied" ng-if="user.affiliateUrl">
                                    </copy-dom>
                                    <span class="text-danger" ng-if="!user.affiliateUrl">No Data</span>
                                </div>
                            </div>
                            <div class=" profile-row">
                                <div class="row-left">Click:</div>
                                <div class="col-xs-7">{{user.click}}</div>
                            </div>
                            <div class=" profile-row">
                                <div class="row-left">Register:</div>
                                <div class="col-xs-7">{{user.action}}</div>
                            </div>
                        </div>
                        <div class="profile-title">
                            <h3> Customize Invoice <small class="text-danger">(beta)</small> <i class="icon-wrench"></i></h3>
                        </div>
                        <div class="porlet-body">
                            <div class="alert alert-info">
                                Support English language Only.
                                <br /> You can only modify it 1 times a month. Please be careful.
                            </div>
                            <form action="" class="form-horizontal">
                                <div class="form-group">
                                    <label for="companyName" class="col-sm-2 control-label">Company Name</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="companyName" ng-model="profile.companyName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="address" class="col-sm-2 control-label">Address</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="address" ng-model="profile.address">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="contactInfo" class="col-sm-2 control-label">Contact info</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="contactInfo" ng-model="profile.contactInfo">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="website" class="col-sm-2 control-label">Website</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="website" ng-model="profile.website">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="taxNo" class="col-sm-2 control-label">Tax No.</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="taxNo" ng-model="profile.taxNo">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="button" class="btn btn-primary" ng-click="profile.customizeSubmit()">Change</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
