<div class="page-quick-sidebar">
    <form role="form">
        <div class="form-group">
            <label>Filter By Date:</label>
            <input date-range-picker type="text" class="form-control date-picker" ng-model="$parent.filterOption.date" />
        </div>
        <div class="form-group">
            <label>
                Language:
            </label>
            <input type="text" class="form-control" ng-model="$parent.filterOption.language" placeholder="E.g French">
        </div>
        <div class="form-group">
            <label>Country:</label>
            <input type="text" class="form-control" ng-model="$parent.filterOption.country" placeholder="E.g country">
        </div>
        <div class="form-group">
            <button type="submit" class="btn red">
        <i class="fa fa-check"></i>
        Filter
        </button>
        </div>
    </form>
</div>
