<!-- begin ad description -->
<div class="aditem-desc">
    <!-- begin SingleImage -->
    <div>
        <div class="xg-span-message"><span ng-bind-html="card.message | toHtml"></span></div>
        <!-- timeline and rightcolumn are diffrent view -->
        <!-- begin timeline canvas-->
        <div class="text-center mt-element-overlay" ng-if="Searcher.getAdsType(card, Searcher.ADS_TYPE.timeline)">
            <div class="xg-margin-bottom">
                <a ng-href="{{card.link[0]}}" target="_blank">
                    <!-- 为防止无限加载时图片加载后高度改变导致浏览位置变化，在加载图片前就设定好高度，这就要求图片URL一定要符合格式，否则不能正常显示 -->
                    <img class="img-loading" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" lazy-img="{{settings.imgRemoteBase + card.watermark}}" alt="" width="{{card.watermark | getImageSize:0}}px" height="{{card.watermark | getImageSize:1}}px"  >
                </a>
            </div>
        </div>
        <!-- end timeline canvas -->
        <!-- begin rightcolumn canvas -->
        <div class="text-center mt-element-overlay" ng-if="Searcher.getAdsType(card, Searcher.ADS_TYPE.rightcolumn)">

            <div ng-repeat="item in card.watermark track by $index">
                <div>
                    <a ng-href="{{card.link[$index]}}" target="_blank">
                        <!-- 为防止无限加载时图片加载后高度改变导致浏览位置变化，在加载图片前就设定好高度，这就要求图片URL一定要符合格式，否则不能正常显示 -->
                        <img class="img-loading" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" lazy-img="{{settings.imgRemoteBase + card.watermark[$index]}}" width="{{card.watermark[$index] | getImageSize:0}}px" height="{{card.watermark[$index] | getImageSize:1}}px" alt="">
                    </a>
                </div>
            </div>
        </div>
        <!-- end rightcolumn canvas -->

        <div class="h5">
            <div class="xg-label-caption pull-right" ng-if="card.buttondesc" >
                <a href="{{card.buttonlink}}" class="xg-a-likepage label label-sm label-warning" target="_blank">{{card.buttondesc}}</a>
            </div>
            <div class="xg-span-name xg-overflow-hidden">
                <span ng-bind-html="card.name | toHtml"></span>
            </div>
        </div>

        <p class="xg-span-description xg-p-margin" ng-if="card.description">
            <span ng-bind-html="card.description | toHtml"></span>
        </p>
        <div class="aditem-caption margin-top-10" ng-if="card.caption">
            <label class="xg-label-caption label label-sm label-success" ng-bind-html="card.caption | toHtml"></label>
        </div>
    </div>
    <!-- end SingleImage -->
</div>
<!-- end description -->
<div class="aditem-footer" ng-show="!card.indetail" >
    <hr class="xg-p-margin">
    <!-- <div ng-if="card.link[0]">
        <i class="fa fa-link fa-fw"></i>
        <a href="{{card.link[0]}}" class="adlink xg-link-width" ng-if="card.show_way!=1">{{card.link[0] | clearHttps}}</a>
        <a originlink class="adlink xg-link-width" eventid="{{card.event_id}}" id="{{card.adser_username}}" ng-if="card.show_way==1" target="_blank">{{card.link[0] | clearHttps}}</a>
    </div> -->
    <div>
        <span ng-show="card.views">
            <i class="xg-icon xg-icon-video"></i>
            {{card.views | addUnit}}
        </span>
        <span ng-show="card.likes" >
            <i class="fa fa-thumbs-up" ></i>
            {{card.likes | addUnit}}
        </span>
        <span ng-show="card.comments" >
            <i class="xg-icon xg-icon-comment"></i>
            {{card.comments | addUnit}}
        </span>
        <span ng-show="card.shares" >
            <i class="xg-icon xg-icon-share"></i>
            {{card.shares | addUnit}}
        </span>
    </div>
</div>
