<!-- begin ad description -->
<div class="aditem-desc">
    <!-- begin SingleImage -->
    <div>
        <div class="xg-span-message"><span ng-bind-html="card.message | toHtml"></span></div>
        <div class="adscard-content">
            <div class="text-center mt-element-overlay">
                <div>
                    <a ng-href="{{card.link}}" target="_blank">
                        <!-- 为防止无限加载时图片加载后高度改变导致浏览位置变化，在加载图片前就设定好高度，这就要求图片URL一定要符合格式，否则不能正常显示 -->
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="img-loading" lazy-img="{{card.watermark}}" width="{{card.watermark | getImageSize:0}}px" height="{{card.watermark | getImageSize:1}}px" alt="" type="bba">
                    </a>
                </div>
            </div>
            <div class="adscard-bottom">
                <div class="h5" ng-if="card.name | toHtml">
                    <div class="xg-span-name xg-overflow-hidden">
                        <span ng-bind-html="card.name | toHtml"></span>
                    </div>
                </div>
                <p class="xg-span-description xg-p-margin" ng-if="card.description">
                    <span ng-bind-html="card.description | toHtml"></span>
                </p>
                <div class="aditem-caption margin-top-10 clearfix" ng-if="card.caption || card.buttondesc">
                    <label class="xg-label-caption" ng-if="card.caption" ng-bind-html="card.caption | toHtml"></label>
                    <div class="pull-right" ng-if="card.buttondesc">
                        <a href="{{card.buttonlink}}" class="xg-a-likepage xg-label" target="_blank">{{card.buttondesc}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end SingleImage -->
</div>
<!-- end description -->
<div class="aditem-footer" ng-show="!card.indetail">
    <hr class="xg-p-margin">
    <!-- <div ng-if="card.link">
        <i class="fa fa-link fa-fw"></i>
        <a href="{{card.link}}" class="adlink xg-link-width" target="_blank">{{card.link | clearHttps}}</a>
    </div> -->
    <div>
        <span ng-show="card.views">
            <i class="xg-icon xg-icon-video"></i>
            {{card.views | addUnit}}
        </span>
        <span ng-show="card.likes">
            <i class="fa fa-thumbs-up" ></i>
            {{card.likes | addUnit}}
        </span>
        <span ng-show="card.comments">
            <i class="xg-icon xg-icon-comment"></i>
            {{card.comments | addUnit}}
        </span>
        <span ng-show="card.shares">
            <i class="xg-icon xg-icon-share"></i>
            {{card.shares | addUnit}}
        </span>
    </div>
</div>
