<div ng-controller="AdAnalysisController" id="an-analysis" class="ad-analysis container alert">
    <div class="analy-overview row">
        <div class="col-sm-6 analy-adscard">
            <div class="adscard-body">
                <div class="adscard-header">
                    <a ng-href="https://www.facebook.com/{{card.adser_username}}" target="_blank">
                        <img src="{{settings.imgRemoteBase[0] + card.small_photo}}" alt="" class="card-adserhead">
                    </a>
                    <div class="card-adsername-div">
                        <p class="ads-font-16 ads-weight-bold card-adsername">
                            <a class="" ui-sref="adser({name:card.adser_name, adser:card.adser_username})" target="_blank">
                                <span ng-bind-html="card.adser_name | toHtml" ng-show="card.adser_name"></span>
                                <span ng-show="!card.adser_name">{{card.adser_username}}</span>
                            </a>
                        </p>
                        <p class="card-time ads-font-14">
                            Sponsored
                        </p>
                    </div>
                </div>
                <div class="adscard-contend">
                    <single-image ng-if="card.type == 'SingleImage'" card="card">
                    </single-image>
                    <single-video ng-if="card.type == 'SingleVideo'" card="card"></single-video>
                    <carousel ng-if="card.type == 'Carousel'" card="card">
                    </carousel>
                    <adcanvas ng-if="card.type == 'Canvas'" card="card"></adcanvas>
                </div>
            </div>
        </div>
        <div class="col-sm-6 analy-info ads-font-16">
            <p>
                <span class="ads-weight-bold">Time:</span>
                <span>{{card.first_see}}~{{card.last_see}}</span>
            </p>
            <p>
                <a ng-href="https://www.facebook.com/{{id}}" class="btn btn-primary" target="_blank">See Original Post</a>
            </p>
            <p>
                <span class="ads-weight-bold">Ad placement: </span>
                <span>{{card.show_way | adsTypes}}</span></p>
            <p>
                <span class="ads-weight-bold">Objective:</span>
                <span ng-if="card.objective">{{card.objective}}</span>
                <span ng-if="!card.objective" class="text-danger">No Data</span>
            </p>
            <p>
                <span class="ads-weight-bold">Landing page:</span>
                <a href="{{card.dest_site}}" class="btn btn-primary" ng-if="card.dest_site">Link</a>
                <span class="text-danger" ng-if="!card.dest_site">No Data</span></p>
            <p></p>
        </div>
    </div>
    <hr>
    <div class="analy-charts row">
        <div class="col-md-6 charts-left">
            <p class="charts-title">How are site sessions trending?</p>
            <p class="charts-subtitle">Last 30 days VS. previous period</p>
            <div class="charts-wrapper" ng-if="card.impression">
                <highchart class="charts-line" config="lineCharts" ></highchart>
            </div>
            <div ng-if="!card.impression" class="analy-nodata">
                <img src="../static/images/analysis/bg_nodata.png" alt="">
                <br>
                <span class="ads-font-26 ads-weight-600 text-danger">No Enough Data</span>
            </div>
            
        </div>
        <div class="col-md-6 charts-right">
            <p class="charts-title">What are the top countries by sessions?</p>
            <p class="charts-subtitle">Sessions over the last 30 days</p>
            <div class="charts-wrapper">
                <high-map class="charts-adsmap" options="adsMapChart"></high-map>
            </div>
        </div>
    </div>
    <div class="analy-charts analy-charts-row2 row">
        <div class="col-md-6">
            <div class="col-md-12">
                <p class="charts-title">How are site sessions trending?</p>
                <p class="charts-subtitle">Last 30 days VS. previous period</p>
            </div>
            <div class="col-md-6 charts-wrapper" ng-if="card.whyseeads">
                <highchart class="charts-pie" config="pieCharts"></highchart>
            </div>
            <div class="col-md-6 charts-wrapper" ng-if="card.whyseeads">
                <highchart class="charts-bar" config="barCharts"></highchart>
            </div>
            <div ng-if="!card.whyseeads" class="analy-nodata">
                <img src="../static/images/analysis/bg_nodata.png" alt="">
                <br>
                <span class="ads-font-26 ads-weight-600 text-danger">No Enough Data</span>
            </div>
        </div>
        <div class="col-md-6 analy-table">
            <table class="table  table-striped analy-adstable" ng-init="pageNum = 1">
                <thead>
                    <tr class="ads-font-16 ads-weight-bold text-center">
                        <td></td>
                        <td>Country</td>
                        <td>Sessions</td>
                        <td>Pageviews</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="adsItems in adsVisitCountryData | limitTo:(pageNum * 8)" ng-if="$index+1 > (pageNum * 8 - 8)">
                        <td class="analy-td1">{{$index + 1}}</td>
                        <td class="analy-td2">{{adsItems.country}}</td>
                        <td class="analy-td3">{{adsItems.value}}</td>
                        <td class="analy-td4">
                            <div class="progress-wrapper">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:{{((adsItems.value / adsVisitCountryCount) * 100)}}%;">
                                        <span class="sr-only">{{((adsItems.value / adsVisitCountryCount) * 100).toFixed(2)}} % Complete</span>
                                    </div>
                                </div>
                                <div class="percent-number">{{((adsItems.value / adsVisitCountryCount) * 100).toFixed(2)}} %</div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" class="analy-table-tfoot">
                            <div class="table-turnpage">
                                <span class="page-num"> {{pageNum}} / {{ ceil(adsVisitCountryData.length / 8)}}</span>
                                <button class="fa fa-caret-left turnpage-button" ng-disabled="pageNum == 1" ng-click="pageNum = pageNum - 1"></button>
                                <button class="fa fa-caret-right turnpage-button" ng-disabled="pageNum == ceil(adsVisitCountryData.length / 8)" ng-click="pageNum = pageNum + 1"></button>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="row cahrts-stat-row"  mg-init="abc = 0 ">
        <div class="col-md-12">
            <p class="charts-title">How are site sessions trending?</p>
            <p class="charts-subtitle">Last 30 days VS. previous period</p>
        </div>
        <div class="col-md-12" ng-if="card.whyseeads.interests">
            <P class="charts-title">CATEGORY DISTRIBUTION</P>
            <div class="charts-stat-bar">
                <div class="stat-wrapper" ng-repeat="(key,value) in card.whyseeads.interests track by $index">
                    <i class="fa fa-bookmark-o ads-font-18 stat-icon"></i>
                    <div class="stat-name">{{key}}</div>
                    <div class="progress stat-progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{(value / interestsCount) * 100}}%;">
                        </div>
                    </div>
                    <div class="stat-number">{{((value / interestsCount) * 100).toFixed(2)}}%</div>
                </div>
            </div>
        </div>
        <div ng-if="!card.whyseeads.interests" class="analy-nodata">
            <img src="../static/images/analysis/bg_nodata.png" alt="">
            <br>
            <span class="ads-font-26 ads-weight-600 text-danger">No Enough Data</span>
        </div>
    </div>
</div>