<div ng-controller="AdAnalysisController" class="ad-analysis">

    <div class="sidebar" fixsidebar>
        <ul role="tablist" class="nav nav-pills nav-stacked text-center">

            <li>
                <a href="#detail">
                    <i class="fa fa-envelope fa-2x font-yellow-gold"></i>
                    <div>Details</div>
                </a>
            </li>
            <li>
                <a href="#similar">
                    <i class="fa fa-bar-chart fa-2x font-yellow-gold" ></i>
                    <div policy-lock key="analysis_similar">Similar Ads</div>
                </a>
               
            </li>
            <li>
                <a href="#Landpage">
                    <i class="fa fa-link fa-2x font-yellow-gold"></i>
                    <div policy-lock key="analysis_link">Landpage</div>
                </a>
            </li>
            <li>
                <a href="#Engagements">
                    <i class="fa fa-feed fa-2x font-yellow-gold"></i>
                    <div policy-lock key="analysis_trend">Engagements</div>
                </a>
            </li>
            <li>
                <a href="#audience">
                    <i class="fa fa-eye fa-2x font-yellow-gold"></i>
                    <div policy-lock key="analysis_audience">Audience</div>
                </a>
            </li>
        </ul>
    </div>
    <!-- BEGIN MAIN CONTENT -->
    <div class="content">
        <div class="row">
            <div class="col-xs-12">
                <!-- BEGIN: ACCORDION DEMO -->
                <div class="portlet light bordered analysis-div">
                    <div class="portlet-title">
                        <div class="caption font-yellow-gold">
                            <i class="icon-badge font-green-sharp"></i>
                            <span class="caption-subject bold">ID:{{id}}</span>
                            <span class="caption-helper hide"></span>
                        </div>
                        <div class="actions" ng-hide="true">
                            <a class="btn btn-circle btn-icon-only btn-default" ui-sref="adsearch">
                                <i class="icon-action-undo"></i>
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body">

                        <div class="ng-cloak content-loading text-center" ng-show="card.end"><img src="../assets/global/img/ajax-loading.gif"></div>
                        <div class="row" ng-show="!card.end">
                            <div class="col-xs-12" id="ad">
                                <!--begin detal-->
                                <div id="detail">
                                    <h4 class="font-yellow-gold">Details</h4>
                                    <div class="portlet light bordered">
                                        <div class="row">
                                            <!--begin ads card-->
                                            <div class="col-xs-12 aditem col-md-6 ">
                                                <div class=" detail-left">
                                                <div class="margin-bottom-10 margin-top-10">
                                                    <table class="adscard-head">
                                                        <tr>
                                                            <td class="adscaed-img"><a ng-href="https://www.facebook.com/{{card.adser_username}}" target="_blank">
                                                        <!-- <img image="{{card.small_photo}}" avatar class="avatar" /> -->
                                                        <!-- 实际测试时发现上面的写法在指令中attrs.image获取到的是空，页面image="{{card.small_photo}}"表达式解析是正常的，而下面similar ad 一样的写法却可以获取到，就暂时写成固定的避规 -->
                                                        <img src="{{settings.imgRemoteBase[0] + card.small_photo}}" class="avatar" />
                                                    </a></td>
                                                            <td class="adscard-name"><a class="xg-adsername inline-block detailusername" ui-sref="adser({name:card.adser_name, adser:card.adser_username})" target="_blank">
                                                        <span ng-bind-html="card.adser_name | toHtml" ng-show="card.adser_name"></span>
                                                        <span ng-show="!card.adser_name">{{card.adser_username}}</span>
                                                    </a></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <single-image ng-if="card.type == 'SingleImage'" card="card">
                                                </single-image>
                                                <single-video ng-if="card.type == 'SingleVideo'" card="card"></single-video>
                                                <carousel ng-if="card.type == 'Carousel'" card="card">
                                                </carousel>
                                                <adcanvas ng-if="card.type == 'Canvas'" card="card"></adcanvas>
                                                </div>
                                            </div>
                                            <!--end ads card-->
                                            <!--begin overview-->
                                            <div class="col-xs-12 col-md-6 detail-right">
                                                <!-- Begin date, duration, viewcount -->
                                                <div class="overview-card clearfix ">
                                                    <div class="overview-line">
                                                        <span class="col-left">
                                                            <h4>
                                                            <i class="fa fa-calendar pull-left font-yellow-gold fa-fw">
                                                            </i>
                                                            <span class="overviewtitle">DATE:</span>
                                                            </h4>
                                                        </span>
                                                        <span class="col-right">
                                                            <span class="font-yellow-gold inline-block">{{card.first_see}}~{{card.last_see}}</span>
                                                        </span>
                                                    </div>
                                                    <div class="overview-line">
                                                        <span class="col-left">
                                                            <h4>
                                                            <i class="fa fa-clock-o pull-left font-yellow-gold fa-fw">
                                                            </i>
                                                            <span class="overviewtitle">Duration:</span>
                                                            </h4>
                                                        </span>
                                                        <span class="col-right">
                                                            <span class="font-yellow-gold inline-block">{{card.duration_days}}</span>
                                                        </span>
                                                    </div>
                                                    <div class="overview-line">
                                                        <span class="col-left">
                                                            <h4>
                                                            <i class="fa fa-eye pull-left font-yellow-gold fa-fw">
                                                            </i>
                                                            <span class="overviewtitle">Total view days:</span>
                                                            </h4>
                                                        </span>
                                                        <span class="col-right">
                                                            <span class="font-yellow-gold inline-block">{{card.see_date}}</span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <!-- end date, duration, viewcount -->
                                                <!--begin country-->
                                                <div ng-if="User.info.user.role.name ==='Pro'">
                                                    <div class="overview-card clearfix " ng-if="card.country">
                                                        <h4>
                                                            <i class="fa glyphicon glyphicon-flag font-yellow-gold fa-fw">
                                                            </i>
                                                            <span class="overviewtitle">Country or region:</span>
                                                        </h4>
                                                        <p  class="font-yellow-gold overview-data">
                                                           <span ng-repeat="item in (card.country.split(',') | unique)  track by $index" class="inline-block">
                                                                {{item}}
                                                                <span ng-if="$index<(card.country.split(',')).length-1">
                                                                    ,&nbsp;&nbsp;
                                                                </span>
                                                            </span> 
                                                        </p> 
                                                    </div>
                                                </div>
                                                <!--end country-->
                                                <!--begin langaue-->
                                                <div class="overview-card clearfix table-hover">
                                                        <h4>
                                                            <i class="fa fa-language font-yellow-gold fa-fw">
                                                            </i>
                                                            <span class="overviewtitle">language:</span>
                                                        </h4>
                                                        <p class="font-yellow-gold overview-data">{{card.ad_lang}}</p> 
                                                </div>
                                                <!--end language-->

                                                <!--begin ads type-->
                                                <div class="overview-card clearfix table-hover">
                                                        <h4>
                                                            <i class="fa fa-picture-o font-yellow-gold fa-fw">
                                                            </i>
                                                            <span class="overviewtitle">ad type:</span>
                                                        </h4>
                                                        <p class="font-yellow-gold overview-data">
                                                            <span ng-if="card.type == 'SingleImage'">Image</span>
                                                            <span ng-if="card.type == 'SingleVideo'">Video</span>
                                                            <span ng-if="card.type == 'Canvas'">Canvas</span>
                                                            <span ng-if="card.type == 'Carousel'">Carousel</span>
                                                        </p> 
                                                </div>
                                                <!--end ads type-->
                                                <!--begin position-->
                                                <div class="overview-card clearfix ">
                                                    <h4>
                                                        <i class="fa glyphicon glyphicon-tag font-yellow-gold fa-fw">
                                                        </i>
                                                        <span class="overviewtitle">ad position:</span>
                                                    </h4>
                                                    <p class="font-yellow-gold overview-data">
                                                        <span ng-if="card.show_way == '1'">
                                                            News Feed
                                                        </span>
                                                        <span ng-if="card.show_way == '2'">
                                                            Mobile
                                                        </span>
                                                        <span ng-if="card.show_way == '3'">
                                                            News Feed&nbsp;<span class="overviewtitle">&amp;</span>&nbsp;Mobile
                                                        </span>
                                                        <span ng-if="card.show_way == '4'">
                                                            Right Column
                                                        </span>
                                                    </p> 
                                                </div>
                                                <!--end position-->
                                                <!--begin buttonlink-->
                                                <div ng-if="card.buttondesc" class="overview-card clearfix table-hover">
                                                        <h4>
                                                            <i class="fa glyphicon glyphicon-hand-down font-yellow-gold fa-fw">
                                                            </i>
                                                            <span class="overviewtitle">buttonlink:</span>
                                                        </h4>
                                                       
                                                        <p ng-if="Util.isArray(card.buttondesc)" class="viewbutton overview-data">
                                                            <a ng-repeat="item in (card.buttondesc | unique) track by $index" ng-if="item"  class="xg-a-likepage xg-label ">{{item}}</a>
                                                            
                                                        </p>
                                                        <p ng-if="!Util.isArray(card.buttondesc)" class="viewbutton overview-data">
                                                            <a class="xg-a-likepage xg-label ">{{card.buttondesc}}</a>
                                                        </p>
                                                        
                                                </div>
                                                <!--end buttonlink-->
                                                <div class="overview-card clearfix " ng-if="card.show_way != '4'">
                                                    <p class="viewbutton overview-data">
                                                    <a href="https://www.facebook.com/{{id}}" class="xg-a-likepage xg-label" ng-scopehow="card.likepage" target="_blank">See Original Post</a>
                                                    </p>
                                                </div>
                                            </div>
                                            <!--end overview-->
                                        </div>
                                    </div>
                                </div>
                                <!--end detal-->
                                <!--begin similar-->
                                <div id="similar">
                                    <h4 class="font-yellow-gold">Similar Ads</h4>
                                    <div ng-if="User.can('analysis_similar')">
                                        <div class="row">
                                            <div  ng-if="card.similars.length > 0" ng-repeat="item in card.similars | limitTo:2 track by $index" class="aditem col-md-6 col-xs-12">
                                                <div class="portlet light bordered">
                                                    <div class="margin-bottom-10 margin-top-10">
                                                        <div class="margin-bottom-10 margin-top-10">
                                                        <table class="adscard-head">
                                                            <tr>
                                                                <td class="adscaed-img">
                                                                    <div class="pull-right xg-audience-mr4"></div>
                                                                    <br/>
                                                                    <div>
                                                                        <i class="fa fa-calendar font-yellow-gold fa-fw"></i><span>{{item.first_see}}~{{item.last_see}}</span>
                                                                    </div>
                                                                    <div>
                                                                        <div class="pull-right">
                                                                            <i class="xg-audience xg-icon xg-icon-audience font-yellow-gold" ng-if="User.can('audience_search') && (item.whyseeads_all || item.whyseeads)" audience title="{{item.whyseeads ? item.whyseeads : item.whyseeads_all}}"></i>
                                                                            <a eventid="{{item.event_id}}" adlink class="font-yellow-gold "><i class="xg-icon xg-icon-analysis"></i></a> 
                                                                        </div>
                                                                        <div class="pull-left">
                                                                            <i class="fa fa-clock-o font-yellow-gold fa-fw"></i><span>{{item.duration_days}}</span>
                                                                            <i class="fa fa-eye font-yellow-gold  fa-fw"></i><span>{{item.see_date}}</span>
                                                                        </div>
                                                                        <div class="clearfix"></div>   
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="adscard-img">  
                                                                    <div class="col-md-3 text-center" >
                                                                        <a ng-href="">
                                                                            <img image="{{item.small_photo}}" avatar class="avatar">
                                                                        </a>
                                                                    </div>
                                                                    <a class="xg-adsername inline-block detailusername" ui-sref="adser({name:item.adser_name, adser:item.adser_username})">
                                                                        <span ng-bind-html="item.adser_name | toHtml" ng-show="item.adser_name">
                                                                            {{item.adser_name}}
                                                                        </span>
                                                                        <span ng-show="!item.adser_name">{{item.adser_username}}</span>
                                                                    </a>
                                                                </td>
                                                            </tr> 
                                                        </table>
                                                    </div>
                                                    </div>
                                                    <single-image ng-if="item.type == 'SingleImage'" card="item">
                                                    </single-image>
                                                    <single-video ng-if="item.type == 'SingleVideo'" card="item"></single-video>
                                                    <carousel ng-if="item.type == 'Carousel'" card="item">
                                                    </carousel>
                                                    <adcanvas ng-if="item.type == 'Canvas'" card="item"></adcanvas>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="btn font-yellow-gold btn-link ng-scope" ng-if="card.similars.length > 2" href="#" role="button">search more</a>
                                    </div>
                                    <div class="text-center text-danger" ng-if="!User.can('analysis_similar')">
                                          <span>Please Upgrade your account!</span>
                                    </div>
                                </div>
                                <!--end similar-->
                                <!-- begin Landpage-->
                                <div id="Landpage">
                                    <h4 class="font-yellow-gold">Landpage</h4>
                                    <div ng-if="User.can('analysis_link')">
                                        <div class="landpage-div clearfix">
                                            <h4 class="landpage-title">link</h4>
                                            <div ng-if="card.link">       
                                                <table ng-if="Util.isArray(card.link)" class="table table-hover">
                                                    <tr ng-repeat="item in (card.link | unique) track by $index">
                                                        <td ng-if="item"> 
                                                            <a ng-href="{{item}}" target="_blank" class="text-nowrap ">{{item | limitTo:80}}<span ng-show="item.length>80">...</span></a>
                                                            <span ng-show="card.snapshot">
                                                                <i class="glyphicon glyphicon-eye-open linksnapshot-icon" uib-popover-template="'views/snapshot-popover.html' | nocache" popover-placement="top"  popover-is-open="issnapshot" ng-mouseenter="issnapshot=true" ng-mouseleave="issnapshot=false" >  
                                                                </i>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <table ng-if="!Util.isArray(card.link)" class="table table-hover">
                                                    <tr>
                                                        <td>
                                                            <a ng-href="{{card.link}}" target="_blank" class="text-nowrap ">{{card.link | limitTo:80}}<span ng-show="card.link.length>80">...</span></a>
                                                            
                                                            <i ng-show="card.snapshot" class="glyphicon glyphicon-eye-open linksnapshot-icon" uib-popover-template="'views/snapshot-popover.html' | nocache" popover-placement="top"  popover-is-open="issnapshot" ng-mouseenter="issnapshot=true" ng-mouseleave="issnapshot=false" ></i>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <h4 class="landpage-title">buttonlink</h4>
                                            <div ng-if="card.buttonlink">
                                                <table ng-if="Util.isArray(card.buttonlink)" class="table table-hover">
                                                    <tr ng-repeat="item in (card.buttonlink | unique) track by $index" ng-if="item">
                                                        <td >
                                                            <a ng-href="{{item}}" target="_blank" class="text-nowrap ">{{item | limitTo:80}}<span ng-show="item.length>80">...</span></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <table ng-if="!Util.isArray(card.buttonlink)" class="table table-hover" >
                                                    <tr>
                                                        <td>
                                                            <a ng-href="{{card.buttonlink}}" target="_blank" class="text-nowrap ">{{card.buttonlink | limitTo:80}}...</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>   
                                            <h4 class="landpage-title">description</h4>
                                            <div ng-if="card.dest_site">
                                                <table ng-if="Util.isArray(card.dest_site)" class="table table-hover">
                                                    <tr ng-repeat="item in (card.dest_site | unique) track by $index">
                                                        <td ng-if="item">
                                                            <a ng-href="{{item}}" target="_blank" class="text-nowrap ">{{item | limitTo:80}}<span ng-show="item.length>80">...</span></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <table ng-if="!Util.isArray(card.dest_site)" class="table table-hover">
                                                    <tr>
                                                        <td>
                                                            <a ng-href="{{card.dest_site}}" target="_blank" class="text-nowrap ">{{card.dest_site | limitTo:80}}...</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center text-danger" ng-if="!User.can('analysis_link')">
                                        <span>Please Upgrade your account!</span>
                                    </div>
                                </div>
                                <!-- end Landpage-->
                                
                                <!--begin Engagements-->
                                <div id="Engagements" class="clearfix">
                                    <h4 class="font-yellow-gold">Engagements</h4>
                                    <div ng-if="User.can('analysis_trend')">
                                        <div class="text-center" ng-show="adSearcher.isLoadingCharts">
                                            <i class="fa fa-spinner fa-spin"></i>Loading Charts...
                                        </div>
                                        <div class="text-center" ng-show="adSearcher.noTrends">
                                            <span>no trends data...</span>
                                        </div>
                                        <div class="col-xs-12" ng-if="adSearcher.commentsTrend">
                                            <highchart  config="adSearcher.commentsTrend"></highchart>
                                        </div>

                                        <div class="col-xs-12" ng-if="adSearcher.engagementsTrend">
                                            <highchart  config="adSearcher.engagementsTrend"></highchart>
                                        </div>

                                        <div class="col-xs-12" ng-if="adSearcher.likesTrend">
                                            <highchart  config="adSearcher.likesTrend"></highchart>
                                        </div>
                                        <button  class="btn font-yellow-gold btn-link" ng-click="adSearcher.showAllTrend=true" ng-if="adSearcher.sharesTrend || adSearcher.viewsTrend" ng-show="!adSearcher.showAllTrend">More...</button>
                                        <div class="col-xs-12" ng-if="adSearcher.sharesTrend" ng-show="adSearcher.showAllTrend">
                                            <highchart  config="adSearcher.sharesTrend"></highchart>
                                        </div>

                                        <div class="col-xs-12" ng-if="adSearcher.viewsTrend" ng-show="adSearcher.showAllTrend">
                                            <highchart  config="adSearcher.viewsTrend"></highchart>
                                        </div>
                                    </div>
                                    <div class="text-center text-danger" ng-if="!User.can('analysis_trend')">
                                        <span>Please Upgrade your account!</span>
                                    </div>
                                </div>
                                <!-- end Engagements -->
                                <!-- begin audience -->
                                <div id="audience">
                                    <h4 class="font-yellow-gold">Audience</h4>

                                    <div ng-if="User.can('analysis_audience')">
                                        <table ng-if="card.whyseeads_all" class="table table-hover">
                                            <tr ng-repeat="item in card.whyseeads_all track by $index">
                                                <td>
                                                    <!-- <a title="All ads by this audience" target="_blank" ng-href="adsearch?searchText={{item}}&searchFields=whyseeads,whyseeads_all">{{item}}</a> -->
                                                    <a title="All ads by this audience">{{item}}</a>
                                                </td>
                                            </tr>
                                        </table>
                                        <table ng-if="card.whyseeads" class="table table-hover">
                                            <tr ng-repeat="item in card.whyseeads track by $index">
                                                <td>
                                                    <!-- <a title="All ads by this audience" target="_blank" ng-href="adsearch?searchText={{item}}&searchFields=whyseeads,whyseeads_all">{{item}}</a> -->
                                                    <a title="All ads by this audience">{{item}}</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="text-center text-danger" ng-if="!User.can('analysis_audience')">
                                        <span>Please Upgrade your account!</span>
                                    </div>

                                </div>
                                <!-- end audience-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
