<div ng-controller="AdAnalysisController" id="an-analysis" class="ad-analysis container alert">
    <div class="analy-overview row">
        <div class="col-sm-6 analy-adscard">
            <div class="adscard-body">
                <div class="adscard-header">
                    <a ng-href="https://www.facebook.com/{{card.adser_username}}" target="_blank">
                        <img src="{{settings.imgRemoteBase[0] + card.small_photo}}" alt="" class="card-adserhead">
                    </a>
                    <div class="card-adsername-div">
                        <p class="ads-font-16 ads-weight-bold card-adsername">
                            <a class="" ui-sref="adser({name:card.adser_name, adser:card.adser_username})" target="_blank">
                                <span ng-bind-html="card.adser_name | toHtml" ng-show="card.adser_name"></span>
                                <span ng-show="!card.adser_name">{{card.adser_username}}</span>
                            </a>
                        </p>
                        <p class="card-time ads-font-14">
                            {{card.first_see}}~{{card.last_see}}
                        </p>
                    </div>
                </div>
                <div class="adscard-contend">
                    <single-image ng-if="card.type == 'SingleImage'" card="card">
                    </single-image>
                    <single-video ng-if="card.type == 'SingleVideo'" card="card"></single-video>
                    <carousel ng-if="card.type == 'Carousel'" card="card">
                    </carousel>
                    <adcanvas ng-if="card.type == 'Canvas'" card="card"></adcanvas>
                </div>
            </div>
        </div>
        <div class="col-sm-6 analy-info">
            <p><span>Time:</span>{{card.first_see}}~{{card.last_see}}</p>
            <p><a ng-href="https://www.facebook.com/{{id}}" class="btn btn-primary" target="_blank">See Original Post</a></p>
            <p>Ad placement: <span>{{card.show_way | adsTypes}}</span></p>
            <p>Objective:</p>
            <p>Landing page:</p>
            <p></p>
        </div>
    </div>
    <hr>
    <div class="analy-charts row">
        <div class="col-md-6 charts-left">
            <p class="charts-title">How are site sessions trending?</p>
            <p class="charts-subtitle">Last 30 days VS. previous period</p>
            <div class="charts-wrapper">
                <highchart class="charts-line" config="lineCharts"></highchart>
            </div>
        </div>
        <div class="col-md-6 charts-right">
            <div class="alert">
                <div id="ads-highmap" highmap>地图</div>
                <button id="big">big</button>
                <button id="small">small</button>
            </div>
        </div>
    </div>
    <div class="analy-charts analy-charts-row2 row">
        <div class="col-md-6 row">
            <div class="col-md-12">
                <p class="charts-title">How are site sessions trending?</p>
                <p class="charts-subtitle">Last 30 days VS. previous period</p>
            </div>
            <div class="col-md-6 charts-wrapper">
                <highchart class="charts-pie" config="pieCharts"></highchart>
            </div>
            <div class="col-md-6 charts-wrapper">
                <highchart class="charts-bar" config="barCharts"></highchart>
            </div>
        </div>
        <div class="col-md-6">
            不知道是啥
        </div>
    </div>

    <div class="row cahrts-stat-row" ng-if="card.whyseeads.interests" mg-init="abc = 0 ">
        <div class="col-md-12">
            <P class="charts-title">CATEGORY DISTRIBUTION</P>
            <div class="charts-stat-bar">
                <div class="stat-wrapper" ng-repeat="(key,value) in card.whyseeads.interests track by $index">
                    <i class="fa fa-bookmark-o ads-font-18 stat-icon"></i>
                    <div class="stat-name">{{key}}</div>
                    <div class="progress stat-progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{(value / interestsCount) * 100}}%;">
                        </div>
                    </div>
                    <div class="stat-number">{{((value / interestsCount) * 100).toFixed(2)}}%</div>
                </div>
                
            </div>
        </div>
    </div>
</div>