<!-- BEGIN MAIN CONTENT -->
<div id="plans" class="container" ng-controller="PlansController">
    <div class="plan-header text-center">
        <p class="ads-font-36 ads-weight-400 header-title">What Are You Waiting For?</p>
        <p class="ads-font-20 ads-weight-400 header-suptitle">Join thousands of users to know your competitor's profitable marketing strategy now.</p>
    </div>
    <div class="pricing-adscard row">
        <div class="adscard-free col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0">
            <div class="card-div panel">
                <div class="panel-body adscard-head">
                    <p class="text-center ads-font-28 adscard-title">FREE</p>
                    <P class="text-center ads-font-16 adscard-text hidden">
                        Largest free social media ad examples.
                    </P>
                    <hr>
                    <p class="text-center pricing-money-p">
                        <span class="ads-font-26">$</span>
                        <span class="ads-font-30">0.00</span>
                        <span claaa="ads-font-16">/month</span>
                    </p>
                </div>
                <table class="table text-left ads-font-18">
                    <tr>
                        <td>Data Update Frequency: Weekly</td>
                    </tr>
                    <tr>
                        <td>Limited Data Access</td>
                    </tr>
                    <tr>
                        <td>See Data from 2 Months Before</td>
                    </tr>
                    <tr>
                        <td>Single Bookmark Folder</td>
                    </tr>
                    <tr>
                        <td>Limited Data Filter</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                </table>
                <div class="panel-body adscard-foot">
                    <a ng-href="../register" class="btn adscard-btn ads-font-18 ads-weight-600">Sign Up</a>
                </div>
            </div>
        </div>
        <div class="adscard-stand col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0">
            <div class="stand-card-div" ng-class="{'transform-turn' : isTurn}">
                <div id="stand-card" class="card-div panel stand-card ">
                    <div class="panel-body adscard-head">
                        <p class="text-center ads-font-28 adscard-title">STANDARD</p>
                        <P class="text-center ads-font-16 adscard-text hidden">
                            Advanced features, see millions of new ad creations every month.
                        </P>
                        <hr>
                        <p class="text-center pricing-money-p">
                            <span class="ads-font-26">$</span>
                            <span class="ads-font-30">99.00</span>
                            <span claaa="ads-font-16">/month</span>
                        </p>
                    </div>
                    <table class="table text-left ads-font-18">
                        <tr>
                            <td>Data Update Frequency: Daily</td>
                        </tr>
                        <tr>
                            <td>Full Data Access(8 Millions+)</td>
                        </tr>
                        <tr>
                            <td>See Latest Data</td>
                        </tr>
                        <tr>
                            <td>Multiple Bookmark Folder</td>
                        </tr>
                        <tr>
                            <td>Advanced Data Filter</td>
                        </tr>
                        <tr>
                            <td>Mobile Ads &amp; App Ads</td>
                        </tr>
                        <tr>
                            <td>Search for Audience &amp; Interests</td>
                        </tr>
                    </table>
                    <div class="panel-body adscard-foot">
                        <a class="btn adscard-btn ads-font-18 ads-weight-600" ng-click="showPlanItem()">Sign Up</a>
                    </div>
                </div>
                <div id="pricing-card" class="panel card-div pricing-card">
                    <div class="panel-body">
                        <span class="pricingcrad-back glyphicon glyphicon-menu-left ads-font-14" ng-click="hiddenPlanItem()"></span>
                        <p class="ads-font-28 text-center pricing-title">Choose Your Plan</p>
                        <div class="card-banner ads-font-16">
                            One-week money-back guarantee
                            <div class="inon-tri-let">
                            </div>
                            <div class="inon-tri-right">
                            </div>
                            <div class="inon-mark ads-font-14 hidden">
                                ?
                            </div>
                        </div>
                        <a pay-check name="standard_monthly" plan="{{userPlan}}">
                            <div class="pricing-info-div row">
                                <div class="col-xs-7 pricing-cost-div">
                                    <div class="ads-font-24 pricing-name">Monthly</div>
                                    <div>
                                        <span class="ads-font-16 pricing-money">$99.00</span>/<span class="ads-font-14">month</span>
                                    </div>
                                </div>
                                <div class="col-xs-5 select-btn-div">
                                    <span class="btn select-btn ads-font-16">Select Plan</span>
                                </div>
                            </div>
                        </a>
                        <a pay-check name="standard_quarter_monthly" plan="{{userPlan}}">
                            <div class="pricing-info-div row">
                                <div class="col-xs-7 pricing-cost-div">
                                    <div class="ads-font-24 pricing-name">Quarterly</u>
                                    </div>
                                    <div>
                                        <span class="ads-font-16 pricing-money">$69.00</span>/<span class="ads-font-14 ads-weight-200">month</span>
                                        <p class="ads-font-14 ads-weight-200">Billed as one payment of $207.00</p>
                                    </div>
                                </div>
                                <div class="col-xs-5 select-btn-div">
                                    <span class="btn select-btn ads-font-16">Select Plan</span>
                                </div>
                            </div>
                        </a>
                        <a pay-check name="standard" plan="{{userPlan}}">
                            <div class="pricing-info-div row">
                                <div class="col-xs-7 pricing-cost-div">
                                    <div class="ads-font-24 pricing-name">Annual</div>
                                    <div>
                                        <span class="ads-font-16 pricing-money">$49.00</span>/<span class="ads-font-14 ads-weight-200">month</span>
                                        <p class="ads-font-14 ads-weight-200">Billed as one payment of $588.00</p>
                                    </div>
                                </div>
                                <div class="col-xs-5 select-btn-div">
                                    <span class="btn select-btn ads-font-16">Select Plan</span>
                                </div>
                                <div class="info-mark">
                                    BEST VALUE
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="plan-table">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1 table-responsive alert">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td class="ads-font-12 ads-weidth-600 text-center">FEATURES</td>
                            <td class="ads-font-24 ads-weidth-600 text-center">Free</td>
                            <td class="ads-font-24 ads-weidth-600 text-center">
                                Lite
                                <p class="plan-small">coming soon</p>
                            </td>
                            <td class="ads-font-24 ads-weidth-600 text-center">Standard</td>
                            <td class="ads-font-24 ads-weidth-600 text-center">
                                Plus</p>
                                <p class="plan-small">coming soon</p>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-item-title">
                            <td>Data Time Interval</td>
                            <td>3 Months</td>
                            <td>2 weeks</td>
                            <td>Daily</td>
                            <td>Daily</td>
                        </tr>
                        <tr>
                            <td>Search Mode</td>
                            <td><i class="plan-right"></i></td>
                            <td><i class="plan-right"></i></td>
                            <td><i class="plan-right"></i></td>
                            <td><i class="plan-right"></i></td>
                        </tr>
                        <tr>
                            <td>Sort by Filter</td>
                            <td><i class="plan-right"></i></td>
                            <td><i class="plan-right"></i></td>
                            <td><i class="plan-right"></i></td>
                            <td><i class="plan-right"></i></td>
                        </tr>
                        <tr class="table-item-title">
                            <td>Call to Action Filter</td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                        </tr>
                        <tr class="table-item-title">
                            <td>Language Filter
                                <span class="plan-beta">BETA<span>
                        </td>
                        <td>
                            <i class="plan-right"></i>
                        </td>
                        <td>
                            <i class="plan-right"></i>
                        </td>
                        <td>
                            <i class="plan-right"></i>
                        </td>
                        <td>
                            <i class="plan-right"></i>
                        </td>
                    </tr>
                    <tr class="table-item-title">
                        <td>Ad Placement Filter</td>
                        <td><i class="plan-error"></i></td>
                        <td><i class="plan-right"></i></td>
                        <td><i class="plan-right"></i></td>
                        <td><i class="plan-right"></i></td>
                    </tr>
                    <tr class="table-item-title">
                        <td>Ad Type Filter</td>
                        <td>
                            <i class="plan-error"></i>
                        </td>
                        <td>
                            <i class="plan-right"></i>
                        </td>
                        <td>
                            <i class="plan-right"></i>
                        </td>
                        <td>
                            <i class="plan-right"></i>
                        </td>
                    </tr>
                    <tr class="table-item-title">
                        <td>Objective Filter
                            <span class="plan-beta">BETA<span>
                            </td>
                            <td>
                                <i class="plan-error"></i>
                            </td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>Customized Ad Duration Filter
                            </td>
                            <td>
                                <i class="plan-error"></i>
                            </td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>Customized Ad Engagement Filter
                            </td>
                            <td><i class="plan-error"></i></td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                        </tr>
                        <tr class="table-item-title">
                            <td>Country Filter
                                <span class="plan-beta">BETA<span>
                        </td>
                        <td>
                            <i class="plan-error"></i>
                        </td>
                        <td>
                            <i class="plan-right"></i>
                        </td>
                        <td>
                            <i class="plan-right"></i>
                        </td>
                        <td>
                            <i class="plan-right"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Audience Filter
                            <span class="plan-beta">BETA<span>
                        </td>
                        <td><i class="plan-error"></i></td>
                        <td><i class="plan-error"></i></td>
                        <td>
                            <i class="plan-right"></i>
                        </td>
                        <td>
                            <i class="plan-right"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Customized Time Filter</td>
                        <td>
                            <i class="plan-error"></i>
                        </td>
                        <td>
                            <i class="plan-error"></i>
                        </td>
                        <td>
                            <i class="plan-right"></i>
                        </td>
                        <td>
                            <i class="plan-right"></i>
                        </td>
                    </tr>
                    <tr class="table-item-title">
                        <td>Eshop Platform Filter
                            <span class="plan-beta">BETA<span>
                        </td>
                        <td><i class="plan-error"></i></td>
                        <td>
                            <i class="plan-error"></i>
                        </td>
                        <td>
                            <i class="plan-right"></i>
                        </td>
                        <td>
                            <i class="plan-right"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Ad Insight <span class="plan-beta">BETA<span></td>
                            <td>Limited</td>
                            <td>Limited</td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                        </tr>
                        <tr class="table-item-title">
                            <td>Ad Bookmark</td>
                            <td>Single</td>
                            <td>
                                Multiple
                            </td>
                            <td>
                                Multiple
                            </td>
                            <td>
                                Unlimited
                            </td>
                        </tr>
                        <tr>
                            <td>Advanced Sort by Filter</td>
                            <td><i class="plan-error"></i></td>
                            <td>
                                <i class="plan-error">
                        </td>
                        <td>
                            <i class="plan-error">
                        </td>
                        <td><i class="plan-right"></i></td>
                        </tr>
                        <tr class="table-item-title">
                            <td>Keyword Analysis</td>
                            <td><i class="plan-error"></i></td>
                            <td>
                                <i class="plan-error"></i>
                            </td>
                            <td>
                                <i class="plan-error"></i>
                            </td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>Advertiser Search</td>
                            <td><i class="plan-error"></i></td>
                            <td>
                                <i class="plan-error"></i>
                            </td>
                            <td>
                                <i class="plan-error"></i>
                            </td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>Advertiser Analysis</td>
                            <td>
                                <i class="plan-error"></i>
                            </td>
                            <td>
                                <i class="plan-error"></i>
                            </td>
                            <td>
                                <i class="plan-error"></i>
                            </td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                        </tr>
                        <tr class="table-item-title">
                            <td>Competitor Analysis</td>
                            <td>
                                <i class="plan-error"></i>
                            </td>
                            <td>
                                <i class="plan-error"></i>
                            </td>
                            <td>
                                <i class="plan-error"></i>
                            </td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>Advertiser Bookmark</td>
                            <td>
                                <i class="plan-error"></i>
                            </td>
                            <td>
                                <i class="plan-error"></i>
                            </td>
                            <td>
                                <i class="plan-error"></i>
                            </td>
                            <td>
                                <i class="plan-right"></i>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot class="hidden">
                        <tr class="text-center" id="app-to-top">
                            <td class="tfoot-item-titel">
                            </td>
                            <td>
                                <a href="#plan" class="btn">Start Now</a>
                            </td>
                            <td>
                                <a href="#plan" class="btn">Start Now</a></td>
                            <td>
                                <a href="#plan" class="btn">Start Now</a></td>
                            <td>
                                <a href="#plan" class="btn">Start Now</a></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
